<!doctype html>
<!-- manifest="manifest.appcache" -->
<html data-ng-app="marketplace" xmlns:ng="http://angularjs.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="initial-scale=1.0" />
	<meta name="viewport" content="maximum-scale=1.0" />
	<meta name="viewport" content="user-scalable=no" />
	<meta name="viewport" content="width=device-width" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta name="theme-color" content="#FFFFFFFF">
	<meta name="msapplication-navbutton-color" content="#FFFFFFFF">
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="application-name" content="click suscribe" />
	<meta name="application-tooltip" content="click suscribe" />
	<meta name="apple-mobile-web-app-title" content="click suscribe" />
	<meta name='apple-mobile-web-app-capable' content='yes' />
	<meta name='apple-touch-fullscreen' content='yes' />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name='apple-mobile-web-app-status-bar-style' content='#FFFFFFFF' />
	<meta name="application-bavbutton-color" content="#FFFFFFFF" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFFFF" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="apple-touch-icon-precomposed" href="images/appIcon.png" />
	<link rel="apple-touch-icon" href="images/appIcon.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="images/appIcon.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="images/appIcon.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="images/appIcon.png" />
	<link rel="apple-touch-startup-image" href="images/appIcon.png" />
	<link rel="apple-touch-startup-image" href="images/appIcon.png" media="screen and (max-device-width : 320px)" />
	<link rel="apple-touch-startup-image" href="images/appIcon.png" media="(max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2)"
	/>
	<link rel="apple-touch-startup-image" href="images/appIcon.png" media="(max-device-width : 548px) and (-webkit-min-device-pixel-ratio : 2)"
	/>
	<link rel="apple-touch-startup-image" sizes="1024x748" href="images/appIcon.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)"
	/>
	<link rel="apple-touch-startup-image" sizes="768x1004" href="images/appIcon.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)"
	/>
	<link rel="apple-touch-icon" href="images/appIcon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/appIcon.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/appIcon.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="images/appIcon.png" />

	<div ng-cloak ng-if="!currentDistribuidor.PestanaNavegador" >
		<title >Click Suscribe | CompuSoluciones</title>
	</div>
	<div ng-cloak ng-if="currentDistribuidor.PestanaNavegador" >
		<title > {{currentDistribuidor.PestanaNavegador}}</title>
	</div>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	 crossorigin="anonymous">

	 <link rel="stylesheet" href="styles/angularjs-color-picker.min.css" />
	 <!-- only include if you use bootstrap -->
	 <link rel="stylesheet" href="styles/angularjs-color-picker-bootstrap.min.css" />

	<link href="styles/bootstrap-tour.css" rel="stylesheet" />

	<link href="styles/css/style.css" rel="stylesheet" type="text/css" />
	<link href="styles/css/landing.css" rel="stylesheet" type="text/css" />
	<link href="styles/ngToast.css" rel="stylesheet" type="text/css" />
	<link href="styles/css/media.css" rel="stylesheet" type="text/css" />

	<link href="styles/animations.css" rel="stylesheet" type="text/css" />
	<link href="styles/pulse.css" rel="stylesheet" type="text/css">

</head>

<body id="MarketPlaceBody" ng-controller="IndexController" class="ng-cloak" ng-cloak>

	<header class="navbar-fixed-top"	>
		<div class="container-fluid">

			<!--Menu general-->
			<div class="row" style="background:#4a7bab;" ng-hide="selectMenu()">
				<div class="helpStart" ng-show="(SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7) && (SessionCookie.LeyoTerminos == 1)"
				 ng-click="IniciarTour();"><i class="fa fa-question-circle"></i></div>
				<div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 hidden-xs hidden-sm " style="background:#fff;">
					<div style="height:110px;">
						<a href="#/"> <img src="images/LogoSVG.svg" class="img-responsive" style="width:100%; text-align:center;"> </a>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px; ">

							<nav class="navbar navbar-default" role="navigation">

								<div class="navbar-header">
									<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
									<a class="navbar-brand" ng-click="goToPage('');" style="padding:10px 12px!important">
										<div class="hidden-md hidden-lg">
											<img src="images/Marketplace.png" width="30px">
										</div>
									</a>
								</div>

								<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" style="border:none; margin-top:0; padding-top:0;">
									<div class="distintivo pull-left">
									</div>
									<ul class="nav navbar-nav navbar-right">

										<li id="menuDistribuidores" class="gris" ng-show="SessionCookie.LeyoTerminos == 1 && SessionCookie.distribuidores.length > 1 && SessionCookie.IdTipoAcceso == 4 || SessionCookie.IdTipoAcceso == 6"
										 dropdown>
											<a dropdown-toggle>
												<div class="text">Sitios</div> <b class="caret"></b></a>
											<ul class="dropdown-menu gris">
												<li ng-repeat="Distribuidor in SessionCookie.distribuidores">
													<a ng-click="cambiarDistribuidor(Distribuidor, true);">{{Distribuidor.NombreEmpresa}}</a>
												</li>
											</ul>
										</li>

										<li class="principalBlue five" ng-show="(SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7) && (SessionCookie.LeyoTerminos == 1)">
											<a ng-click="goToPage('Productos');"> <span class="fa fa-shopping-bag"></span>
												<div class="title"> Ver todos los productos</div>
											</a>
										</li>

										<li class="yellow" ng-show="(SessionCookie.IdTipoAcceso == 1) && (SessionCookie.LeyoTerminos == 1)">
											<a ng-click="goToPage('Empresas');"><span class="fa fa-building-o" style="padding-right:5px;"></span> Distribuidores</a>
										</li>

										<li class="principalBlue" ng-show="(SessionCookie.IdTipoAcceso == 1) && (SessionCookie.LeyoTerminos == 1)">
											<a ng-click="goToPage('Niveles');"><span class="fa fa-star" style="padding-right:5px;"></span> Niveles</a>
										</li>

										<li class="green" ng-show="(SessionCookie.IdTipoAcceso == 1) && (SessionCookie.LeyoTerminos == 1)">
											<a ng-click="goToPage('Descuentos');"><span class="fa fa-usd" style="padding-right:5px;"></span> Descuentos</a>
										</li>

										<li class="red" ng-show="(SessionCookie.IdTipoAcceso == 1) && (SessionCookie.LeyoTerminos == 1)">
											<a ng-click="goToPage('Promocions');"> <span class="fa fa-pencil-square-o" style="padding-right:5px;"></span> Banners</a>
										</li>

										<li class="yellow" ng-show="(SessionCookie.IdTipoAcceso == 1) && (SessionCookie.LeyoTerminos == 1)">
											<a ng-click="goToPage('Usuarios');"><span class="fa fa-users" style="padding-right:5px;"></span> Administradores</a>
										</li>

										<li class="principalBlue" ng-show="(SessionCookie.IdTipoAcceso == 1) && (SessionCookie.LeyoTerminos == 1)">
											<a ng-click="goToPage('Reportes');"><span class="fa fa-bar-chart" style="padding-right:5px;"></span> Reportes</a>
										</li>

										<li id="menuEmpresa" class="yellow one" ng-show="(SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 4 || SessionCookie.IdTipoAcceso == 5 || SessionCookie.IdTipoAcceso == 6  || SessionCookie.IdTipoAcceso == 7) && (SessionCookie.LeyoTerminos == 1)"
										 dropdown>
											<a dropdown-toggle><span class="fa fa-building-o"></span><div class="text">{{ SessionCookie.NombreEmpresa | limitTo: 10}} {{SessionCookie.NombreEmpresa.length > 10 ? '...' : ''}}</div> <b class="caret"></b></a>
											<ul class="dropdown-menu yellow">
												<li ng-show="SessionCookie.IdTipoAcceso == 4"><a href="#/Empresa/{{SessionCookie.IdEmpresa}}">Actualizar {{ SessionCookie.NombreEmpresa }}</a></li>
												<li ng-show="SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 7"><a ng-click="goToPage('Clientes');">Mis clientes</a></li>
												<li><a ng-show="SessionCookie.IdTipoAcceso == 1 || SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 4 || SessionCookie.IdTipoAcceso == 7"
													 ng-click="goToPage('Usuarios');">Mis colaboradores</a></li>												
												<li><a ng-click="goToPage('Monitor');">Monitor de pedidos por cliente</a></li>
												<li id="monitorPagos" ng-show="SessionCookie.IdTipoAcceso == 2"><a ng-click="goToPage('MonitorPagos');">Monitor de pedidos por pagar</a></li>
												<li id="monitorPagos" ng-show="SessionCookie.IdTipoAcceso == 2 && SessionCookie.IdEmpresa == 110"><a ng-click="goToPage('aplicaciones');">Aplicaciones</a></li>
												<li id="activarMisProductos" ng-show="SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7"><a ng-click="goToPage('Reportes');">Reportes</a></li>
											</ul>
										</li>

										<li class="gris" ng-show="(SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 4 || SessionCookie.IdTipoAcceso == 5 || SessionCookie.IdTipoAcceso == 6  || SessionCookie.IdTipoAcceso == 7) && (SessionCookie.LeyoTerminos == 1) && SessionCookie.IdPlanTuClick !== null"
										 dropdown>
											<a dropdown-toggle><span class="fa fa-mouse-pointer" aria-hidden="true"></span><div class="text">TuClick</div> <b class="caret"></b></a>
											<ul class="dropdown-menu yellow">
												<li id="activarMiSitio" ng-show="((SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3) && SessionCookie.IdPlanTuClick !== null)"><a ng-click="goToPage('Configuracion');">Activar mi sitio</a></li>												
												<li id="actualizarDatos" ng-show="SessionCookie.IdTipoAcceso == 2 && SessionCookie.mFacturacion == 1"><a ng-click="goToPage('actualizar-datos-facturacion');">Mis datos de facturación</a></li>
												<li id="facturasPendientes" ng-show="SessionCookie.IdTipoAcceso == 2 && SessionCookie.mFacturacion == 1"><a ng-click="goToPage('facturas-pendientes');">Facturas de mis clientes</a></li>
												<li id="activarMisProductos" ng-show="SessionCookie.IdTipoAcceso == 2 && SessionCookie.IdPlanTuClick !== null"><a ng-click="goToPage('MisProductos');">Activar mis productos</a></li>
												<li id="activarMiBanner" ng-show="((SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3) && SessionCookie.IdPlanTuClick !== null)"><a ng-click="goToPage('Promocions');">Banners</a></li>
												<li id="activarMiBanner" ng-show="((SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3) && SessionCookie.IdPlanTuClick !== null)"><a ng-click="goToPage('Niveles/Distribuidor');">Niveles de descuento</a></li>
												<li id="activarMiBanner" ng-show="((SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3) && SessionCookie.IdPlanTuClick !== null)"><a ng-click="goToPage('ConfigurarRPs/FinalUser');">Asignar niveles</a></li>
												<li id="monitorConsulta" ng-show="((SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3) && SessionCookie.IdPlanTuClick !== null)"><a ng-click="goToPage('MonitorConsulta');">Monitor Consulta</a></li>
											</ul>
										</li>

										<li class="green four" ng-show="(SessionCookie.IdTipoAcceso == 1 || SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 4 || SessionCookie.IdTipoAcceso == 5 || SessionCookie.IdTipoAcceso == 6 || SessionCookie.IdTipoAcceso == 7) && (SessionCookie.LeyoTerminos == 1)">
											<a href="#/Usuario/{{SessionCookie.IdUsuario}}"> <span class="glyphicon glyphicon-user"></span>
												<div class="text">{{SessionCookie.Nombre}} {{SessionCookie.ApellidoPaterno }}
													<span ng-show="!SessionCookie.ApellidoPaterno">
														.......
													</span>
												</div>
											</a>
										</li>
										<li class="yellow" ng-show="(SessionCookie.IdTipoAcceso == 1 || SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3)">
											<a ng-click="goToPage('monitor-soporte');"><span class="fa fa-ticket" style="padding-right:5px;"></span> Soporte </a>
										</li>

										<li id="shoppingCartBG" class="navColor two" ng-show="(SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3) && (SessionCookie.LeyoTerminos == 1)"
										 dropdown>
											<a dropdown-toggle ng-click="goToPage('Carrito');">
												<span id="shoppingCart" class="glyphicon glyphicon-shopping-cart"></span>
												<b id="shoppingCartAmount">&nbsp;{{ProductosCarrito}}</b>
												<b class="caret" ng-show="0"></b>
											</a>

											<ul ng-show="0" class="dropdown-menu navColor white">
												<li><a ng-click="goToPage('Carrito');">Mi carrito de compras</a></li>
												<li><a ng-click="goToPage('Favoritos');">Mis favoritos</a></li>
											</ul>
										</li>

										<li class="principalBlue" ng-show="SessionCookie.Nombre == undefined">
											<a ng-click="goToPage('');"><span class="fa fa-home" style="padding-right:5px;"></span> Click suscribe </a>
										</li>

										<li class="green" ng-show="SessionCookie.Nombre == undefined">
											<a ng-click="goToPage('Contacto');"><span class="fa fa-phone" style="padding-right:5px;"></span> Contacto </a>
										</li>

										<li class="yellow" ng-show="(SessionCookie.Nombre == undefined) || (SessionCookie.IdTipoAcceso == 4 || SessionCookie.IdTipoAcceso == 5 || SessionCookie.IdTipoAcceso == 6)">
											<a ng-click="goToPage('SoporteCSP');"><span class="fa fa-ticket" style="padding-right:5px;"></span> Soporte CSP</a>
										</li>

										<li class="red" ng-show="SessionCookie.Nombre !== undefined" style="padding-right:15px;">
											<a ng-click="CerrarSesion();"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
										</li>

										<li class="navColor" ng-show="SessionCookie.Nombre == undefined" style="padding-right:15px;">
											<a id="aIniciarSesion" ng-click="goToPage('Login');"><span class="glyphicon glyphicon-log-in" style="padding-right:5px;"></span> Iniciar sesión</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>

					<div class="row" ng-show="((SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7) && SessionCookie.Nombre !== undefined) && (SessionCookie.LeyoTerminos == 1)">

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 specialBlue search three">

							<form ng-submit="Buscar();">

								<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="input-group">

										<div class="form-group has-feedback">
											<input type="text" class="form-control" placeholder="Busca un producto..." ng-model="indexBuscarProductos.Busqueda" size="255">
											<i class="form-control-feedback glyphicon glyphicon-search"></i>
										</div>

										<span class="input-group-btn searchBar">
                                            <button class="btn btn-default kingBlue white" type="submit"> Buscar </button>
                                        </span>
									</div>
								</div>

							</form>

						</div>


					</div>

				</div>

			</div>
			<!--Menú UF-->
			<div class="row ng-hide" style="background:{{currentDistribuidor.SecondaryColor}};  height: 114px;" ng-show="selectMenu()">

				<div class="col-xs-0 col-sm-12 col-md-3 col-lg-3 hidden-xs hidden-sm" style="background:#fff;padding: 2px; position: absolute; z-index: 10; width: 330px;">
					<div style="height:110px;">
						<a href="#/"> <img ng-src="{{currentDistribuidor.UrlLogo}}" class="img-responsive" style="width:100%; text-align:center;"> </a>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px; ">

							<nav class="navbar navbar-default" role="navigation" style="background:{{currentDistribuidor.PrimaryColor}}">

								<div class="navbar-header">
									<button type="button" id="hamburguer" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
									<a class="navbar-brand" ng-click="goToPage('');" style="width: 100%;">
										<div class="hidden-md hidden-lg" style="background: white; display: flex; justify-content: center; align-items: center;">
											<img ng-src="{{currentDistribuidor.UrlLogo}}" width="300px">
										</div>
									</a>
								</div>

								<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" style="border:none; margin-top:0; padding-top:0;">
									<div class="distintivo pull-left">
									</div>
									<ul class="nav navbar-nav navbar-right">

										<li id="menuDistribuidores" class="gris" style="background:{{currentDistribuidor.PrimaryColor}}" ng-show="SessionCookie.LeyoTerminos == 1 && SessionCookie.distribuidores.length > 1"
										 dropdown>
											<a dropdown-toggle>
												<div class="text">Distribuidor</div> <b class="caret"></b></a>
											<ul class="dropdown-menu gris"  style="background:{{currentDistribuidor.PrimaryColor}}" >
												<li ng-repeat="Distribuidor in SessionCookie.distribuidores">
													<a ng-click="cambiarDistribuidor(Distribuidor, true);">{{Distribuidor.NombreEmpresa}}</a>
												</li>
											</ul>
										</li>

										<li class="gris" style="background:{{currentDistribuidor.PrimaryColor}}" ng-show="SessionCookie.LeyoTerminos == 1">
											<a ng-click="goToPage('uf/Productos');"> <span class="fa fa-shopping-bag"></span>
												<div class="title"> Ver todos los productos </div>
											</a>
										</li>

										<li id="menuEmpresa" class="gris" style="background:{{currentDistribuidor.PrimaryColor}}" ng-show="SessionCookie.LeyoTerminos == 1" dropdown>
											<a dropdown-toggle><span class="fa fa-building-o"></span><div class="text">{{ SessionCookie.NombreEmpresa | limitTo: 10}} {{SessionCookie.NombreEmpresa.length > 10 ? '...' : ''}}</div> <b class="caret"></b></a>
											<ul class="dropdown-menu gris" style="background:{{currentDistribuidor.PrimaryColor}} !important">
												<li><a href="#/Empresa/{{SessionCookie.IdEmpresa}}">Actualizar {{ SessionCookie.NombreEmpresa }}</a></li>
												<li><a ng-click="goToPage('Usuarios');">Mis colaboradores</a></li>
												<li><a ng-click="goToPage('Monitor/uf');">Monitor de pedidos</a></li>
												<li id="monitorPagos" ng-show="SessionCookie.IdTipoAcceso == 4"><a ng-click="goToPage('MonitorPagos/uf');">Monitor de pedidos por pagar</a></li>
												<!-- <li><a ng-click="goToPage('SoporteCSP');">Soporte CSP</a></li> -->
											</ul>
										</li>

										<li class="gris" style="background:{{currentDistribuidor.PrimaryColor}}" ng-show="SessionCookie.LeyoTerminos == 1">
											<a href="#/Usuario/{{SessionCookie.IdUsuario}}"> <span class="glyphicon glyphicon-user"></span>
												<div class="title">{{ SessionCookie.Nombre}} {{SessionCookie.ApellidoPaterno | limitTo: 5}} {{SessionCookie.ApellidoPaterno.length
													> 5 ? '...' : ''}}
													<span ng-show="!SessionCookie.ApellidoPaterno">
														.......
													</span>
												</div>
											</a>
										</li>

										<li id="shoppingCartBGUF" class="gris" style="background:{{currentDistribuidor.PrimaryColor}}" ng-show="SessionCookie.LeyoTerminos == 1" dropdown>
											<a dropdown-toggle ng-click="goToPage('uf/Carrito');">
												<span id="shoppingCartUF" class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
												<b id="shoppingCartAmountUF">&nbsp;{{ProductosCarrito}}</b>
												<b class="caret" ng-show="0"></b>
											</a>
										</li>

										<li class="gris" style="background:{{currentDistribuidor.PrimaryColor}}" ng-show="SessionCookie.Nombre !== undefined" style="padding-right:15px;">
											<a ng-click="CerrarSesion();"><span class="glyphicon glyphicon-log-out">&nbsp;</span> Cerrar sesión</a>
										</li>

										<li class="gris" style="background:{{currentDistribuidor.PrimaryColor}}" ng-show="SessionCookie.Nombre == undefined" style="padding-right:15px;">
											<a id="aIniciarSesion" ng-click="goToPage('Login');"><span class="glyphicon glyphicon-log-in" style="padding-right:5px;"></span> Iniciar sesión</a>
										</li>

									</ul>
								</div>
							</nav>
						</div>
					</div>

					<div class="row" ng-show="SessionCookie.LeyoTerminos == 1">

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search" style="background:{{currentDistribuidor.SecondaryColor}}">

							<form ng-submit="BuscarUF();">

								<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="input-group">

										<div class="form-group has-feedback">
											<input type="text" class="form-control" placeholder="Busca un producto..." ng-model="indexBuscarProductos.Busqueda" size="255">
											<i class="form-control-feedback glyphicon glyphicon-search"></i>
										</div>

										<span class="input-group-btn searchBar">
											<button class="btn btn-default white" type="submit" style="background:{{currentDistribuidor.PrimaryColor}} !important"> Buscar </button>
											</span>
									</div>
								</div>

							</form>

						</div>


					</div>
				</div>

			</div>

		</div>
	</header>

	<toast></toast>

	<main>
		<div class="container-fluid">

			<div class="divCargando" data-cargando>
				<div class=""><img src="images/ripple.svg" /></div>
			</div>

			<div data-ng-view autoscroll="true" class="slide-animation" style="margin-top:180px;"></div>

		</div>
		<br><br><br><br><br>
	</main>

	<footer>
		<div class="mycolumn2 ng-hide" ng-show="selectMenu()">
			<div style="background:{{currentDistribuidor.PrimaryColor}}" class="footer navbar-static-bottom">
				<div class="container-fluid">
					<div class="form-group row">
						<div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
							<div style="width:100%; color:#fff; font-size:12px; text-align:left!important; cursor:default;" class="pull-left">
								<label></label>
								<p class="textFooter" style="display:inline-block; margin-top:19px; vertical-align:bottom; margin-left:35px;">&nbsp; Powered by: CompuSoluciones ©</p>
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  hidden-xs hidden-sm pull-right" style="color:#fff;">
							<div class="pull-right">
								<p style="margin-top: 19px">
									<a ng-if="currentDistribuidor.UrlAvisoPrivacidad" style="color:#fff;" ng-href="{{currentDistribuidor.UrlAvisoPrivacidad}}">Aviso de privacidad</a>				
									&nbsp;  &nbsp; 
									<a ng-if="currentDistribuidor.UrlContacto"  style="color:#fff;" ng-href="{{currentDistribuidor.UrlContacto}}">Contacto</a>
								</p>
							</div>
						</div>
	
					</div>
				</div>
			</div>
		</div>
		
		<div class="mycolumn" ng-hide="selectMenu()">
			<div style="background:{{currentDistribuidor.PrimaryColor}}" class="footer navbar-static-bottom">
				<div class="container-fluid">
					<div class="form-group row">
						<div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
							<div style="width:100%; color:#fff; font-size:12px; text-align:left!important; cursor:default;" class="pull-left">
								<label></label>
								<img class="logoFooter" src="images/logoFooter.svg" width="150px;" style="display:inline-block; vertical-align:bottom;">
								<p class="textFooter" style="display:inline-block; margin:0; vertical-align:bottom; margin-left:35px;">&nbsp; Todos los derechos reservados CompuSoluciones 2018.</p>
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  hidden-xs hidden-sm pull-right" style="color:#fff;">
							<div class="pull-right">
								<label></label>
								<p>
									<a style="color:#fff" href="#/Version">Versiones</a>
									&nbsp; / &nbsp;
									<a style="color:#fff;" href="http://www.compusoluciones.com/aviso-de-privacidad/">Aviso de privacidad</a>
									&nbsp; /&nbsp;
									<a style="color:#fff;" href="https://www.compusoluciones.com/contacto/">Queremos Escucharte</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</footer>
		


	

	<!--scripts Angular JS Descargar en https://code.angularjs.org/1.5.3/-->
	<!--scripts Angular JS Descargar en https://code.angularjs.org/1.4.8/-->
	<!--scripts Angular JS Descargar en https://code.angularjs.org/1.4.6/-->
	<script type="text/javascript" src="scripts/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-tour-standalone.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/angular.min.js"></script>
	<script type="text/javascript" src="scripts/ng-text-truncate.js"></script>
	<script type="text/javascript" src="scripts/angular-route.min.js"></script>
	<script type="text/javascript" src="scripts/angular-cookies.min.js"></script>
	<script type="text/javascript" src="scripts/angular-animate.min.js"></script>
	<script type="text/javascript" src="scripts/angular-touch.min.js"></script>
	<script type="text/javascript" src="scripts/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="scripts/angular-filter.js"></script>
	<script type="text/javascript" src="scripts/angular-file-upload.min.js"></script>
	<script type="text/javascript" src="scripts/format-as-currency.js"></script>
	<script type="text/javascript" src="scripts/ngToast.js"></script>
	<script type="text/javascript" src="scripts/angular-ui-mask.js"></script>
	<script type="text/javascript" src="app/directives/loading.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/appSettings.js"></script>
	<script type="text/javascript" src="app/controllers/IndexController.js"></script>
	<script type="text/javascript" src="app/services/TiposProductosFactory.js"></script>
	<script type="text/javascript" src="app/services/TipoCambioFactory.js"></script>
	<script type="text/javascript" src="app/controllers/LandingController.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/ConfirmarCuentaController.js"></script>
	<script type="text/javascript" src="app/services/TiposAccesosFactory.js"></script>
	<script type="text/javascript" src="app/services/EstadosFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/TerminosReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/UsuariosCreateController.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/UsuariosReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/UsuariosUpdateController.js"></script>
	<script type="text/javascript" src="app/services/UsuariosFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasCreditoUpdateController.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasUpdateMicrosoftDomainController.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasCreateController.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasUpdateController.js"></script>
	<script type="text/javascript" src="app/controllers/Soporte/SoporteReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Soporte/SoporteCreateController.js"></script>
	<script type="text/javascript" src="app/controllers/Soporte/SoporteUpdateController.js"></script>
	<script type="text/javascript" src="app/controllers/Facturacion/FacturacionCreateController.js"></script>
	<script type="text/javascript" src="app/controllers/Facturacion/FacturacionReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Facturacion/FacturacionReadDetailsController.js"></script>
	<script type="text/javascript" src="app/controllers/Solicitudes/SolicitudReadController.js"></script>
	<script type="text/javascript" src="app/services/FacturacionFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasImportController.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasCompletarController.js"></script>
	<script type="text/javascript" src="app/controllers/PowerBI/PowerBIReadController.js"></script>
	<script type="text/javascript" src="app/services/EmpresasFactory.js"></script>
	<script type="text/javascript" src="app/services/SoporteFactory.js"></script>
	<script type="text/javascript" src="app/controllers/ReportesController.js"></script>
	<script type="text/javascript" src="app/services/ReportesFactory.js"></script>
	<script type="text/javascript" src="app/services/UsuariosXEmpresasFactory.js"></script>
	<script type="text/javascript" src="app/controllers/EmpresasXEmpresas/EmpresasXEmpresasReadController.js"></script>
	<script type="text/javascript" src="app/services/EmpresasXEmpresasFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Productos/ProductosReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Productos/ProductosUFReadController.js"></script>
	<script type="text/javascript" src="app/services/VersionFactory.js"></script>
	<script type="text/javascript" src="app/controllers/VersionControl/VersionController.js"></script>
	<script type="text/javascript" src="app/services/ProductosFactory.js"></script>
	<script type="text/javascript" src="app/services/PedidosFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Migracion/MigracionController.js"></script>
	<script type="text/javascript" src="app/controllers/Migracion/MigracionDetalleController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/ComprarController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/ComprarUFController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/PedidoDetallesReadController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/PedidoDetallesUFReadController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/MonitorReadController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/MonitorReadUFController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/MonitorConsultaController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/MonitorPagosController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/MonitorPagosUFController.js"></script>
	<script type="text/javascript" src="app/controllers/PedidoDetalles/DetallesAzureController.js"></script>
	<script type="text/javascript" src="app/services/PedidoDetallesFactory.js"></script>
	<script type="text/javascript" src="app/services/FabricantesFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Promocions/PromocionsCreateController.js"></script>
	<script type="text/javascript" src="app/controllers/Promocions/PromocionsReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Promocions/PromocionsUpdateController.js"></script>
	<script type="text/javascript" src="app/services/PromocionsFactory.js"></script>
	<script type="text/javascript" src="app/controllers/ProductoGuardados/ProductoGuardadosReadController.js"></script>
	<script type="text/javascript" src="app/services/ProductoGuardadosFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/UsuariosLoginController.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/DesbloquearCuentaController.js"></script>
	<script type="text/javascript" src="app/controllers/Usuarios/UsuariosRecuperarController.js"></script>
	<script type="text/javascript" src="app/controllers/ContactoController.js"></script>
	<script type="text/javascript" src="app/controllers/SugerenciasController.js"></script>
	<script type="text/javascript" src="app/controllers/SoporteController.js"></script>
	<script type="text/javascript" src="app/controllers/NavegadoresController.js"></script>
	<script type="text/javascript" src="app/services/AccesosAmazonFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Descuentos/DescuentosCreateController.js"></script>
	<script type="text/javascript" src="app/controllers/Descuentos/DescuentosNivelesCSController.js"></script>
	<script type="text/javascript" src="app/controllers/Descuentos/DescuentosReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Descuentos/DescuentosUpdateController.js"></script>
	<script type="text/javascript" src="app/services/DescuentosFactory.js"></script>
	<script type="text/javascript" src="app/services/MigracionFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Niveles/NivelesReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Niveles/NivelesClienteFinalController.js"></script>
	<script type="text/javascript" src="app/controllers/Descuentos/DescuentosNivelesController.js"></script>
	<script type="text/javascript" src="app/services/DescuentosNivelesFactory.js"></script>
	<script type="text/javascript" src="app/services/NivelesClienteFinalFactory.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/ConfiguracionUpdateController.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasRPController.js"></script>
	<script type="text/javascript" src="app/controllers/Empresas/EmpresasRPUFController.js"></script>
	<script type="text/javascript" src="app/controllers/Productos/MisProductosReadController.js"></script>
	<script type="text/javascript" src="app/controllers/Productos/ConfigurarBaseController.js"></script>
	<script type="text/javascript" src="app/controllers/Aplicaciones/AplicacionesReadController.js"></script>
	<script type="text/javascript" src="app/services/NivelesDistribuidorFactory.js"></script>
	<script type="text/javascript" src="app/services/ProductosXEmpresaFactory.js"></script>
	<script type="text/javascript" src="app/services/ComprasUFFactory.js"></script>
	<script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script type="text/javascript" src="scripts/angular-parallax.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
	<script type="text/javascript" src="scripts/aws-sdk-2.0.0-rc.18.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-tour.min.js"></script>
	<script type="text/javascript" src="scripts/ng-device-detector.js"></script>
	<script type="text/javascript" src="scripts/re-tree.js"></script>
	<script type="text/javascript" src="scripts/classie.js"></script>

	<!-- 404 lo comento para mas velocidad -->
	<!-- <script src="scripts/tinycolor2-min.js"></script> -->
	<script src="scripts/angularjs-color-picker.min.js"></script>

	<!-- Tarjeta Credito -->
	<script src="https://secure.na.tnspayments.com/checkout/version/44/checkout.js" data-error="errorCallback" data-complete="completeCallback"
	 data-cancel="cancelCallback">

	</script>

	<div id="divComprar" ng-controller="ComprarController" style="display:none;"></div>
	<div id="divComprarTuClick" ng-controller="ComprarUFController" style="display:none;"></div>
	<script type="text/javascript">
		function errorCallback(error) {
			alert('No pudimos procesar tu solictud en este momento, por favor intenta de nuevo más tarde.');
		}

		function cancelCallback() {
			confirm('¿Desea cancelar?');
		}

		function completeCallback(resultIndicator, sessionVersion) {
			angular.element(document.getElementById('divComprar')).scope().CreditCardPayment(resultIndicator, sessionVersion);
		}
	</script>

	<script>
						(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date(); a = s.createElement(o),
							m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
						})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

						ga('create', 'UA-75218308-1', 'auto');
						ga('send', 'pageview');

	$('#shoppingCartBG').click(function() {
		location.reload(true);
	});
		
	</script>
	<!--<script type="text/javascript" src="app/all.js"></script>-->

</body>

</html>