<div class="container login" ng-swipe-right="" ng-swipe-left="">

	<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h2 style="float:left;">Niveles de cliente
						<!--<i class="fa fa-question-circle tourButton" style="float:right; font-size:12px; margin-top:10px; margin-left:10px;" ng-click="IniciarTourColaborador();"></i>-->
					</h2>
			</div>
	</div>

	<div class="row">
		<div class="co-xs-12 col-xs-12 col-md-4 col-lg-4" style="float:right;">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Nombre del nivel" ng-model="newLevel"/>
				<span class="input-group-btn">
					<button class="btn btn-default" style="background:#00549F;" type="button" title="Agregar nivel" ng-click="addLevel(newLevel);">
						<span class="glyphicon glyphicon-plus white"></span>
					</button>
				</span>
			</div>
		</div>
	</div>

	<br>
	<div class="alert alert-danger">
		<strong>Nota importante *</strong>
		Al eliminar cualquier nivel se borraran todos los descuentos guardados anteriormente en dicho nivel.
	</div>

	<table class="table table-hover table-responsive border-left-right-cero">
		<th style="cursor:pointer" ng-click="OrdenarPor('Nombre')"><b> &nbsp; Nombre de nivel<span class="fa fa-sort"></span></b></th>
		<th>&nbsp;</th>
		<tr ng-repeat="level in levels | orderBy:sortBy:reverse" class="repeat-animation">
			<div class="form-group row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<td>
						<b>
							<h3> {{ level.Nivel }} </h3>
						</b>
						Desde el {{ level.FechaActivo }}
					</td>
					<td>                       
						<div class="pull-right">
							<b title="Eliminar"> <h4> <a ng-click="deleteLevel(level)"> <span class="glyphicon glyphicon-trash"></span> </a> </h4> </b>
						</div>
					</td>
					<td>
						<b title="Configurar descuentos"> <h4> <a ng-click="addDiscount(level)"> <span class="glyphicon glyphicon-list-alt"></span> </a> </h4> </b>
					</td>
				</div>
			</div>
		</tr>
	</table>

	<div class="form-group row">
			<div class="pull-left">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							Total de niveles: {{ levels.length }}
					</div>
			</div>
	</div>
</div>