.btn-monitor-pedidos-x-cliente {
    margin-right: .5em; 
    margin-top: .5em;
    min-width: 14em; 
    height: 2.8em;
    color: white;
}

.btn-monitor-pedidos-x-cliente:hover {
    color: white;
}

.btn-modal {
    margin-right: .5em; 
    margin-top: .5em;
    min-width: 7em; 
    height: 2.6em;
}