/*variables*/
/*colors*/
/*buttonsHovers*/
@font-face {
  font-family: 'newsgoth_lt_btlight';
  src: url("fonts/newsgotlb-webfont.eot");
  src: url("fonts/newsgotlb-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/newsgotlb-webfont.woff2") format("woff2"), url("fonts/newsgotlb-webfont.woff") format("woff"), url("fonts/newsgotlb-webfont.ttf") format("truetype"), url("fonts/newsgotlb-webfont.svg#newsgoth_lt_btlight") format("svg");
  font-weight: normal;
  font-style: normal; }
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

a {
  cursor: pointer; }

html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin-top: 117px;
  margin-left: 200px;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  color: blue;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.modal-header {
  padding: 2px 16px;
  background-color: #00549f;
  color: white; }

.btn-group {
  background-color: blue;
  /* blue background */
  border: 5px solid white;
  /* white border */
  color: white;
  /* White text */
  padding: 10px 34px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  float: right;
  /* Float the buttons side by side */
  width: 50%; }

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table; }

.btn-group button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */ }

.btn-group:hover {
  background-color: #0307ddce; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'newsgoth_lt_btlight';
  font-size: 13px;
  color: #444; }

.uppercase {
  text-transform: uppercase; }

/*colors classes*/
.principalBlue {
  background: #00549F; }

.skyblue {
  background: #4a7bab; }

.kingBlue {
  background: #012b50; }

.otherBlue {
  background: #3bbcc4; }

.softBlue {
  background: #e5e5e5;
  /*background:#A1CFFD;*/ }

.green {
  background: #68953B; }

.specialBlue {
  background: #4b7bab; }

.red {
  background: #BC112E; }

.orange {
  background: #eb3c00;
  height: 100%; }

.yellow {
  background: #DB9635; }

.white {
  color: #fff; }

.gris {
  background: #4c4c4c; }

/*generals*/
.border-left-right-cero {
  border-left: 0;
  border-right: 0; }

/*Containers*/
header {
  box-shadow: 2px 2px 8px grey;
  height: 110px;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

header img {
  height: 110px !important;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }

header.smaller {
  height: 70px;
  background-color: white; }

header.smaller img {
  height: 70px; }

.home {
  margin-top: -180px;
  height: 750px;
  background: url("../images/background.png") no-repeat fixed;
  background-size: cover;
  padding: 15% 120px; }
  .home .center-block {
    width: 82px; }
  .home h1 {
    font-size: 30px; }
  .home p {
    font-size: 15px; }

.separador {
  width: 104px;
  position: relative;
  z-index: 990;
  left: 47.5%;
  margin-top: -45px; }

.AutocadProducts {
  height: 400px;
  background: transparent;
  margin-top: -160px; }
  .AutocadProducts .image1 {
    position: relative;
    bottom: 0px; }
  .AutocadProducts .image2 {
    position: absolute;
    right: 0px;
    top: 80px;
    bottom: 0px; }
  .AutocadProducts .productOne {
    margin: 190px 180px 0px 10px; }

.distintivo {
  margin-top: 10px;
  margin-left: 10px;
  position: absolute; }

.distintivo img {
  max-width: 130px; }

.navColor {
  background: #4b7bab; }

/*general buttons Compusoluciones Colors*/
.btn {
  border-radius: 0px; }

button {
  border: none;
  box-shadow: none; }

button a:hover {
  text-transform: none; }

.form-control {
  border-radius: 0px; }

.btn-default:hover {
  color: #fff;
  background: #013360; }

.btn-default:visited {
  background: #013360;
  color: #fff; }

.navbar-default {
  background: #00549F; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff; }

.btn-success {
  min-width: 130px;
  height: 45px;
  background: #68953B;
  border-color: transparent; }

.btn-success:hover {
  background: #3e5d1f; }

.btn-link {
  min-width: 150px;
  height: 45px;
  color: #3f3f3f !important; }

.btn-primary {
  min-width: 150px;
  height: 45px;
  background: #00549F !important; }

.md-primary {
  min-width: 150px;
  height: 45px;
  background: #00549F !important; }

.btn-primary:hover {
  background: #013360; }

.btn-warning {
  min-width: 150px;
  height: 45px;
  background: #DB9635; }

.btn-warning:hover {
  background: #a26713; }

.btn-danger {
  min-width: 150px;
  height: 45px;
  background: #BC112E; }

.btn-danger:hover {
  background: #8d0d23; }

/*landing uses search bar button*/
.searchBar .btn-default {
  min-width: 150px;
  height: 34px;
  background: #00549F !important;
  color: #fff; }

/*landing uses*/
/*Carrousel Modifications*/
.carousel-indicators .active {
  background: #3585D5; }

option {
  margin-top: 12px; }

/*nav bar*/
.yellow .text {
  text-overflow: ellipsis;
  /* will make [...] at the end */
  width: 82px;
  /* change to your preferences */
  white-space: nowrap;
  /* paragraph to one line */
  overflow: hidden;
  /* older browsers */
  float: left;
  padding-left: 5px; }

.gris .text {
  text-overflow: ellipsis;
  /* will make [...] at the end */
  width: 82px;
  /* change to your preferences */
  white-space: nowrap;
  /* paragraph to one line */
  overflow: hidden;
  /* older browsers */
  float: left;
  padding-left: 5px; }

.yellow .text:hover {
  text-decoration: underline; }

.gris .text:hover {
  text-decoration: underline; }

.gris .glyphicon {
  float: left; }
.gris .text {
  text-overflow: ellipsis;
  /* will make [...] at the end */
  /*  width: 90px;change to your preferences */
  white-space: nowrap;
  /* paragraph to one line */
  overflow: hidden;
  /* older browsers */
  padding-left: 5px; }
  .gris .text:hover {
    text-decoration: underline; }

.green .glyphicon {
  float: left; }
.green .text {
  text-overflow: ellipsis;
  /* will make [...] at the end */
  /* width:90px;  change to your preferences */
  white-space: nowrap;
  /* paragraph to one line */
  overflow: hidden;
  /* older browsers */
  padding-left: 5px; }
  .green .text:hover {
    text-decoration: underline; }

.helpStart {
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 18px 20px 5px 10px !important;
  width: 20px;
  height: 40px;
  background: #00549F;
  color: #fff;
  text-align: center;
  cursor: pointer;
  z-index: -11; }

.helpStart:hover {
  background: #4a7bab; }

.fa {
  float: left; }

.navbar-nav .title {
  padding-left: 20px !important; }

.navbar-default {
  color: #fff;
  border: none; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
  .navbar-default .nav > li > a {
    padding: 15px 15px !important; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff !important;
    text-decoration: underline;
    background-color: transparent !important; }
  .navbar-default .navbar-brand {
    padding: 15px 12px !important; }
  .navbar-default .navbar-nav > li > a:visited {
    color: #fff;
    background: #363636; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: transparent; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-default .navbar-form {
    border: none; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff !important;
    background-color: transparent !important; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    text-decoration: underline !important; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #000000;
    text-decoration: underline; }

.navbar {
  margin-bottom: 0px;
  border-radius: 0px; }

.dropdown-menu > li > a {
  color: #fff; }

.dropdown-menu > li > a:hover {
  color: #000000 !important; }

.search {
  height: 60px;
  padding: 13px 0 0 0; }

.tour-step-background {
  background: rgba(250, 250, 250, 0.2) !important; }

/* 404 */
.error-template {
  padding: 40px 15px;
  text-align: center; }

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px; }

.error-actions .btn {
  margin-right: 10px; }

/*paginador*/
.paginator {
  cursor: pointer; }

/*footer*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #3c3c3c;
  background: #3c3c3c;
  padding-top: 20px; }

/*
.footer{
    width:100%;
    height:auto;
    background: #464646;
    padding:30px;

}

.footer img{
    width:140px;
    margin-top:-20px;
}

.footer p{
    color:#fff;
    font-size: 12px;

}

.footer .container{
    min-height:auto;
}*/
@media screen and (max-width: 768px) {
  .text-left h3 {
    margin-top: 110px; }

  #hamburguer {
    float: left;
    margin-left: 5px; } }
@media screen and (min-width: 991px) and (max-width: 1500px) {
  .distintivo {
    display: none !important; }

  .img-responsive {
    height: 250px; }

  .imageBanner {
    max-width: 400px !important;
    height: 100% !important; } }
@media screen and (max-width: 991px) {
  .home {
    height: auto !important; }

  .containerGral {
    margin-top: 80px !important; }

  header {
    box-shadow: none; }

  header img {
    height: 114px !important; }

  .helpStart {
    display: none; }

  .navbar-default .navbar-brand {
    padding: 0 !important; }

  .home {
    margin-top: 10px;
    padding: 10px; }

  header.smaller img {
    height: auto; }

  .AutocadProducts {
    height: auto; }
    .AutocadProducts .productOne {
      margin: 180px 10px; }
    .AutocadProducts .image1 {
      display: none; }
    .AutocadProducts .image2 {
      display: none; }

  .FourProduct {
    background: #A1CFFD !important; }

  .imageBanner {
    display: none; }

  .thirdProduct {
    height: auto; }

    /*.footer img{
        margin-top:10px;
        margin-bottom:10px;
        text-align: center;
    }

    .footer{
       text-align: center;
    }*/
  .navbar-default {
    background-color: #fff !important; }

  .brands {
    display: none; }

  .allProductSecondary {
    margin-bottom: 30px !important; }

  .logoFooter {
    display: none !important; }

  .textFooter {
    display: block !important;
    text-align: center;
    margin-left: 0px !important; } }
.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #eee;
  box-shadow: 0 10px 12px rgba(75, 123, 171, 0.175); }

/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
  display: none; }

.divCargando {
  display: table;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 25%;
  opacity: .9;
  overflow: hidden;
  z-index: 990 !important;
  margin: 0;
  background-size: 100% 100%;
  background-color: rgba(250, 250, 250, 0);
  background-position: center !important;
  width: 100% !important;
  height: 100% !important;
  transition: transform .1s;
  -moz-transition: transform .1s;
  -webkit-transition: transform .1s;
  -o-transition: transform .1s;
  transition: all .1s ease-in; }

/*# sourceMappingURL=style.css.map */
