#chart {
    max-width: 650px;
    margin: 35px auto;
}
.card {
    color: #ffffff;
    box-shadow: 1px 1px 5px gray;
    padding: 10px;
    margin: 30px;
}
.card1 {
    background: #4a7bab;
}
.card2 {
    background: #db9635;
}
.card3 {
    background: #68953b;
}
.box-shadow {
    box-shadow: 1px 1px 5px grey;
}
table tr:hover td {
    background-color: #bfceff;
    cursor: pointer;
}
.p-0 {
    padding: 0 !important;
}
.p-4 {
    padding: 40px;
}
.p-2 {
    padding: 20px;
}
.p-1 {
    padding: 10px;
}
.mt-0 {
    margin-top: 0;
}
.pt-5 {
    padding-top: 50px !important;
}
.pt-3 {
    padding-top: 30px !important;
}
.btnDate {
    padding-top: 22px !important;
}
.mt {
    margin-top: 20px;
}
.mtb {
    margin-bottom: 30px;
    margin-top: 100px;
}
table.tb1 thead {
    background: #68953b;
    color: white;
}
table.tb1 {
    color: rgb(97, 97, 97) ;
}
table.tb2 thead {
    background: #00549f;
    color: white;
}
.nav-tabs > li.active > a {
    color: #fff;
    background-color: #4c4c4c;
}
.nav > li > a {
    color: rgb(105, 105, 105);
}

.tabsPadding {
    padding-left: 40% !important;
}
.h2Title{
    padding-top: 20px; padding-bottom: 20px;
}

.bgBlue{
    background: #00549f;
}
.bgGreen{
    background: #68953b;
}
.bgRed{
    background: #bc112e;
}
.bgYellow{
    background: #db9635;
}

.center-align {
    text-align:center !important;
}
.margin-auto{
    margin: auto;
}