<style>
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance:textfield;
    }
</style>

<div ng-app="myApp" ng-controller="ImportarPedidosAutodeskController">
<div class="container" ng-swipe-right="" ng-swipe-left="">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 style="float:left;">Importación de contratos Autodesk </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-info" ng-show = "esDistribuidor">
            <li type="disc">Aquí puedes consultar la información de tus contratos e importarlos a click suscribe para su procesamiento. La consulta se hace por medio de la fecha fin del contrato que deseas importar.</li>
            <li type="disc">Si el usuario final relacionado a determinado contrato no está registrado en click aún, puedes registrarlo haciendo clic en el botón <b>Nuevo uf</b>.</li>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 style="float:left;">Datos de consulta para obtener información </h4><br>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-hide = "esDistribuidor">
            <label>CSN</label>
            <input type = "text" name = "CSNdist" placeholder="Escribe el CSN que deseas consultar" class="form-control" ng-model="CSNdist" required/>
        </div>
        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <label>Fecha fin del contrato</label>
            <Input type="date" name="contractEndDate" class="form-control" ng-model="contractEndDate" required>
            <div ng-show="false">
                {{contractEndDateFormat = (contractEndDate | date:'yyyy-MM-dd') }}
            </div> 
        </div>
        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="submit" style="margin-top: .8em;" ng-click="getSubscriptionData(CSNdist, contractEndDateFormat)" class="btn btn-success " style="background: !important">
                <span class="glyphicon glyphicon-download-alt"></span>
                &nbsp;Consultar información
            </button>
        </div>
        <div style="float: right; margin-right: 0; margin-top: .8em;">
            <button type="button" style="padding: .8em;" data-toggle="modal" data-target="#nuevoUF" class="btn btn-primary " style="background: !important">
                <span class="glyphicon glyphicon glyphicon glyphicon-briefcase"></span>
                &nbsp;Nuevo uf
            </button>
        </div>
    </div>
    <br>
    <br>
    <div class="container" ng-if="subscriptionData">
        <table class="table">
          <thead>
            <tr>
              <th>Número de contrato</th>
              <th>Distribuidor</th>
              <th>Usuario final</th>
              <th>SKU</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="subs in subscriptionData | filter:SubsFilter | orderBy:sortBy:reverse" class="repeat-animation">
              <td>{{subs.contractNumber}}</td>
              <td>{{subs.reseller.name}}</td>
              <td>{{subs.endCustomer.name}}</td>
              <td>
              <div ng-repeat="subsdetails in subs.details | filter:SKUsFilter" class="repeat-animation">
              <dl>
                <dt>{{subsdetails.description}}</dt>
                <dd>Número de serie: {{subsdetails.serialNumber}}</dd>
                <dd>Cantidad: {{subsdetails.seats}}</dd>
              </dl>
             </div>
              </td>
              </div>
              <td>
                <button type="submit" style="float:right; margin: .5em;" ng-click="abrirModal('importarContrato', subs);" class="btn btn-success " style="background: !important">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    &nbsp;Importar
                </button>
              </td>
            </tr>      
          </tbody>
        </table>
      </div>
      <div class="container" ng-show="subscriptionData.length === 0">
        <h4 style="text-align: center;">Sin resultados</h4>
    </div>
    <hr>

    <div id="importarContrato" class="modal fade in" tabindex="-1" role="dialog" >
        <div class="modal-dialog  modal-sm" role="document">
            <div class="divLoading" data-cargando>
                <div class=""><img src="images/ripple.svg" /></div>
            </div> 
            <div class="modal-content" style="margin: auto; top: -5em;">
                <div class="modal-header" >
                    <button type="button" class="close" ng-click="cerrarModal('importarContrato');" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Importar contrato</h4>
                </div>
                <div class="modal-body" style="margin-bottom: 15em;">
                    <p>Registre aquí la información solicitada para realizar la importación:</p> <hr>
                   <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="esDistribuidor">
                            <label>Distribuidor</label>
                            <input type = "text" name = "distribuidor" placeholder="Escribe el nombre del distribuidor" class="form-control" ng-model="distribuidor" ng-keyup="completarDist(distribuidor)" required/>
                            <ul class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model = "ocultarOpcionesDist" ng-hide = "ocultarOpcionesDist" style="position:absolute; z-index: 1; padding-right:2em;">
                            <li style="background-color: white;" class="list-group-item" ng-repeat = "infoDist in filtroDistribuidor track by $index" ng-click = "llenarTextBoxDist(infoDist)">{{infoDist}}</li>
                            </ul>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Usuario final</label>
                            <input type = "text" name = "usuarioF" placeholder="Escribe el nombre del usuario final" class="form-control" ng-model="usuarioF" ng-keyup="completarUF(usuarioF)" required/>
                            <ul class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model = "ocultarOpcionesUF" ng-hide = "ocultarOpcionesUF" style="position:absolute; z-index: 1;padding-right:2em;">
                            <li style="background-color: white;" class="list-group-item" ng-repeat = "infoUF in filtroUsuarioFinal track by $index" ng-click = "llenarTextBoxUF(infoUF)">{{infoUF}}</li>
                            </ul>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Esquema renovación</label>
                             <select name="esquema" class="form-control" ng-model="esquema" ng-options="esquema.Nombre for esquema in esquemasLista" ng-change="definirPeriodo(true)" required>
                              <option value="" disabled>Esquemas</option> 
                             </select>
                        </div>
                </div>
                <br>
                <div  class="modal-footer">
                    <button type="submit" style="min-width: 1.2em; margin-: 1em;" class="btn .btn-sm btn-success" ng-click="conjuntarInformacion();" ng-disabled = "procesandoImportacion" data-dismiss="modal">{{btnImportar}}</button>
                    <button type="button" style="min-width: 1.2em;" class="btn btn-danger" ng-click="cerrarModal('importarContrato');" ng-disabled = "procesandoImportacion" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
   
    <div id="nuevoContacto" class="modal fade in" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin: auto; top: -5em;">
                <div class="modal-header" >
                    <button type="button" class="close" ng-click="cerrarModal('nuevoContacto');" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Nuevo contacto</h4>
                </div>
                <div class="modal-body" style="margin-bottom: 15em;">
                    <p>Registre aquí la información del nuevo contacto para el usuario final:</p> <hr>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Nombre</label>
                            <Input name="Nombre" type="text" ng-model="Usuario.Nombre" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Nombre" size="255" ng-maxlength="45" required>
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Apellido paterno</label>
                            <Input name="ApellidoPaterno" type="text" ng-model="Usuario.ApellidoPaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellido paterno" size="255" ng-maxlength="30">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label>Apellido materno</label>
                            <Input name="ApellidoMaterno" type="text" ng-model="Usuario.ApellidoMaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellido materno" size="255" ng-maxlength="30" >
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Correo electrónico</label>
                            <Input name="CorreoElectronico" type="email" ng-model="Usuario.CorreoElectronico" class="form-control" placeholder="Correo electrónico" size="255" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 0em;">
                            <label>Número celular</label>
                        </div>
                        <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                            <input class="form-control" name="Lada" ui-mask="+99" ui-mask-placeholder type="text" ng-model="Usuario.Lada"   placeholder="" size="255" ng-maxlength="255" >
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                            <input class="form-control col-xs-3 col-sm-3 col-md-3 col-lg-3" name="Telefono" type="text" ng-model="Usuario.Telefono" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="" size="255" ng-maxlength="255" required="">
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Distribuidor</label>
                            <input type = "text" name = "distribuidorModal" placeholder="Escribe el nombre del distribuidor" class="form-control" ng-model="Usuario.Distribuidor" ng-keyup="completarDistModal(Usuario.Distribuidor)" required/>
                            <ul class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model = "ocultarOpcionesDistModal" ng-hide = "ocultarOpcionesDistModal" style="position:absolute; z-index: 1; padding-right:2em;">
                            <li style="background-color: white;" class="list-group-item" ng-repeat = "infoDistModal in filtroDistribuidorModal track by $index" ng-click = "llenarTextBoxDistModal(infoDistModal)">{{infoDistModal}}</li>
                            </ul>
                        </div>
                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Empresa usuario final</label>
                            <Input type="text" name="empresaufModal" placeholder="Escribe el nombre del usuario final" class="form-control" ng-model="Usuario.Empresauf" ng-keyup="completarUFModal(Usuario.Empresauf)" required>
                                <ul class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model = "ocultarOpcionesUFModal" ng-hide = "ocultarOpcionesUFModal" style="position:absolute; z-index: 1;padding-right:2em;">
                                    <li style="background-color: white;" class="list-group-item" ng-repeat = "infoUFModal in filtroUsuarioFinalModal track by $index" ng-click = "llenarTextBoxUFModal(infoUFModal)">{{infoUFModal}}</li>
                                </ul>
                        </div>
                    
                </div>
                <br>
                <div  class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-click="conjuntarInformacionModal()" data-dismiss="modal">Registrar</button>
                    <button type="button" class="btn btn-danger" ng-click="cerrarModal('nuevoContacto');" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="nuevoUF" class="modal fade in" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin: auto; top: -15em;">
            <div class="modal-header" >
                <button type="button" class="close" ng-click="cerrarModal('nuevoUF');" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nueva empresa usuario final</h4>
            </div>
            <div class="modal-body" style="margin-bottom: 26em;">
                <p>Registre aquí la información del usuario final (uf) y de contacto.</p> 
                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Nombre de la empresa </label>
                        <input name="NombreEmpresa" type="text" placeholder="Nombre de la empresa" ng-model="Empresa.NombreEmpresa" class="form-control" />
                    </div>
                    <div class="form-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <label>Dirección </label>
                        <input name="Direccion1" type="text" placeholder="Dirección" ng-model="Empresa.Direccion" class="form-control" size="255" ng-maxlength="255" />
                    </div>
                    <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label>Ciudad </label>
                    <input name="Ciudad" type="text" ng-model="Empresa.Ciudad" class="form-control" placeholder="Ciudad" size="255" ng-maxlength="255"/>
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Estado o provincia </label>
                    <select name="Estado" ng-model="Empresa.Estado" class="form-control" required="">
                        <option ng-selected="true" value="">Selecciona uno ..</option>
                        <option ng-repeat="option in EstadoOptions" value="{{option.Nombre}}">{{option.Nombre}}</option>
                    </select>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label>Código postal </label>
                        <input name="Postal" type="text" ng-model="Empresa.CodigoPostal" class="form-control" placeholder="CódigoPostal" size="5" ng-maxlength="5" ng-minlength="5"
                        ng-pattern="/^\d+$/"/>
                    </div>
                    <div class="form-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <label>Industria</label>
                        <select name="IdIndustria"  class="form-control filterOption" ng-mouseover=""  ng-model="Empresa.IdIndustria" ng-options="+(Industria.IdIndustria) as Industria.Industria for Industria in selectIndustrias"
                        ng-change="">
                        <option value="">Selecciona uno ..
                                <span ng-show="true" class="animate-show">
                                        <a>
                                            {{selectIndustrias.Descripcion}}
                                        </a>
                                    </span>
                        </option>    
                        </select>
                    </div>    

                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Nombre contacto</label>
                        <Input name="Nombre" type="text" ng-model="Empresa.Nombre" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Nombre" size="255" ng-maxlength="45" required>
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>Apellidos</label>
                        <Input name="ApellidoPaterno" type="text" ng-model="Empresa.ApellidoPaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellidos" size="255" ng-maxlength="30">
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>RFC</label>
                        <Input name="ApellidoMaterno" type="text" ng-model="Empresa.RFC" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="RFC" size="255" ng-maxlength="30" >
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label>Correo electrónico</label>
                        <Input name="CorreoElectronico" type="email" ng-model="Empresa.CorreoElectronico" class="form-control" placeholder="Correo electrónico" size="255" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required>
                    </div>
                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 0em;">
                        <label>Número celular</label>
                    </div>
                    <div class="form-group col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                        <input class="form-control" name="Lada" ui-mask="+99" ui-mask-placeholder type="text" ng-model="Empresa.Lada"   placeholder="" size="255" ng-maxlength="255" >
                    </div>
                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                        <input class="form-control col-xs-3 col-sm-3 col-md-3 col-lg-3" name="Telefono" type="text" ng-model="Empresa.Telefono" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="" size="255" ng-maxlength="255" required="">
                    </div>

                    <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-hide = "esDistribuidor">
                        <label>Distribuidor relacionado</label>
                        <input type = "text" name = "distribuidorModalEmpresa" placeholder="Escribe el nombre del distribuidor" class="form-control" ng-model="Empresa.Distribuidor" ng-keyup="completarDistModalEmpresa(Empresa.Distribuidor)" required/>
                        <ul class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model = "ocultarOpcionesDistModalEmpresa" ng-hide = "ocultarOpcionesDistModalEmpresa" style="position:absolute; z-index: 1; padding-right:2em;">
                        <li style="background-color: white;" class="list-group-item" ng-repeat = "infoDistModalEmpresa in filtroDistribuidorModalEmpresa track by $index" ng-click = "llenarTextBoxDistModalEmpresa(infoDistModalEmpresa)">{{infoDistModalEmpresa}}</li>
                        </ul>
                    </div>

                    <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label>CSN </label>
                        <input name="IdAutodeskUF" type="Number" ng-model="Empresa.IdAutodeskUF" class="form-control" placeholder="Customer Specific Numbers" ng-pattern="/^\d+$/"/>
                    </div>
                
            </div>
            <br>
            <div  class="modal-footer">
                <button type="submit" class="btn btn-success" ng-click="conjuntarInformacionModalEmpresa()" ng-disabled="deshabilitado" data-dismiss="modal">Registrar</button>
                <button type="button" class="btn btn-danger" ng-click="cerrarModal('nuevoUF');" ng-disabled="deshabilitado" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>