<div class="container" ng-swipe-right="" ng-swipe-left="">
  <div class="form-group row">
    <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <h2>Promociones</h2>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <label for="Busqueda">&nbsp;</label>
      <div class="form-group row">
        <div class="form-group has-feedback">
          <input
            type="text"
            ng-model="PromocionFilter"
            class="form-control"
            size="30"
            placeholder="Busca un Promocion..."
          />
          <i class="form-control-feedback glyphicon glyphicon-search"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="pull-right">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <button
            ng-click="goToPage('Promocion');"
            class="btn btn-primary"
            role="button"
          >
            Nueva Promoción <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div ng-show="!(Promocions.length > 0)">
    <h4>Da de alta una nueva promoción...</h4>
  </div>

  <div ng-show="Promocions.length > 0">
    <div class="form-group row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table
          class="table table-hover table-responsive border-left-right-cero"
        >
          <th style="cursor: pointer;" ng-click="OrdenarPor('Nombre')">
            <b>&nbsp;Promoción <span class="fa fa-sort"></span></b>
          </th>
          <tr
            ng-repeat="Promocion in Promocions | filter:PromocionFilter"
            class="repeat-animation"
          >
            <td>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <div class="form-group">
                    <h4><b>{{Promocion.Nombre}}</b></h4>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <div class="form-group">
                    <label><b>Producto:</b></label>
                    {{Promocion.CodigoProducto}}
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                  <div class="form-group">
                    <label><b>Responsable:</b></label>
                    {{Promocion.Responsable}}
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                  <div class="form-group">
                    <label><b>Activo desde:</b></label>
                    {{Promocion.FechaActivo}}
                  </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                  <div class="form-group">
                    <h4>
                      <a href="#/Promocion/{{Promocion.IdPromocion}}"
                        ><span class="glyphicon glyphicon-edit edit"></span
                      ></a>
                    </h4>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="form-group row">
      <div class="pull-left">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          Total de promociones: {{ Promocions.length }}
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-info btn-lg"
      data-toggle="modal"
      data-target="#myModal"
    >
      Open Modal
    </button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title">Open Pay</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <div class="w100">
                  <form action="#" method="POST" id="payment-form">
                    <input type="hidden" name="token_id" id="token_id" />
                    <div class="grayBackground pymnt-itm card active">
                      <h2>Tarjeta de crédito o débito</h2>

                      <div class="row" style="margin-top: 15px;">
                        <div
                          class="grayBorder col-md-4 col-lg-4 col-sm-12 col-xs-12 hidden-sm hidden-xs"
                          style="padding-left: 40px;"
                        >
                          <h4>Tarjetas de crédito</h4>
                          <img
                            src="../../../images/open-pay/cards1.png"
                            alt=""
                          />
                        </div>

                        <div
                          class="grayBorder col-md-4 col-lg-4 col-sm-12 col-xs-12 hidden-md hidden-lg hidden-xl"
                          style="padding-left: 24px;"
                        >
                          <h4>Tarjetas de crédito</h4>
                          <img
                            src="../../../images/open-pay/cards1.png"
                            alt=""
                          />
                        </div>
                        <div
                          class="col-md-8 col-lg-8 col-sm-12 col-xs-12 hidden-sm hidden-xs"
                          style="padding-left: 40px;"
                        >
                          <h4>Tarjetas de débito</h4>
                          <img
                            src="../../../images/open-pay/cards2.png"
                            alt=""
                          />
                        </div>
                        <div
                          class="col-md-8 col-lg-8 col-sm-12 col-xs-12 hidden-md hidden-lg hidden-xl"
                          style="padding-left: 24px;"
                        >
                          <h4>Tarjetas de débito</h4>
                          <img
                            src="../../../images/open-pay/debito1.PNG"
                            alt=""
                          />
                          <img
                            src="../../../images/open-pay/debito2.PNG"
                            alt=""
                          />
                        </div>
                      </div>

                      <div
                        class="row"
                        style="margin-top: 27px; padding-left: 20px;"
                      >
                        <div
                          class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber"
                        >
                          <label class="paddingTop">Nombre del titular</label
                          ><input
                            type="text"
                            placeholder="Como aparece en la tarjeta"
                            autocomplete="off"
                            data-openpay-card="holder_name"
                          />
                        </div>

                        <div
                          class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber"
                        >
                          <label class="paddingTop">Número de tarjeta</label
                          ><input
                            type="text"
                            autocomplete="off"
                            data-openpay-card="card_number"
                          />
                        </div>
                      </div>

                      <div
                        class="row"
                        style="margin-top: 27px; padding-left: 20px;"
                      >
                        <div
                          class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber"
                        >
                          <label class="paddingTop">Fecha de expiración</label>
                          <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                              <div class="nameAndNumber half l">
                                <input
                                  type="text"
                                  placeholder="Mes"
                                  data-openpay-card="expiration_month"
                                />
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                              <div class="nameAndNumber half l">
                                <input
                                  type="text"
                                  placeholder="Año"
                                  data-openpay-card="expiration_year"
                                />
                              </div>
                            </div>
                          </div>
                        </div>

                        <div
                          class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber"
                        >
                          <label class="paddingTop">Código de seguridad</label>
                          <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                              <input
                                type="text"
                                placeholder="3 dígitos"
                                autocomplete="off"
                                data-openpay-card="cvv2"
                              />
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                              <center>
                                <img
                                  src="../../../images/open-pay/cvv.png"
                                  alt=""
                                  class="paddingTop"
                                />
                              </center>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="row"
                        style="margin-top: 27px; padding-left: 20px;"
                      >
                        <div
                          class="col-md-5 col-lg-5 col-sm-12 col-xs-12 nameAndNumber"
                        ></div>

                        <div
                          class="col-md-7 col-lg-7 col-sm-12 col-xs-12 nameAndNumber"
                        >
                          <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                              <center>
                                <div class="logo">
                                  Transacciones realizadas vía:
                                </div>
                                <img
                                  src="../../../images/open-pay/openpay.png"
                                  class="paddingTop"
                                />
                              </center>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                              <div class="row">
                                <div
                                  class="col-md-2 col-lg-2 col-sm-2 col-xs-2"
                                >
                                  <img
                                    src="../../../images/open-pay/security.png"
                                    class="paddingTop"
                                  />
                                </div>
                                <div
                                  class="col-md-10 col-lg-10 col-sm-10 col-xs-10"
                                >
                                  <div class="shield paddingTop">
                                    Tus pagos se realizan de forma segura con
                                    encriptación de 256 bits
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-md-10 col-lg-10 col-sm-10 col-xs-10"
                        ></div>
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                          <div class="bkng-tb-cntnt">
                            <a class="button text-right" id="pay-button"
                              >Pagar</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
