<div class="container">
    <h2>Promoción</h2>
    <form name="frm">
        <hr>
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Nombre Promoción* </label>
                        <input name="Nombre" type="text" ng-model="Promocion.Nombre" class="form-control" placeholder="Nombre Promoción" size="255" ng-maxlength="45" required="" />
                        <b style="color:red" ng-show="frm.Nombre.$invalid && !frm.Nombre.$pristine" class="help-block">Capture un nombre de promoción válido.</b>
                    </label>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Código Producto/URL* </label>
                    <input name="CodigoProducto" type="text" ng-model="Promocion.CodigoProducto" class="form-control" placeholder="Código Producto" size="255" ng-maxlength="255" required="" />
                    <b style="color:red" ng-show="frm.CodigoProducto.$invalid && !frm.CodigoProducto.$pristine" class="help-block">El código del producto es requerido.</b>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Descripción Promoción </label>
                    <textarea name="Descripcion" type="text" rows="4" cols="50" ng-model="Promocion.Descripcion" class="form-control" placeholder="Descripción Promoción"
                    size="255" ng-maxlength="255"></textarea>
                    <b style="color:red" ng-show="frm.Descripcion.$invalid && !frm.Descripcion.$pristine" class="help-block">Ha excedido el número de caracteres permitidos..</b>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <input type="file" id="archivo_promocion" nv-file-select="" ng-model="Promocion.Url" uploader="uploader" />
                </div>
            </div>
        </div><br>
        <div>
            <p>*Se visualizarán las 5 promociones más recientes agregadas en el banner.</p>
            <p>*Tamaño de la imagen: 600x400 px.</p>
            <p>*Formatos permitidos: JPG y PNG.</p>
        </div>

        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                <div class="form-group">
                    <button type="submit" ng-click="PromocionCreate()"  ng-disabled="SubiendoArchivos" class="btn btn-primary btn-block">Aceptar</button>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                <div class="form-group">
                    <button type="button" ng-click="PromocionCancel()"  ng-disabled="SubiendoArchivos" class="btn btn-warning btn-block">Cancelar</button>
                </div>
            </div>
        </div>
    </form>

</div>