<div class="container">
    <div id="contact">
    </div>
</div>
<div class="container" ng-show="currentDistribuidor.Subdominio === 'cadgrafics'">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <br><br><br><br><br>
            <img ng-src="https://s3.amazonaws.com/marketplace.compusoluciones.com/Anexos/logos/193.jpg?v=1574457217735" class="img-responsive" style="width:100%; text-align:center;" src="https://s3.amazonaws.com/marketplace.compusoluciones.com/Anexos/logos/193.jpg?v=1574457217735">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <h3>Ramon Zúñiga Reynaga </h3>
            <h4><a href="tel:3320017594">Teléfono directo: (33) 2001-7594</a></h4>
            <h4><a href="tel:3314040396">Conmutador: (33) 1404-0396</a> </h4>
            <h4><a href="tel:3312730654">Movil: 3312730654</a></h4>
            <h4><a href="mailto:ramona.zuniga@cadgrafics.com.mx">ramona.zuniga@cadgrafics.com.mx</a></h4>
            <br><br>
            <h4>Cadgrafics de Occidente, S.A. de C.V.</h4>
            <h4>Calle Día No. 2381 Col. Jardines del Bosque.</h4>
            <h4>C.P. 44520 Guadalajara, Jalisco. México.</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.1496156547573!2d-103.38048038507523!3d20.663491205523272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae0a79c9254f%3A0x56afc835ce4ed199!2sCalle%20Dia%202381%2C%20Jardines%20del%20Bosque%2C%2044520%20Guadalajara%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1582750992348!5m2!1ses-419!2smx" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>