<link rel="stylesheet" href="styles/css/tableReconciliation.css">
<div class="container" ng-controller="ReconciliacionController">
    <div class="row">
        <h2 class="h2Title">Reconciliación</h2>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="input-group">
                    <div class="form-group">
                        <label>Filtrar por mes</label>
                        <input id="dateFilter" name="dateFilter" class="form-control" type="month" name="mes" step="1" min="2020-01">
                    </div>
                    <span class="input-group-btn btnDate">
                        <button class="btn btn-default white bgBlue" ng-click="getReconciliationData()">
                            Buscar
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="box-shadow | col-xs-12 col-md-7 | mt">
            <div id="chart"></div>
        </div>
        <div class="col-xs-10 col-md-5 | col-xs-offset-1 col-md-offset-0 | mt">
            <div class="card card2 mt-0">
                <h4>Ventas CSP <i>(dólares)</i> </h4>
                <h5>{{ventasCspDate}}</h5>
                <h3>{{ventaCsp}}</h3>
            </div>
            <div class="card card3">
                <h4>Ventas Click Suscribe <i>(dólares)</i></h4>
                <h5>{{ventasClickDate}}</h5>
                <h3>{{ventaClick}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pt-5">
        <ul class="nav nav-tabs tabsPadding" role="tablist">
            <li role="presentation" class="active">
                <a data-target="#todos" aria-controls="todos" role="tab" data-toggle="tab">Todos los registros</a>
            </li>
            <li role="presentation">
                <a data-target="#diferencias" aria-controls="diferencias" role="tab" data-toggle="tab">Registros con
                    diferencias</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="todos">
                <h4 class="pt-3">Todos los registros</h4>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group ">
                        <div class="form-group row pt-3">
                            <div class="form-group has-feedback">
                                <input type="text" ng-model="subFilter" class="form-control" ng-change="filter()"
                                    class="form-control " size="30" placeholder="Buscar por cliente">
                                <i class="form-control-feedback glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-striped tb1">
                        <thead>
                            <tr>
                                <th>Pedido</th>
                                <th>Suscripción</th>
                                <th>Ciente</th>
                                <th>Producto</th>
                                <th>Esquema renovación</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="item in filtered | filter:subFilter">
                            <tr data-toggle="collapse" data-target="#collapse2_{{item.IdReconciliacion}}"
                                aria-expanded="false" aria-controls="collapse2_{{item.IdReconciliacion}}"
                                ng-click="timeChart({{item.IdReconciliacion}}, '{{item.IdLicencia}}', '{{item.IdFactura}}')">
                                <td scope="row">{{item.IdReconciliacion}}</td>
                                <td>{{item.IdLicencia}}</td>
                                <td>{{item.NombreEmpresa}}</td>
                                <td>{{item.NombreProducto}}</td>
                                <td>{{item.Nombre}}</td>
                                <td>
                                    <span class="label label-danger">Dif. cantidades</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9" class="p-0">
                                    <div class="collapse" id="collapse2_{{item.IdReconciliacion}}">
                                        <div id="time1_{{item.IdReconciliacion}}"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="lista.length === 0" class="center-align">
                    <h4>No se encontraron resultados.</h4>
                </div>
                <div class="margin-auto center-align">
                    <pagination class="pager" ng-model="currentPage" total-items="listaAux.length" max-size="maxSize"
                        boundary-links="true"></pagination>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="diferencias">
                <h3>Registros con diferencias</h3>
                <div class="form-group col-xs-12 col-md-4">
                    <label>Filtrar por diferencias</label>
                    <select" class="form-control" 
                         required>
                        <option value="" disabled>Selecciona una opción</option>
                    </select>
                </div>

                <div>
                    <table class="table table-striped tb2">
                        <thead>
                            <tr>
                                <th>Pedido</th>
                                <th>Suscripción</th>
                                <th>Ciente</th>
                                <th>Producto</th>
                                <th>Esquema renovación</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr data-toggle="collapse" data-target="#collapse2_3"
                                aria-expanded="false" aria-controls="collapse2_3">
                                <td scope="row">{item.IdReconciliacion}</td>
                                <td>{item.IdLicencia}</td>
                                <td>{item.NombreEmpresa}</td>
                                <td>{item.NombreProducto}</td>
                                <td>{item.Nombre}</td>
                                <td>
                                    <span class="label label-danger">Dif. cantidades</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9" class="p-0">
                                    <div class="collapse" id="collapse2_3">
                                        <div id="time2_3"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>