<div class="container" ng-swipe-right="" ng-swipe-left="">

	<div class="form-group row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<h3 style="float:left;"> Configuración de productos en nivel {{ Nivel }}
        <!--<i class="fa fa-question-circle tourButton" style="cursor:help; float:right; font-size:12px; margin-left:10px; margin-top:10px;" ng-click="IniciarTourMisProductos();"></i>-->
      </h3>
		</div>
	</div>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

		<div class="form-group col-xs-12 col-md-4">
			<label for="Empresa">Mostrar productos de</label>
			<select name="Empresa" ng-model="IdEmpresa" class="form-control" ng-change="refrescarMisProductos()">
      	<option ng-selected="true" value="1">Microsoft</option>
        <!-- <option value="2">Autodesk</option> -->
      </select>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 searchOption">
			<label for="Buscar">Búsqueda</label>
			<div class="form-group has-feedback">
				<input type="text" ng-model="filter" ng-change="search()" class="form-control" size="30" placeholder="Busca productos..." />
				<i class="form-control-feedback glyphicon glyphicon-search"></i>
			</div>
		</div>

	</div>

	<div class="alert alert-warning">
		<strong>Nota *</strong> Al activar la casilla de "Descuento",
		se aplicará el descuento establecido a todos los clientes que pertenezcan al nivel elegido. Si se desmarca la casilla y se
		guardan los cambios, se borrará el descuento para el producto.
	</div>

	<div class="alert alert-danger">
		<strong>Nota importante *</strong>
		Al presionar el botón "Guardar todo" en "Descuento General", se actualizarán también los productos que ya tienen un descuento
		guardado, así como los productos no visibles a causa del filtro..
		En caso de no querer afectar descuentos guardados anteriormente o los productos no visibles por el filtro,
		se recomienda guardar individualmente.
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<label for="Descuento">Descuento General</label>
			<div class="input-group">
				<input type="number" min="1" max="100" class="form-control txtPercent" placeholder="Ingrese el porcentaje en descuento" ng-model="porcentaje" ng-change="calcularPrecioVenta(porcentaje);"/>
				<span class="input-group-btn">
					<button class="btn btn-default btnReset" style="background: #68953B;" type="button" title="Quitar todos los descuentos" ng-click="deleteDiscounts();">
						<span class="glyphicon glyphicon-erase white"></span>
					</button>
					<button class="btn btn-default btnSaveAll" style="background: #00549F;" type="button" ng-model="btnGuardar" title="Guardar Todo" ng-disabled="btnGuardar" ng-click="guardarTodo(porcentaje);">
						<span class="glyphicon glyphicon-floppy-disk white"></span>
					</button>
				</span>
			</div>
		</div>
	</div>

	<br>
	
	<table class="table table-hover table-responsive">

		<th style="cursor:pointer" ng-click="OrdenarPor('Nombre')"><b> &nbsp;Nombre <span class="fa fa-sort"></span></b></th>

		<tr ng-repeat="Producto in paginatedProducts[currentPage]" class="repeat-animation">
			<td class="row">
				<div class="col-xs-12 col-md-6">
					<b>{{Producto.Nombre}}</b> ({{Producto.Tipo}})
					<br>
					<b>Id artículo:</b> {{Producto.IdERP}}
					<br>
					<b>Precio:</b> {{Producto.PrecioNormal | currency}} {{Producto.Moneda}}
				</div>
				<!--ng-checked="Producto.Activo"    ng-disabled="!Producto.Precio"-->
				<div class="checkbox col-xs-12 col-md-1">
					<label>
						<input id="Activo" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="Producto.Activo" ng-change="resetDiscount(Producto)">
						Descuento
					</label>
				</div>

				<div class="col-xs-12 col-md-2">
					<div class="input-group">
						<input
							id="Precio"
							name="Precio" 
							type="number" 
							ng-model="Producto.PorcentajeDescuento"
							ng-change="calcularDescuento(Producto)" 
							class="form-control" step="1"
							placeholder="Descuento"
							min="1" max="100"
							ng-disabled="!Producto.Activo"
						/>
						<div class="input-group-addon">%</div>
					</div>
				</div>

				<div class="col-xs-6 col-md-2">
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type="number" placeholder="Precio final" class="form-control" ng-model="Producto.PrecioFinal" readonly>
					</div>
				</div>

				<div class="col-xs-12 col-md-1" style="padding-left: 30px">
					<h4>
						<a id="aActualizar" type="submit" title="Guardar" ng-click="Actualizar(Producto);"><span class="fa fa-floppy-o" style="cursor:pointer"></span></a>
					</h4>
				</div>

			</td>
		</tr>
	</table>
	<div style="display: flex; justify-content: center;">
		<div ng-repeat="i in getNumberOfPages track by $index" class="btn-group" role="toolbar">
			<button ng-click="setCurrentPage($index)" class="btn" ng-class="{ 'btn-secondary': (currentPage === $index), 'btn-default': (currentPage !== $index) }" type="button">{{ $index + 1 }}</button>
		</div>
	</div>
	<br>
	<div class="form-group row">
		<div class="pull-left">
			<div class="col-xs-12">
				Número de productos: {{ Productos.length }}
			</div>
		</div>
	</div>

</div>