<!doctype html>
<html manifest="manifest.appcache">

<head>
	
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="viewport" content="maximum-scale=1.0" />
    <meta name="viewport" content="user-scalable=no" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="click suscribe" />
    <meta name="application-tooltip" content="click suscribe" />
    <meta name="apple-mobile-web-app-title" content="click suscribe" />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-touch-fullscreen' content='yes' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name='apple-mobile-web-app-status-bar-style' content='#FFFFFFFF' />
    <meta name="application-bavbutton-color" content="#FFFFFFFF" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFFFF" />
    <link rel="shortcut icon" type="image/x-icon" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png"/>
    <link rel="shortcut icon" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="shortcut icon" sizes="196x196" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="shortcut icon" sizes="128x128" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="icon" type="image/ico" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="icon" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="apple-touch-icon-precomposed" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="apple-touch-icon" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png"/>
    <link rel="apple-touch-startup-image" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="apple-touch-startup-image" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" media="screen and (max-device-width : 320px)"/>
    <link rel="apple-touch-startup-image" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" media="(max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2)"/>
    <link rel="apple-touch-startup-image" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" media="(max-device-width : 548px) and (-webkit-min-device-pixel-ratio : 2)"/>
    <link rel="apple-touch-startup-image" sizes="1024x748" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-icon" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="https://maxcdn.icons8.com/iOS7/PNG/50/City/market_square-50.png"/>

    <title>No Internet :(</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="styles/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    
       <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                       OFFLINE</h1>
                    <h2>
                        Al parecer tu equipo no esta conectado a internet</h2>

                </div>
            </div>
        </div>
    </div>

</body>

</html>