<div class="container">
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-sm-4 col-sm-offset-8">
      <button ng-click="goToMigraciones()" class="btn btn-primary pull-right">Migraciones <span class="glyphicon"></span></button>
    </div>
  </div>
  <div class="table-responsive" style="border: 0;font-size:16px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Aplicación</th>
          <th>IdMayorista</th>
          <th>Ambiente</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            06096ee6-10aa-4f5b-aee1-902821bb21a5
          </td>
          <td>
            e0efcf61-d71e-4f30-a4bc-078490749b67
          </td>
           <td>
            Sandbox
          </td>
        </tr>
        <tr>
          <td>
            fd71f135-fd34-4b99-ac5e-e022c5907e57
          </td>
          <td>
            bd7ed0cf-c834-471a-b2e8-5b659720c4e5
          </td>
          <td>
            Producción
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>