  @-webkit-keyframes pulse {
    0% { color: #FFF; }
    50% { color: #DB9635; }
    100% { color: #FFF; }
  }
  
  @-moz-keyframes pulse {
    0% { color: #FFF; }
    50% { color: #DB9635; }
    100% { color: #FFF; }
  }
  
  @-o-keyframes pulse {
    0% { color: #FFF; }
    50% { color: #DB9635; }
    100% { color: #FFF; }
  }
  
  @keyframes pulse {
    0% { color: #FFF; }
    50% { color: #DB9635; }
    100% { color: #FFF; }
  }
  
  .elementPulse {
    color: #FFF !important;
    -webkit-animation: pulse 3s 3; /* Safari 4+ */
    -moz-animation:    pulse 3s 3; /* Fx 5+ */
    -o-animation:      pulse 3s 3; /* Opera 12+ */
    animation:         pulse 3s 3; /* IE 10+, Fx 29+ */
  }

  @-webkit-keyframes pulseBG {
    /*0% { color: #FFF; }*/
    50% { background: #DB9635; }
    /*100% { color: #FFF; }*/
  }
  
  @-moz-keyframes pulseBG {
    /*0% { color: #FFF; }*/
    50% { background: #DB9635; }
    /*100% { color: #FFF; }*/
  }
  
  @-o-keyframes pulseBG {
    /*0% { color: #FFF; }*/
    50% { background: #DB9635; }
    /*100% { color: #FFF; }*/
  }
  
  @keyframes pulseBG {
    /*0% { color: #FFF; }*/
    50% { background: #DB9635; }
    /*100% { color: #FFF; }*/
  }

  .elementBGPulse {
    color: #FFF !important;
    -webkit-animation: pulseBG 3s 3; /* Safari 4+ */
    -moz-animation:    pulseBG 3s 3; /* Fx 5+ */
    -o-animation:      pulseBG 3s 3; /* Opera 12+ */
    animation:         pulseBG 3s 3; /* IE 10+, Fx 29+ */
  }


/*Pulse UF*/
  @-webkit-keyframes pulseUF {
    0% { color: #FFF; }
    50% { color: #FF0000; }
    100% { color: #FFF; }
  }
  
  @-moz-keyframes pulseUF {
    0% { color: #FFF; }
    50% { color: #FF0000; }
    100% { color: #FFF; }
  }
  
  @-o-keyframes pulseUF {
    0% { color: #FFF; }
    50% { color: #FF0000; }
    100% { color: #FFF; }
  }
  
  @keyframes pulseUF {
    0% { color: #FFF; }
    50% { color: #FF0000; }
    100% { color: #FFF; }
  }
  
  .elementPulseUF {
    color: #FFF !important;
    -webkit-animation: pulseUF 3s 3; /* Safari 4+ */
    -moz-animation:    pulseUF 3s 3; /* Fx 5+ */
    -o-animation:      pulseUF 3s 3; /* Opera 12+ */
    animation:         pulseUF 3s 3; /* IE 10+, Fx 29+ */
  }

  @-webkit-keyframes pulseBGUF {
    /*0% { color: #FFF; }*/
    50% { background: #68953B; }
    /*100% { color: #FFF; }*/
  }
  
  @-moz-keyframes pulseBGUF {
    /*0% { color: #FFF; }*/
    50% { background: #68953B; }
    /*100% { color: #FFF; }*/
  }
  
  @-o-keyframes pulseBGUF {
    /*0% { color: #FFF; }*/
    50% { background: #68953B; }
    /*100% { color: #FFF; }*/
  }
  
  @keyframes pulseBGUF {
    /*0% { color: #FFF; }*/
    50% { background: #68953B; }
    /*100% { color: #FFF; }*/
  }

  .elementBGPulseUF {
    color: #FFF !important;
    -webkit-animation: pulseBGUF 3s 3; /* Safari 4+ */
    -moz-animation:    pulseBGUF 3s 3; /* Fx 5+ */
    -o-animation:      pulseBGUF 3s 3; /* Opera 12+ */
    animation:         pulseBGUF 3s 3; /* IE 10+, Fx 29+ */
  }
  /*Esta clase solo se añade al index cuando se agrega un producto al carrito y se quita automáticamente*/