<div class="container" ng-swipe-right="" ng-swipe-left="" >
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 style="float:left;">Mis clientes Azure <i class="fa fa-question-circle tourButton" style="float:right; font-size:12px; margin-top:10px; margin-left:10px;" ng-click="IniciarTourClients();"></i></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group row">
                <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-top:13px;">
                    <br>
                    <button class="btn btn-success btn-block" ng-click="showPaymentMethods(1)" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 4">
                        Añadir budget
                    </button>
                    <br><br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-show = "payment">
                    <label for="" class="formaPago">Forma de pago para añadir budget: </label>
                    <div>
                        <label for="number">Cantidad:</label><br>
                        <input type="number" min="0" name = "quantity" ng-model = "quantity">
                    </div>
                    <div class="radio" style="margin-left:20px">
                        <div>
                            <input type="radio" name="TipoPago" value="1" ng-model="paymethod" ng-change="ActualizarFormaPago(1);"> Tarjeta bancaria (Solo Pesos
                            MXN)
                        </div>
                        <div>
                            <input type="radio"  name="TipoPago" value="5" ng-model="paymethod" ng-change="ActualizarFormaPago(5);"> Pago en tienda (Solo Pesos MXN)
                        </div>
                        <div>
                            <input type="radio" name="TipoPago" value="4" ng-model="paymethod" ng-change="ActualizarFormaPago(4);"> Transferencia (Solo Pesos MXN)
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-top:13px;">
                        <button ng-if = "paymethod !== paymentMethods.CREDIT_CARD" type="button" ng-click="checkPayment()" class="btn btn-primary btn-block">
                            Realizar Pago
                        </button>
                        <button ng-if = "paymethod === paymentMethods.CREDIT_CARD" type="button" ng-click="checkPayment();" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalPagoTC"  >
                            Realizar Pago
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h2 style="float:left;">Mis clientes Azure <i class="fa fa-question-circle tourButton" style="float:right; font-size:12px; margin-top:10px; margin-left:10px;" ng-click="IniciarTourClients();"></i></h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="Busqueda">&nbsp;</label>
                    <div class="form-group has-feedback">
                        <input name="Busqueda" type="text" ng-model="EmpresaFilter" class="form-control" size="30" placeholder="Busca un cliente..." />
                        <i class="form-control-feedback glyphicon glyphicon-search"></i>
                    </div>
                
            </div>
        </div>
    
        
        <br>
        
        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <label class="totalCredit" title="Crédito total asignado para su uso en click suscribe. Puedo repartir esta cantidad entre mis clientes.">Crédito total azure budget:</label> {{CreditoDisponible | currency}} pesos.
                <br>
                <label class="asignCredit" title="Crédito total repartido entre mis clientes.">Crédito total asignado:</label> {{CreditoRepartidoPorcentajeTotal}} % - {{CreditoRepartidoTotal | currency}} pesos .
                <br>
                <label class="giveCredit" title="Crédito disponible que aun puedo repartir entre mis clientes.">Crédito por repartir: </label> {{PorcentajeAzureBudget}} % - {{CreditoPorRepartirTotal | currency}} pesos.
                
            </div>
        </div>

        <div ng-show="!(Empresas.length > 0)">
            <h4>Da de alta a un nuevo cliente...</h4>
        </div>
        
        <div ng-show="Empresas.length > 0">

        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <table class="table table-hover table-responsive border-left-right-cero">

                    <th style="cursor:pointer" ng-click="OrdenarPor('NombreEmpresa')"><b>&nbsp;Nombre <span class="fa fa-sort"></span></b></th>

                    <tr ng-repeat="Empresa in Empresas | filter:EmpresaFilter | orderBy:sortBy:reverse" class="repeat-animation">
                        <td>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <b><h3 style="color:#00549F;">{{Empresa.NombreEmpresa}}</h3></b>
                                        <b>RFC:</b> {{Empresa.RFC}}
                                        <br>
                                        <b>Activo desde el:</b> {{Empresa.FechaActivo | date:'d/MM/yyyy hh:mm a'}}
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                    <div class="form-group" style="margin-top:13px;">
                                        <label labelfor="" title="Cantidad por pagar que fué vendida a este cliente.">Cantidad </label>
                                        <br>
                                        {{ (CreditoDisponible * Empresa.PorcentajeAzureBudget) / 100 | currency}} pesos .                                  
                                    </div>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3 pesosCredit" style="margin-top:13px;">
                                    <div class="form-group">
                                        <label labelfor="Cantidad" title="Cantidad que se otorga de crédito a este cliente.">Crédito asignado en porcentaje</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">%</span>
                                            <input  id="Cantidad" name="Cantidad" type="number" pattern="[0-9.]*" ng-model="Empresa.PorcentajeAzureBudget" class="form-control" 
                                                    value="0" min="0" step="1" placeholder="Porcentaje asignado" ng-change="actualizarCantidades(Empresa)"
                                                    min="0" size="3" maxlength="3" oninput="validity.valid||(value='');"/>
                                        </div>
                                        
                                        <br>

                                        <p style="color:red" ng-show="Empresa.WarningCredito">Sin crédito suficiente para la renovación</p>
                                        <p style="color:red" ng-show="Empresa.maxlength">No puedes pasar de 100 % asignado</p>
                                        <p style="color:red" ng-show="frmCantidad.Cantidad.$error.max">Crédito total {{CreditoDisponible | currency}}</p>
                                        
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-top:13px;">
                                    <br>
                                    <button ng-if = "!Empresa.maxlength" class="btn btn-success btn-block" ng-click="ActualizarCredito(Empresa)" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 4">Guardar</button>
                                    <br><br>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
        
        <b>Número total de clientes:</b> {{ Empresas.length }}.
        
        </div>
    </div>
     <!-- Modal -->
 <div id="modalPagoTC" class="modal fade in"  role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click = "cerrarModal('modalPagoTC')" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Open Pay</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
              <div class="w100">
                <form id ="payment-form">
                  <input type="hidden" name="token_id" id="token_id" />
                  <!-- <input type="hidden" name="device_session_id" id="device_session_id" /> -->
                  <div class="grayBackground pymnt-itm card active">
                    <h2>Tarjeta de crédito o débito</h2>
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <div class="alert ocultar" role="alert" id="responseDiv">
                          
                        </div>
                      </div>
                    </div>
  
                    <div class="row" style="margin-top: 15px;">
                      <div
                        class="grayBorder col-md-4 col-lg-4 col-sm-12 col-xs-12 hidden-sm hidden-xs"
                        style="padding-left: 40px;"
                      >
                      
                        <h4>Tarjetas de crédito</h4>
                        <img
                          src="../../../images/open-pay/cards1.png"
                          alt=""
                        />
                      </div>
  
                      <div
                        class="grayBorder col-md-4 col-lg-4 col-sm-12 col-xs-12 hidden-md hidden-lg hidden-xl"
                        style="padding-left: 24px;"
                      >
                        <h4>Tarjetas de crédito</h4>
                        <img
                          src="../../../images/open-pay/cards1.png"
                          alt=""
                        />
                      </div>
                      <div
                        class="col-md-8 col-lg-8 col-sm-12 col-xs-12 hidden-sm hidden-xs"
                        style="padding-left: 40px;"
                      >
                        <h4>Tarjetas de débito</h4>
                        <img
                          src="../../../images/open-pay/cards2.png"
                          alt=""
                        />
                      </div>
                      <div
                        class="col-md-8 col-lg-8 col-sm-12 col-xs-12 hidden-md hidden-lg hidden-xl"
                        style="padding-left: 24px;"
                      >
                        <h4>Tarjetas de débito</h4>
                        <img
                          src="../../../images/open-pay/debito1.PNG"
                          alt=""
                        />
                        <img
                          src="../../../images/open-pay/debito2.PNG"
                          alt=""
                        />
                      </div>
                    </div>
  
                    <div class="row" style="margin-top: 27px; padding-left: 20px;">
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber">
                        <label class="paddingTop">Nombre del titular</label>
                        <input
                          type="text"
                        
                          placeholder="Como aparece en la tarjeta"
                          data-openpay-card="holder_name"
                          id="name" name="name"
                        />
                      </div>
  
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber">
                        <label class="paddingTop">Número de tarjeta</label>
                        <input
                          type="text"
                          id="cardNumber" name="cardNumber"                              
                          data-openpay-card="card_number"
                        /><a ng-show="errorCard">{{errorCardMessage}}</a>
                      </div>
                    </div>
  
                    <div
                      class="row"
                      style="margin-top: 27px; padding-left: 20px;"
                    >
                      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber">
                        <label class="paddingTop">Fecha de expiración</label>
                        <div class="row">
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div class="nameAndNumber half l">
                              <select                                 
                              data-openpay-card="expiration_month"
                              id="ccexpmonth" name="ccexpmonth"
                              >
                                <option ng-repeat="mes in meses" value="{{mes.valor}}">{{mes.nombre}}</option>                                    
                            </select>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div class="nameAndNumber half l">
                              <select                                   
                                data-openpay-card="expiration_year"
                                id="ccexpyear" name="ccexpyear"
                             >
                              <option ng-repeat="anio in anios" value="{{anio.valor}}">{{anio.nombre}}</option>                                       
                              </select>
                            </div>
                          </div>
                        </div>                            
                      </div>
  
                      <div
                        class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber"
                      >
                        <label class="paddingTop">Código de seguridad</label>
                        <div class="row">
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <input
                              type="text"                                 
                              placeholder="3 dígitos"                                  
                              data-openpay-card="cvv2"
                              id="cvv" name="cvv"
                            />
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <center>
                              <img
                                src="../../../images/open-pay/cvv.png"
                                alt=""
                                class="paddingTop"
                              />
                            </center>
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div
                      class="row"
                      style="margin-top: 27px; padding-left: 20px;"
                    >
                     
  
                      <div
                        class="col-md-6 col-lg-6 col-sm-12 col-xs-12 nameAndNumber"
                      >
                        <div class="row">
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <center>
                              <div class="logo">
                                Transacciones realizadas vía:
                              </div>
                              <img
                                src="../../../images/open-pay/openpay.png"
                                class="paddingTop"
                              />
                            </center>
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div class="row">
                              <div
                                class="col-md-2 col-lg-2 col-sm-2 col-xs-2"
                              >
                                <img
                                  src="../../../images/open-pay/security.png"
                                  class="paddingTop"
                                />
                              </div>
                              <div
                                class="col-md-10 col-lg-10 col-sm-10 col-xs-10"
                              >
                                <div class="shield ">
                                  Tus pagos se realizan de forma segura con
                                  encriptación de 256 bits
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                      class="col-md-5 col-lg-5 col-sm-12 col-xs-12 nameAndNumber"
                    ></div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-lg-8 col-sm-4 col-xs-4"></div>
                      <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8 nameAndNumber">
                        <label class="totalLabel" ng-if="amount"> Total: {{amount}} {{currency}}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-md-10 col-lg-10 col-sm-10 col-xs-10"
                      ></div>
                      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        <div class="bkng-tb-cntnt">
                          <input type="submit" class="button text-right" id="pay-button" value="Pagar"/>
                        </div>
                      </div>
                    </div>                       
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

