<div class="container" ng-swipe-right="" ng-swipe-left="">
    <!-- The Modal -->
    <div class="modal" id="modalTipoMoneda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Forma de Pago</h4>
                </div>
                <div class="modal-body">
                    <p>Su moneda de pago (pesos/dólares) es distinto al pedido {{ tipoMonedaCambio.IdPedido}} realizado para éste mismo usuario.
                        <br> Si desea continuar con una moneda pago distinta para el mismo usuario, haga click en "Aceptar". <br> Si desea unificar moneda pago haga click en "Modificar moneda pago" y seleccione la moneda pago correspondiente.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="modalNotificacionCarrito();">Aceptar</button>
                    <button type="button" class="btn btn-primary" ng-click="modalNotificacionComprar();">Modificar moneda pago</button>
                </div>
            </div>
        </div>
    </div>


    <h2>Finalizar compra</h2>
    <hr>
    <br>
    <h5><b>CompuSoluciones y Asociados, S.A. de C.V.</b></h5>
    <h5><b>Av. Mariano Otero No. 1105</b></h5>
    <h5><b>Col. Rinconada del Bosque C.P. 44530</b></h5>
    <h5><b>Guadalajara, Jalisco. México</b></h5>
    <h5><b>Tel: 5000-7777</b></h5>
    <h5><b>RFC: CAS850526N64</b></h5>
    <br>
    <h2>Detalle de los pedidos</h2>
    <hr>
    <br>
    <ul ng-repeat="pedido in PedidoDetalles" class="repeat-animation" style="padding: 0; list-style-type: none;">
        <div class="form-group row" style="background-color:#f5f5f5; padding: 15px; margin-bottom:15px;">
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                <div class="text-center form-group">
                    <div style="color:#00549F;">
                        <label>Pedido</label>
                        <h4>{{ pedido.IdPedido }}</h4>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <div ng-if="pedido.IdFabricante !== 10"><label for="IdEmpresaUsuarioFinal">Usuario final:&nbsp;</label>{{ pedido.NombreEmpresa }}</div>
                        <div ng-if="pedido.IdFabricante === 10"><label for="IdEmpresaUsuarioFinal">Consola:&nbsp;</label>{{ pedido.NombreConsola }}<br></div>
                    <label>Marca de los productos:</label> {{ pedido.NombreFabricante }} <br>
                    <label>Duración del periodo: del {{ pedido.FechaInicio }} al {{ pedido.FechaFin  }}</label> <br>

                    <label>Renovación del periodo:</label> {{ pedido.NombreEsquemaRenovacion }}
                    <div ng-if="pedido.IdFabricante === 2">
                        <label>Contrato: </label> {{ pedido.ContratoBaseAutodesk || 'Nuevo' }} <br>
                        <label>Tipo de orden: </label>
                        <span ng-if="pedido.IdAccionAutodesk === 1 && !pedido.Renovado">Orden inicial</span>
                        <span ng-if="(pedido.IdAccionAutodesk === 2 || pedido.IdAccionAutodesk === 3) && !pedido.Renovado">Add-On</span>
                        <span ng-if="(pedido.IdAccionAutodesk === 2 || pedido.IdAccionAutodesk === 3) && pedido.Renovado">Add-On (Renovación)</span>
                        <span ng-if="pedido.IdAccionAutodesk === 4">Renovación</span>
                        <span ng-if="pedido.IdAccionAutodesk === 5">Extensión</span>
                        <br>
                        <label>Orden de compra:</label> {{ pedido.OrdenCompra }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Forma de pago:</label> {{ pedido.Forma }} <br>
                    <label>Tipo de cambio:</label> {{ pedido.TipoCambio | currency: "$":2 }} {{ pedido.MonedaPago }}<br>
                    <label>Subtotal:</label> {{ calcularSubTotal(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }} <br>
                    <label>IVA:</label> {{ calcularIVA(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }}
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Total del pedido:</label><br>
                    <h5> {{ calcularTotal(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }}</h5>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                <div class="form-group">
                </div>
            </div>
        </div>

        <li ng-repeat="producto in pedido.Productos" style="list-style-type:none;">
            <div class="form-group row" style="padding: 15px; margin-bottom:15px;">
                <div class="col-xs-11 col-sm-11 col-md-1 col-lg-1 col-lg-offset-1, col-md-offset-1">
                    <div class="text-center form-group">
                        <img ng-src="{{ producto.Imagen }}" style="width:45px;" width="45">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label for="">Id artículo:</label> {{ producto.IdERP }} <br>
                        <label for="">Nombre:</label> {{ producto.NombreProducto }} <br>
                        <label for="">Tipo de producto:</label> {{ producto.Tipo }}
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="">Cantidad:</label> {{ producto.Cantidad }} <br>
                        <label ng-show="pedido.IdFabricante !== 10 || pedido.IdProducto == 74" for="">Precio unitario:</label>
                        <label ng-show="pedido.IdFabricante === 10" for="">Precio de consumo:</label>{{ calculatePriceWithExchangeRate(pedido, producto, 'PrecioUnitario') | currency }} {{ pedido.MonedaPago }}
                        <br>
                        <label ng-hide="pedido.IdFabricante === 10 || pedido.IdFabricante === 2" for="">Precio renovación: {{ calculatePriceWithExchangeRate(pedido, producto, 'PrecioUnitario') | currency}} {{ pedido.MonedaPago }}</label>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group">

                        <span ng-show="producto.PrimeraCompraMicrosoft">
								<label for="">Total del producto:</label>
								<br>
             				 <del style="font-size:11px;">{{ calcularProductTotal(pedido, producto, 'PrecioUnitario') | currency }} {{ pedido.MonedaPago }}</del>
              				 <b style="color:#68953B;">GRATIS!</b>
						</span>

                    </div>
                </div>
            </div>
        </li>
        <hr>
    </ul>
    <br>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><b>Importante!</b></p>
            <p>Recibirá una factura por cada pedido generado, consulte las fechas de vencimiento establecidas en su factura para realizar su pago correspondiente, de lo contrario se darán de baja los productos del pedido y no se renovarán.</p>
            <p>Si deseas disminuir la cantidad de un producto o cancelar la suscripción, podrás hacerlo en el <a href="#/Monitor">monitor de pedidos por cliente</a>. Tienes hasta 4 días antes de la finalización del periodo para hacer este cambio y se verá
                reflejado hasta la renovación del próximo.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="form-group row">
        <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
            <div class="form-group">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div class="form-group">
                <button type="button" ng-click="back();" class="btn btn-warning btn-block">Atrás</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div class="form-group">
                <button type="button" ng-click="Comprar();" class="btn btn-primary btn-block" ng-disabled="btnComprarBloqueado">Comprar</button>
            </div>
        </div>
    </div>
</div>