<div class="container" ng-swipe-right="" ng-swipe-left="">
	<h2>Finalizar compra</h2>
	<hr>
	<br>
	<!-- <h5><b>CompuSoluciones y Asociados, S.A. de C.V.</b></h5>
	<h5><b>Av. Mariano Otero No. 1105</b></h5>
	<h5><b>Col. Rinconada del Bosque C.P. 44530</b></h5>
	<h5><b>Guadalajara, Jalisco. México</b></h5>
	<h5><b>Tel: 5000-7777</b></h5>
	<h5><b>RFC: CAS850526N64</b></h5> -->
	<br>
	<h2>Detalle de los pedidos</h2>
	<hr>
	<br>
	<ul ng-repeat="pedido in PedidoDetalles" class="repeat-animation" style="padding: 0; list-style-type: none;">
		<div class="form-group row" style="background-color:#f5f5f5; padding: 15px; margin-bottom:15px;">
			<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
				<div class="text-center form-group">
					<div style="color:{{currentDistribuidor.PrimaryColor}} !important;">
						<label>Pedido</label>
						<h4>{{ pedido.IdPedido }}</h4>
						<br>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="IdEmpresaUsuarioFinal">Usuario final:</label> {{ pedido.NombreEmpresa }} <br>
					<label>Marca de los productos:</label> {{ pedido.NombreFabricante }} <br>
					<label>Duración del periodo:</label> del {{ pedido.FechaInicio }} al {{ pedido.FechaFin }} <br>
					<label>Renovación del periodo:</label> {{ pedido.NombreEsquemaRenovacion }} <br>
					<label>Uso de CFDI:</label> {{ usoCFDI }}

					<div ng-if="pedido.IdFabricante === 2"><label>Contrato: </label> {{ pedido.ContratoBaseAutodesk || 'Nuevo' }} </div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="form-group">
					<label>Forma de pago:</label> {{ pedido.Forma }} <br>
					<label>Tipo de cambio:</label> {{ pedido.TipoCambio | currency: "$":4 }} {{ pedido.MonedaPago }}<br>
					<label>Subtotal:</label> {{ calcularSubTotal(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }} <br>
					<label>IVA:</label> {{ calcularIVA(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
				<div class="form-group">
					<label>Total del pedido:</label>
					<h5>{{ calcularTotal(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }} </h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
				<div class="form-group">
				</div>
			</div>
		</div>

		<li ng-repeat="producto in pedido.Productos" style="list-style-type:none;">
			<div class="form-group row" style="padding: 15px; margin-bottom:15px;">
				<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
					<div class="text-center form-group">
						<img ng-src="{{ producto.Imagen }}" style="width:45px;" width="45">
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="">Id Artículo:</label> {{ producto.IdERP }} <br>
						<label for="">Nombre:</label> {{ producto.NombreProducto }} <br>
						<label for="">Tipo de producto:</label> {{ producto.Tipo }}
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="">Cantidad:</label> {{ producto.Cantidad }} <br>
						<label for="">Precio unitario:</label> {{ precioReal(producto.PrecioNormalUF, producto.MonedaPrecioUF, pedido.MonedaPago, pedido.TipoCambio) | currency }} {{ pedido.MonedaPago }}
						<br>
						<label for="">Precio renovación:</label> {{ precioReal(producto.PrecioRenovacionUF, producto.MonedaPrecioUF, pedido.MonedaPago, pedido.TipoCambio) | currency}} {{ pedido.MonedaPago }}
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="form-group">
						<label for="">Total del producto:</label>
						<br>
						<!-- <span ng-show="producto.PrimeraCompraMicrosoft">
              <del style="font-size:11px;">{{ producto.PrecioUnitario * producto.Cantidad | currency }} {{ pedido.MonedaPago }}</del>
              <b style="color:#68953B;">GRATIS!</b>
						</span> -->
						<span ng-show="!producto.PrimeraCompraMicrosoft">
							{{ precioReal(producto.PrecioNormalUF, producto.MonedaPrecioUF, pedido.MonedaPago, pedido.TipoCambio) * producto.Cantidad | currency }} {{ pedido.MonedaPago }} 
							<!-- {{ producto.PrecioNormalUF * producto.Cantidad | currency }} {{  producto.MonedaPrecioUF }}  -->
						</span>
					</div>
				</div>
			</div>
		</li>

		<hr>
	</ul>
	<br>
	<div class="form-group row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p><b>Importante!</b></p>
			<p>Recibirá una factura por cada pedido generado, consulte las fechas de vencimiento establecidas en su factura para realizar su pago correspondiente, de lo contrario se darán de baja los productos del pedido y no se renovarán.</p>
			<p>Si deseas disminuir la cantidad de un producto o cancelar la suscripción, podrás hacerlo en el <a href="#/Monitor">monitor de pedidos por cliente</a>. Tienes hasta 4 días antes de la finalización del periodo para hacer este cambio y se verá reflejado hasta la renovación del próximo.</p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="form-group row">
		<div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
			<div class="form-group">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div class="form-group">
				<button type="button" ng-click="back();" class="btn btn-warning btn-block" style="background:{{currentDistribuidor.SecondaryColor}} !important">Atrás</button>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<div class="form-group">
				<button type="button" ng-click="Comprar();" class="btn btn-primary btn-block" ng-disabled="btnComprarBloqueado" style="background:{{currentDistribuidor.PrimaryColor}} !important">Comprar</button>
			</div>
		</div>
	</div>
</div>