<div class="container" ng-swipe-right="" ng-swipe-left="">

  <div class="form-group row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <h2 style="float:left;">Monitor de pedidos por pagar</h2>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p style="float:left;">En este monitor puedes pagar los pedidos para que sean renovados en el siguiente periodo, puedes actualizar la cantidad o cancelar las suscripciones que deseas renovar en el monitor de pedidos por cliente. Se creará la factura el día de renovación respetando el tipo de cambio en que fue pagado el pedido. <u>Una vez pagado el pedido, no se podrá cancelar o actualizar cantidades del mismo</u>, hasta el próximo periodo se podrán realizar cambios. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p style="float:left;">Si ya entregaste tu carta de cargos automáticos, puedes activar o desactivar que se realicen los pagos automáticamente. Los pedidos que se cobraran de manera automática son los que aparecen en este monitor. Si deseas puedes realizar el pago manual y no se cobrará el cargo automático.</p>
    </div>
  </div>


  <div class="row" ng-show="infoEmpresa.CartaConfirmacion2 === 1">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label><input id="RealizarCargoAutomatico" type="checkbox" ng-checked="infoEmpresa.RealizarCargoAutomatico" ng-true-value="1" ng-false-value="0" ng-model="infoEmpresa.RealizarCargoAutomatico" ng-click="ActualizarPagoAutomatico();" > Realizar cargo automático a la tarjeta.</label>
    </div>
    <div>        
      <input type="radio" name="payType" id="Tarjeta" value="1" checked/> Pagar con Tarjeta
      </div>
      <div>
      <input type="radio" name="payType" id="Prepago" value="4"/> Transferencia (Solo Pesos MXN)
      <label for="" class="SaldoReal" ng-hide="infoEmpresa.Transferencia === 0 || infoEmpresa.Transferencia === null"> &nbsp;<b>Tu Saldo es: ${{infoEmpresa.Transferencia}}</b> </label>
      </div>
  </div>

  <hr>
  <div class="form-group row" ng-hide="DeshabilitarPagar">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <label>Tipo de cambio: </label> {{TipoCambio | currency: "$":4}} pesos
      <br>
      <label>Servicio electrónico: </label> {{ServicioElectronico | currency}} pesos
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <label>Subtotal: </label> {{Subtotal | currency }} pesos
      <br>
      <label>IVA</label> {{Iva | currency}} pesos
      <br>
      <label>Total a pagar: </label> {{Total | currency}} pesos
    </div>
  </div>

  <div class="row" ng-hide="DeshabilitarPagar">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <input id="Activo" type="checkbox" ng-model="todos" ng-true-value="1" ng-false-value="0" ng-click="seleccionarTodos();">
        <label>Seleccionar todos</label>  
    </div>
  </div>
  <hr>
  <div ng-repeat="(key, value) in Pedidos | groupBy: 'IdPedido'">
    <div class="row">



      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
        <input id="Activo" type="checkbox" ng-model="PedidosObj[key].Check" ng-true-value="1" ng-false-value="0" ng-click="pedidosPorPagar(key);">
        <label>Pedido N°:</label> {{key}} {{value.Estatus}}
        <br>
        <label>Cliente:</label> {{PedidosObj[key].NombreEmpresa}}
        <br>
        <label>Fecha límite de pago: </label> {{PedidosObj[key].FechaFin| date:'yyyy-MM-dd'}}
        <br>
        <label>Periodo a pagar: </label> {{PedidosObj[key].FechaFin| date:'yyyy-MM-dd'}} - {{PedidosObj[key].FechaFinProximo|
        date:'yyyy-MM-dd'}}
        <br>
        <label>Precio renovación: </label> {{obtenerSubTotal(key) | currency}} pesos
        <a ng-click="mostrarDetalles(key) " style="text-decoration: none">ver detalles 
          <span class="glyphicon glyphicon-triangle-bottom " ng-show="!PedidosObj[key].Mostrar "></span>
          <span class="glyphicon glyphicon-triangle-top " ng-show="PedidosObj[key].Mostrar "></span>
        </a>
      </div>
    </div>



    <table class="table table-hover table-responsive border-left-right-cero" ng-show="PedidosObj[key].Mostrar">
      <tr ng-repeat="pedido in value | filter:PedidoFilter " class="repeat-animation">
        <td>
          <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <label><b>{{pedido.NombreProducto}}</b></label>
              <br>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
              <label>Cantidad: </label> {{pedido.CantidadProxima}}
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
              <label>Precio renovacion: </label> {{pedido.PrecioRenovacion | currency}} {{pedido.MonedaPrecio}}
            </div>


          </div>
        </td>
      </tr>
    </table>
    <hr>
  </div>

  <div ng-show="DeshabilitarPagar">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
        <h3 style="float:left;">No tienes pedidos pendientes por pagar...</h3>
      </div>
    </div>
  </div>

  <div class="form-group row" ng-hide="DeshabilitarPagar">
    <div class="col-xs-0 col-sm-0 col-md-9 col-lg-9">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="">
          <button id="btnSiguiente" type="button" ng-click="checkPayment()" class="btn btn-primary btn-block">
              Realizar Pago
                    </button>
      </div>
    </div>
  </div>

</div>

<script>
  $('#btnSiguiente').click(function(){
    location.reload(true);
  });
</script>
