<div class="container" ng-swipe-right="" ng-swipe-left="">


	<div class="form-group row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<h2 style="float:left;">Monitor de suscripciones y servicios <i class="fa fa-question-circle tourButton" style="float:right; font-size:12px; margin-top:10px; margin-left:10px;"
				 ng-click="IniciarTourMonitor();"></i></h2>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<br/>
			<select id="IdEmpresaUsuarioFinal" name="IdEmpresaUsuarioFinal" class="form-control selectOption" ng-model="EmpresaSelect"
			 ng-options="Empresa.IdEmpresa as Empresa.NombreEmpresa for Empresa in selectEmpresas" ng-change="ActualizarMonitor();"
			 ng-show="SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7">
                <option ng-selected="true" value="">Selecciona un cliente</option>
            </select>
		</div>
	</div>

	<div class="form-group row" ng-show="!(EmpresaSelect === null) || (SessionCookie.IdTipoAcceso === 4 || SessionCookie.IdTipoAcceso === 6)">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-show="!(EmpresaSelect == '') || (SessionCookie.IdTipoAcceso === 4 || SessionCookie.IdTipoAcceso === 6)">
			<label for="IdFabricante">Filtrar por:</label>
			<div class="form-group has-feedback">
				<select name="IdFabricante" class="form-control filterOption" ng-model="BuscarProductos.IdFabricante" ng-options="Fabricante.IdFabricante as Fabricante.Nombre for Fabricante in selectFabricantes"
				 ng-change="ActualizarMonitor();">
                <option ng-selected="true" value="">Todos los fabricantes</option>
            </select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-show="!(EmpresaSelect == '') || (SessionCookie.IdTipoAcceso === 4 || SessionCookie.IdTipoAcceso === 6)">
			<label for="busqueda">&nbsp;</label>
			<div class="form-group has-feedback">
				<input type="text" ng-model="PedidoFilter" class="form-control" size="30" placeholder="Busca un Pedido..." />
				<i class="form-control-feedback glyphicon glyphicon-search"></i>
			</div>
		</div>
	</div>

	<div class="form-group row" ng-show="SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<b>Nota importante *</b> <br> Para realizar la renovación de tus suscripciones de forma automática por medio de tu tarjeta
			bancaria es necesario descargar la siguiente carta, llenarla y enviarla a tu equipo de soporte CompuSoluciones. <br> Descarga
			tu carta <a target="blank" href="https://s3.amazonaws.com/marketplace.compusoluciones.com/autorizacion_tarjeta.pdf">aquí</a>.
			(Este proceso solo se realiza una vez). <br> Si quieres realizar tu renovación automática con crédito CompuSoluciones,
			solo selecciona la opción y valida que tengas crédito disponible pagando las facturas pendientes o aumentando la cantidad
			de crédito del usuario final.
		</div>
	</div>

	<br>
	<div ng-show="Vacio == 0 && EmpresaSelect != ''">
		<h4>Aún no cuentas con suscripciones o servicios... </h4>
	</div>

	<div ng-repeat="(key, value) in Pedidos | groupBy: 'IdPedido'">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<label>Pedido N°:</label> {{key}} {{value.Estatus}}
			</div>
		</div>

		<table class="table table-hover table-responsive border-left-right-cero">
			<tr ng-repeat="pedido in value | filter:PedidoFilter " class="repeat-animation">
				<td>
					<div class="row" ng-hide="pedido.IdTipoProducto != 1">

						<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<h4><b>{{pedido.NombreProducto}}</b></h4>
							<label for="">Fabricante:</label> {{pedido.NombreFabricante}}
							<br>
							<label for="">Tipo de producto:</label> {{pedido.Tipo}}
							<br>
							<label for="">Estatus del pedido:</label> {{pedido.Estatus}}
						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
							<label>Cantidad: </label>
							<br/> {{pedido.Cantidad}}
						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
							<label>Fecha Solicitud: </label>
							<br/> {{pedido.FechaInicio | date:'dd MMMM yyyy'}}
						</div>
					</div>

					<div class="row" ng-show="pedido.IdTipoProducto != 1">

						<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<h4><b>{{pedido.NombreProducto}}</b></h4>
							<label for="">Fabricante:</label> {{pedido.NombreFabricante}}
							<br>
							<label for="">Tipo de producto:</label> {{pedido.Tipo}}
							<br>
							<div ng-show="(pedido.Activo) && (SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7)"><label for="">Estatus del pedido:</label> {{pedido.Estatus}}</div>
							<div ng-show="pedido.IdFormaPagoProxima === 1 && (SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3 || SessionCookie.IdTipoAcceso == 7)">
								<label>Estatus de renovación:</label> {{pedido.EstatusRenovacion}}
							</div>
							<div ng-show="pedido.IdFabricante === 2">
								<label for="">Correo de contacto:</label> {{pedido.CorreoContacto || 'Correo no definido'}}
							</div>
							<div ng-show="(pedido.Activo) && (SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3)">
								<label ng-hide="pedido.Bloquear===1 || pedido.CargoRealizadoProximoPedido ===1 ">Próxima forma de pago:</label>
							</div>
							<form ng-hide="pedido.Bloquear===1 || pedido.CargoRealizadoProximoPedido ===1 ">
								<div class="row" ng-show="(pedido.Activo) && (SessionCookie.IdTipoAcceso == 2 || SessionCookie.IdTipoAcceso == 3)">
									<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="radio" style="margin-left:20px">
											<div ng-hide="pedido.IdTipoProducto === 3">
												<input type="radio" name="FormaPago" value="1" ng-model="pedido.IdFormaPagoProxima" ng-change="ActualizarPago(pedido)" ng-disabled="(pedido.MonedaPagoProxima === 'Dólares') || (pedido.IdEstatusPedido !== 3)">												Tarjeta
											</div>
											<div>
												<input type="radio" name="FormaPago" value="2" ng-model="pedido.IdFormaPagoProxima" ng-change="ActualizarPago(pedido)" ng-disabled="(pedido.IdEstatusPedido !== 3)">												Crédito
											</div>
										</div>
									</div>
									<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="radio" style="margin-left:20px">
											<div>
												<input type="radio" name="MonedaPago" value="Dólares" ng-model="pedido.MonedaPagoProxima" ng-change="ActualizarMoneda(pedido)"
												 ng-disabled="(pedido.IdFormaPagoProxima == 1) || (pedido.IdEstatusPedido !== 3)"> Dólares
											</div>
											<div>
												<input type="radio" name="MonedaPago" value="Pesos" ng-model="pedido.MonedaPagoProxima " ng-change="ActualizarMoneda(pedido)"
												 ng-disabled="(pedido.IdEstatusPedido !== 3)"> Pesos
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>

						<div ng-show="pedido.IdTipoProducto==3 && (SessionCookie.IdTipoAcceso==2 || SessionCookie.IdTipoAcceso==3) " class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
							<label>Consumo: </label>
							<br/> {{pedido.PrecioUnitarioSinDescuento | currency}} {{pedido.MonedaPago}}
							<br/> <a href="#/DetallesAzure/{{pedido.IdPedido}}">Ver detalles</a>
						</div>
						<div ng-show="pedido.IdTipoProducto==3 && (SessionCookie.IdTipoAcceso==4 || SessionCookie.IdTipoAcceso==6 || SessionCookie.IdTipoAcceso==7) "
						 class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
							<label>Bajo consumo </label>
						</div>
						<div ng-hide="pedido.IdTipoProducto==3 " class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
							<label>Suscripciones: </label>
							<br>

							<div style="margin:0;padding0; " ng-show="(SessionCookie.IdTipoAcceso==2 || SessionCookie.IdTipoAcceso==3) && pedido.CargoRealizadoProximoPedido ===1">{{pedido.Cantidad}}</div>
							<div style="margin:0;padding0; " ng-show="!(SessionCookie.IdTipoAcceso==2 || SessionCookie.IdTipoAcceso==3) || (pedido.Bloquear===1 && pedido.IdFabricante === 2)">{{pedido.Cantidad}}</div>
							<div style="margin:0;padding0; " ng-show="(SessionCookie.IdTipoAcceso==2 || SessionCookie.IdTipoAcceso==3) && pedido.CargoRealizadoProximoPedido ===1">
								<br>
								<label>Renovación</label>
								<br>
								<div ng-show="pedido.Activo">
									{{pedido.CantidadProxima}}
								</div>
								<div ng-hide="pedido.Activo">
									Por cancelar
								</div>
							</div>
							<a ng-click="ActualizarCantidad(pedido.IdPedidoDetalle) " style="text-decoration: none" ng-hide="pedido.CargoRealizadoProximoPedido ===1 || !(SessionCookie.IdTipoAcceso==2 || SessionCookie.IdTipoAcceso==3 ) || (pedido.Bloquear===1 && pedido.IdFabricante === 2) ">{{pedido.Cantidad}} &nbsp;
                                <span class="glyphicon glyphicon-triangle-bottom " ng-show="!pedido.MostrarCantidad " ></span>
                                <span class="glyphicon glyphicon-triangle-top " ng-show="pedido.MostrarCantidad " ></span>
                            </a>
							<br/>
							<br/>
							<br/>
							<div class="row " ng-show="pedido.MostrarCantidad ">
								<div class="form-group col-xs-6 col-sm-6 col-md-12 col-lg-12 ">
									<label>Actualizar: </label>
									<br>
									<p>El numero de suscripciones se vera reflejado en la renovación.</p>
								</div>
							</div>

							<div class="row " ng-show="pedido.MostrarCantidad ">
								<div class="form-group col-xs-6 col-sm-6 col-md-7 col-lg-7 ">
									<input type="number " ng class="form-control " ng-model="pedido.CantidadProxima" size="5 " maxlength="5 " />
								</div>
								<div class="form-group col-xs-6 col-sm-6 col-md-5 col-lg-5 ">
									<h4>
										<a id="aActualizar " type="submit " title="Guardar " ng-click="ActualizarDetalle(pedido);" ng-disabled="!frmCantidad.$valid ">
											<span class="fa fa-floppy-o " style="cursor:pointer "></span>
										</a>
									</h4>
								</div>
							</div>

						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
							<label>Fecha inicio de suscripción: </label>
							<br/> {{pedido.FechaInicio | date:'d/MM/yyyy'}}
						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
							<label>Fecha fin de suscripción: </label>
							<br/> {{pedido.FechaFin| date:'d/MM/yyyy'}}
						</div>
						<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 " ng-show="pedido.PedidoAFabricante==0">
							<br>
							<b>
                                <div style="font-style: italic; ">Procesando tu pedido... <span class="glyphicon glyphicon-time " title="Procesando tu pedido... " ></span></div>
                            </b>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 " ng-show="pedido.ResultadoFabricante2==='FAILED' ">
							<b>
                                <div style="font-style: italic; ">Error al procesar tu pedido, ponte en contacto con el equipo de soporte CompuSoluciones. <span class=" glyphicon glyphicon-remove" title="Procesando tu pedido... " ></span></div>
                            </b>
						</div>
						<div ng-hide="pedido.CargoRealizadoProximoPedido ===1 || (pedido.Bloquear===1 && pedido.IdFabricante === 2)|| pedido.ResultadoFabricante2==='FAILED' ">
							<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 " ng-show="pedido.PedidoAFabricante !=0 && (SessionCookie.IdTipoAcceso==2 || SessionCookie.IdTipoAcceso==3 ) ">
								<button class="btn btn-danger btn-block " ng-show="pedido.Activo " ng-disabled="form.habilitar" ng-click="Confirmar(pedido.IdPedidoDetalle) ">Cancelar <span class="glyphicon glyphicon-trash "></span></button>
								<button class="btn btn-success btn-block " ng-show="!pedido.Activo " ng-disabled="form.habilitar" ng-click="Reanudar(pedido) ">Reanudar <span class="glyphicon glyphicon-circle-arrow-up "></span></button>
								<br>
								<br>
								<div ng-show="pedido.Mostrar ">
									<div class="row ">
										<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
											<label>Se cancelará la suscripción automática, ¿Estás de acuerdo?</label>
										</div>
									</div>
									<div class="row ">
										<div class="form-group col-xs-6 col-sm-6 col-md-12 col-lg-12 ">
											<button class="btn btn-block btn-warning " ng-disabled="form.habilitar" ng-click="CancelarPedido(pedido) ">Sí</button>
										</div>
										<div class="form-group col-xs-6 col-sm-6 col-md-12 col-lg-12 ">
											<button class="btn btn-block btn-primary " ng-disabled="form.habilitar" ng-click="Confirmar(pedido.IdPedidoDetalle) ">No</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>