<div class="container" ng-swipe-right="" ng-swipe-left="">
<h2>Historial de Pedidos</h2>

        <div class="row">          
          <div class="col-xs-12 col-sm-2">
            <label>Mes</label>
            <select id="Meses" name="Meses" class="form-control selectOption" ng-model="MesActual.id" ng-options="meses.id as meses.mes for meses in Meses"
            ng-change="callFunctions();" ng-show="SessionCookie.IdTipoAcceso == 2"></select>
          </div>
          <div class="col-xs-12 col-sm-2">
            <label>Año</label>
            <select id="Years" name="Years" class="form-control selectOption" ng-model="YearActual.Year" ng-options="years.FechaActivo as years.FechaActivo for years in Years"
              ng-change="callFunctions();" ng-show="SessionCookie.IdTipoAcceso == 2"></select>
          </div>
          <div class="col-xs-12 col-sm-3 form-group">
                <label for="Cliente">Clientes</label>
                <select id="IdEmpresaUsuarioFinal" name="IdEmpresaUsuarioFinal" class="form-control selectOption" ng-model="getEnterprise.IdEmpresaUsuarioFinal"
                 ng-options="Empresa.Idempresa as Empresa.NombreEmpresa for Empresa in selectFinalUser" ng-change="callFunctions();"
                 ng-show="SessionCookie.IdTipoAcceso == 2">
                    <option ng-selected="true" value="">Todos</option>
                </select>
          </div>
              <div class="col-xs-12 col-sm-3 searchOption">
                  <label for="Busqueda">Busqueda</label>
                  <div class="form-group has-feedback">
                      <input type="text" ng-model="filter" ng-change="search()" class="form-control" size="30" placeholder="Busca Pedidos..." />
                      <i class="form-control-feedback glyphicon glyphicon-search"></i>
                  </div>
              </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- <table class="table table-hover table-responsive border-left-right-cero"> -->
                <table class="table table-striped table-responsive border-left-right-cero">
                <th><b>Número de pedido</b></th>
                <th><b>Cliente</b></th>
                <th><b>Nombre Usuario</b></th>
                <th><b>Cantidad</b></th>
                <th><b>Producto</b></th>
                <th><b>Precio Compra Distribuidor</b></th> 
                <th><b>Precio Compra Cliente</b></th>                                
                <!-- <th><b>Estatus del pedido</b></th>         -->
                <th><b>Tipo de Cambio</b></th>
                <th><b>Precio Renovación Distribuidor</b></th>
                <th><b>Precio Renovación Cliente</b></th>
                <th><b>Estatus Pedido Distribuidor</b></th>
                <th><b>Estatus Pedido Cliente</b></th>
                <th><b>Renovación Distribuidor</b></th>
                <th><b>Renovación Usuario Final</b></th>
                                              
                <tr ng-repeat="pedido in paginatedOrders[currentPage]" class="repeat-animation">
                <!--<tr ng-repeat="pedido in Pedidos | orderBy:sortBy:reverse | filter:EstatusSelect:strict" class="repeat-animation">-->
                  <td class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <div class="form-group">
                      <b><h5>{{ pedido.IdPedido }}</h5></b>
                    </div>
                  </td>
                  <!-- <td class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <div class="form-group">
                      <b><h5>{{ pedido.NombreEmpresa }}</h5></b>
                    </div>
                  </td> -->
                  
                  <style>
                  .ngTruncateToggleText {
                      color: blue;
                      font-size: 90%;
                      font-style: italic;
                  }
                  </style>
                  
                  <td class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                      <div class="form-group">
                        <p ng-text-truncate="pedido.NombreEmpresa"
                        ng-tt-chars-threshold="25"></p>
                      </div>
                      </td>
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                      <div class="form-group">
                        <b><h5>{{ pedido.NombreUsuario }} {{ pedido.ApellidoPaterno }}</h5></b>
                      </div>
                    </td>
                  <td class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                    <div class="form-group">
                      <b><h5>{{ pedido.Cantidad }}</h5></b>
                    </div>
                  </td>
                  <!-- <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.Nombre }}</h5></b>
                    </div>
                  </td> -->
                <td class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                <div class="form-group">
                  <p ng-text-truncate="pedido.Nombre"
                  ng-tt-chars-threshold="25"></p>
                </div>
                </td>
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                      <div class="form-group">
                        <b><h5>{{ pedido.PrecioDistribuidorNomal }} {{ pedido.MondaPrecioDist }}</h5></b>
                      </div>
                    </td>  
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                      <div class="form-group">
                        <b><h5>{{ pedido.PrecioUsuarioFinalNormal }} {{ pedido.MonedaPrecioUF }}</h5></b>
                      </div>
                    </td>                                    
                  <!-- <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.Estatus }}</h5></b>
                    </div>
                  </td>               -->
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.TipoCambio }}</h5></b>
                    </div>
                  </td>
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.PrecioRenovacionDist }} {{ pedido.MondaPrecioDist }}</h5></b>
                    </div>
                  </td>
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.PrecioRenovacionUF }} {{ pedido.MonedaPrecioUF }}</h5></b>
                    </div>
                  </td>
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                      <div class="form-group">
                        <b><h5>{{ pedido.EstatusPedidoDist }}</h5></b>
                      </div>
                    </td>
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.EstatusPedidoUF }}</h5></b>
                    </div>
                  </td>  
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.PagoRenovacionDist }}</h5></b>
                    </div>
                  </td>    
                  <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                      <b><h5>{{ pedido.PagoRenovacionUF }}</h5></b>
                    </div>
                  </td>                                                                                                  
                </tr>
              </table>
            </div>
          </div>

        <div style="display: flex; justify-content: center; margin-bottom: 20px">
            <div ng-repeat="i in getNumberOfPages track by $index" class="btn-group" role="toolbar">
              <button ng-click="setCurrentPage($index)" class="btn" ng-class="{ 'btn-secondary': (currentPage === $index), 'btn-default': (currentPage !== $index) }"
                type="button">{{ $index + 1 }}</button>
            </div>
          </div>
</div>
