<div class="container" ng-swipe-right="" ng-swipe-left="">

	<div class="form-group row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<h2 style="float:left;">Carrito de compras</h2>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	</div>

	<br>
	<br>

	<div ng-show="!(PedidoDetalles.length > 0)">
		<h4>No se han agregado productos a tu carrito...</h4>
	</div>

	<div ng-show="PedidoDetalles.length > 0">
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-1 col-lg-5">
				<label for="" class="formaPago">Forma de pago para {{Distribuidor.NombreEmpresa}}: </label>
				<div class="radio" style="margin-left:20px">
					<div>
						<input type="radio" name="TipoPago" value="2" checked="checked" ng-model="Distribuidor.IdFormaPagoPredilecta" ng-change="ActualizarFormaPago(2);"> Crédito CompuSoluciones
					</div>
					<div>
						<input type="radio" name="TipoPago" value="1" ng-disabled="ValidarFormaPago()" ng-model="Distribuidor.IdFormaPagoPredilecta"
							ng-change="ActualizarFormaPago(1);"> Tarjeta bancaria (Solo Pesos MXN)
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<div class="form-group" ng-hide="isPayingWithCreditCard() || hasProtectedExchangeRate()" >
					<label for="" class="">* ¿Con qué moneda quieres pagarlos?</label>
					<div class="radio" style="margin-left:20px" >
						<div>
							<input type="radio" ng-checked="isPayingWithCSCredit()" name="MonedaPago" ng-change="CambiarMoneda('Pesos')" value="Pesos" ng-model="Distribuidor.MonedaPago">Pesos
						</div>
						<div ng-show="validateUSD();">
							<input type="radio" name="MonedaPago"  value="Dólares" ng-model="Distribuidor.MonedaPago" ng-change="CambiarMoneda('Dólares')">Dólares
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group row" ng-show="hasProtectedExchangeRate();">
			<div class="alert alert-warning">
				<b>Nota importante *</b> Te notificamos que cuentas con un producto que lleva Tipo de Cambio Protegido. Por lo anterior tu pago debe aplicarse en moneda nacional. <br>
			</div>
		</div>

		<div class="form-group row" ng-show="isPayingWithCreditCard() && !hasProtectedExchangeRate()">
			<div class="alert alert-warning">
				<b>Nota importante *</b> Al haber elegido el método de pago con tarjeta de crédito deberás realizar tu operación en moneda nacional.<br>
			</div>
		</div>

		<div class="form-group row" ng-show="isPayingWithCreditCard()">
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<b>Nota importante *</b> <br> Para realizar la renovación de tus suscripciones de forma automática por medio de tu tarjeta
				bancaria es necesario descargar la siguiente carta, llenarla y enviarla a tu equipo de soporte CompuSoluciones. <br>				Descarga tu carta <a target="blank" href="https://s3.amazonaws.com/marketplace.compusoluciones.com/autorizacion_tarjeta.pdf">aquí</a>.
				(Este proceso solo se realiza una vez)
			</div>
		</div>
		
		<table class="repeat-animation">
			<tr ng-repeat="Producto in PedidoDetalles">
				<td>
					<div class="row">

						<div class="col-xs-11 col-sm-11 col-md-1 col-lg-1">
							<div class="text-center form-group">
								<img ng-src="{{Producto.Imagen}}" style="width:45px;" width="45">
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="form-group">
								<label for="">Id Artículo:</label> {{Producto.IdERP}} <br>
								<label for="">Nombre:</label> {{Producto.Producto}} <br>
								<label for="">Marca:</label> {{Producto.Fabricante}}
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="form-group">
								<label for="">Cantidad:</label> {{Producto.Cantidad}} <br>
								<label for="">Precio unitario:</label> {{Producto.PrecioNormalConvertido | currency}} {{Producto.MonedaCompra}} <br>
								<label for="">Precio renovación:</label> {{Producto.PrecioRenovacionConvertido | currency}} {{Producto.MonedaCompra}}
							</div>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<div class="form-group">
								<label for="">Tipo de cambio:</label> {{Producto.TipoCambio | currency: "$":4}} Pesos <br>
								<label for="">Total del periodo:</label> {{Producto.TotalPrecioNormalConvertido | currency}} {{Producto.MonedaCompra}} <br>
								<label for="">Total del próximo periodo:</label> {{Producto.TotalPrecioRenovacionConvertido | currency}} {{Producto.MonedaCompra}}
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
							<div class="form-group">
								<label labelfor="aQuitarProducto"></label>
								<h4>
									<a id="aQuitarProducto" title="Eliminar" ng-click="QuitarProducto(Producto);">
										<span class="glyphicon glyphicon-trash" style="cursor:pointer"></span>
									</a>
								</h4>
							</div>
						</div>

					</div>
					<hr>
				</td>
			</tr>
		</table>

		<div class="form-group row" style="background-color:#f5f5f5; padding: 15px; margin-bottom:15px;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="form-group">
					<label>SUBTOTAL:</label> {{SubtotalEnPesos | currency }} Pesos <br>
					<label>IVA:</label> {{IVA | currency }} Pesos <br>
					<label>TOTAL:</label> {{TotalEnPesos | currency }} Pesos </h5>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-xs-0 col-sm-0 col-md-9 col-lg-9"></div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<div class="">
					<button id="btnSiguiente" type="button" ng-click="Siguiente();" class="btn btn-primary btn-block" ng-show="CarritoValido">Siguiente</button>
				</div>
			</div>
		</div>

	</div>

</div>