<div class="container" ng-swipe-right="" ng-swipe-left="">

	<div class="form-group row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<h2 style="float:left;">Carrito de compras <i class="fa fa-question-circle tourButton" style="float:right; font-size:12px; margin-top:10px; margin-left:10px;"
					ng-click="IniciarTourCarrito();"></i></h2>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<p><b>Importante</b></p>
			<p>Se agruparán y facturarán los productos según el usuario final, marca del producto, esquema de renovación y moneda de
				pago seleccionada. Una vez realizada la compra, el sistema te enviará la factura del proximo periodo aumáticamente cuando
				llegue la fecha.</p>
			<p>Si deseas cancelar tus suscripciones o disminuir cantidades, tienes hasta 4 días antes de la finalización del periodo
				y lo puedes hacer ingresando al <a href="#/Monitor">monitor de pedidos por cliente</a>.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
	</div>

	<br>
	<br>
	<br>

	<div ng-show="!(PedidoDetalles.length > 0)">
		<h4>No se han agregado productos a tu carrito...</h4>
	</div>

	<div ng-show="PedidoDetalles.length > 0">

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-1 col-lg-5">
				<label for="" class="formaPago">Forma de pago para {{Distribuidor.NombreEmpresa}}: </label>
				<div class="radio" style="margin-left:20px">
					<div>
						<input type="radio" name="TipoPago" value="2" checked="checked" ng-model="Distribuidor.IdFormaPagoPredilecta" ng-change="ActualizarFormaPago(2);"> Crédito CompuSoluciones
					</div>
					<div>
						<input type="radio" name="TipoPago" value="1" ng-disabled="ValidarFormaPago()" ng-model="Distribuidor.IdFormaPagoPredilecta"
							ng-change="ActualizarFormaPago(1);"> Tarjeta bancaria (Solo Pesos MXN)
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<div class="form-group" ng-hide="isPayingWithCreditCard() || hasProtectedExchangeRate()" >
					<label for="" class="">* ¿Con qué moneda quieres pagarlos?</label>
					<div class="radio" style="margin-left:20px" >
						<div>
							<input type="radio" ng-checked="isPayingWithCSCredit()" name="MonedaPago" ng-change="CambiarMoneda('Pesos')" value="Pesos" ng-model="Distribuidor.MonedaPago">Pesos
						</div>
						<div ng-show="validateUSD();">
							<input type="radio" name="MonedaPago"  value="Dólares" ng-model="Distribuidor.MonedaPago" ng-change="CambiarMoneda('Dólares')">Dólares
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row" ng-show="hasProtectedExchangeRate();">
			<div class="alert alert-warning">
				<b>Nota importante *</b> Te notificamos que cuentas con un producto que lleva Tipo de Cambio Protegido. Por lo anterior tu pago debe aplicarse en moneda nacional. <br>
			</div>
		</div>

		<div class="form-group row" ng-show="isPayingWithCreditCard() && !hasProtectedExchangeRate()">
			<div class="alert alert-warning">
				<b>Nota importante *</b> Al haber elegido el método de pago con tarjeta de crédito deberás realizar tu operación en moneda nacional.<br>
			</div>
		</div>

		<div class="form-group row" ng-show="isPayingWithCreditCard()">
			<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<b>Nota importante *</b> <br> Para realizar la renovación de tus suscripciones de forma automática por medio de tu tarjeta
				bancaria es necesario descargar la siguiente carta, llenarla y enviarla a tu equipo de soporte CompuSoluciones. <br>				Descarga tu carta <a target="blank" href="https://s3.amazonaws.com/marketplace.compusoluciones.com/autorizacion_tarjeta.pdf">aquí</a>.
				(Este proceso solo se realiza una vez)
			</div>
		</div>

		<ul ng-repeat="pedido in PedidoDetalles" class="repeat-animation" style="padding: 0; list-style-type: none;">

			<div class="form-group row" style="background-color:#f5f5f5; padding: 15px; margin-bottom:15px;">
				<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
					<div class="text-center form-group">
						<div style="color:#00549F;">
							<label>Pedido</label>
							<h4>{{ pedido.IdPedido }}</h4>
							<br>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="form-group">
						<label for="IdEmpresaUsuarioFinal">Usuario final:</label> {{ pedido.NombreEmpresa }} <br>
						<label>Marca de los productos:</label> {{ pedido.NombreFabricante }} <br>
						<label>Duración del periodo:</label> del {{ pedido.FechaInicio }} al {{ pedido.FechaFin }} <br>
						<label>Renovación del periodo:</label> {{ pedido.NombreEsquemaRenovacion }} <br>
						<div ng-if="pedido.IdFabricante === 2"><label>Contrato: </label> {{ pedido.ContratoBaseAutodesk || 'Nuevo' }} </div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="form-group">
						<label>Forma de pago:</label> {{ pedido.Forma }} <br>
						<label>Tipo de cambio:</label> {{ pedido.TipoCambio | currency: "$":4 }} {{ pedido.MonedaPago }}<br>
						<label>Subtotal:</label> {{ calcularSubTotal(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }} <br>
						<label>IVA:</label> {{ calcularIVA(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }}
					</div>
				</div>
				<form name="frmCantidad" id="frmCantidad" ng-show="pedido.IdFabricante === 2">
					<div class="col-xs-10 col-sm-10 col-md-2 col-lg-2 pesosCredit">
						<div class="form-group">
							<label>Código promoción:</label>
							<div class="input-group">
								<input id="CodigoPromocion" name="CodigoPromocion" type="text" ng-model="pedido.CodigoPromocion" class="form-control" placeholder="Escribe tu código"
									max="255" min="255" size="255" maxlength="255" title="Escribe tu código de promoción" />
							</div>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
						<div class="form-group">
							<div class="pull-left" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 4">
								<label labelfor="aActualizar"></label>
								<h4>
									<a id="aActualizar" type="submit" title="Guardar" ng-click="ActualizarCodigo(pedido);" >
										<span class="fa fa-floppy-o" style="cursor:pointer"></span>
									</a>
								</h4>
							</div>
						</div>
					</div>
				</form>
				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 pull-right" >
					<div class="form-group">
						<label>Total del pedido:</label>
						<h5>{{ calcularTotal(pedido.IdPedido) | currency }} {{ pedido.MonedaPago }} </h5>
						<br>

						<div style="color:red;" ng-show="!pedido.hasCredit">
							<span class="glyphicon glyphicon-warning-sign"></span> <b>Cliente sin crédito suficiente.</b>
							<br> * <a href="#/Clientes" class="form-group" title="Aumenta su crédito"> Aumenta su crédito </a>
							<br> * Elimina productos de tu carrito.
						</div>

					</div>
				</div>
			</div>
			
			<li ng-repeat="producto in pedido.Productos" style="list-style-type:none;">
				<div class="form-group row" style="padding: 15px; margin-bottom:15px;">
					<div class="col-xs-11 col-sm-11 col-md-1 col-lg-1">
						<div class="text-center form-group">
							<img ng-src="{{ producto.Imagen }}" style="width:45px;" width="45">
						</div>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<div class="form-group">
							<label for="">Id Artículo:</label> {{producto.IdERP}} <br>
							<label for="">Nombre:</label> {{producto.NombreProducto}} <br>
							<label for="">Tipo de producto:</label> {{producto.Tipo}} <br>
							<label for="" ng-show="producto.Accion === 'asiento'">Contrato:</label> <a ng-click="modificarContratoBase(producto.IdProducto, producto.IdPedidoDetalle)">{{producto.ContratoBase}}</a>
						</div>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
						<div class="form-group">
							<label for="">Cantidad:</label> {{ producto.Cantidad }} <br>
							<label for="">Precio unitario:</label> {{ producto.PrecioUnitario | currency }} {{ pedido.MonedaPago }}
							<br>
							<label for="">Precio renovación:</label> {{ producto.PrecioRenovacion | currency}} {{ pedido.MonedaPago }}
						</div>
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
						<div class="form-group">
							<label for="">Total del producto:</label>
							<br>
							<span ng-show="producto.DescuentoMonthAutodesk && !(producto.DescuentoNivel || producto.Descuento)">
									<del style="font-size:11px;">{{ producto.PrecioRenovacion * producto.Cantidad | currency }} {{ pedido.MonedaPago }}</del>
									<b style="color:#68953B;"> 50% Desc. </b>
							</span>
							<span ng-show="producto.PrimeraCompraMicrosoft">
									<del style="font-size:11px;">{{ producto.PrecioUnitario * producto.Cantidad | currency }} {{ pedido.MonedaPago }}</del>
									<b style="color:#68953B;">GRATIS!</b>
							</span>
							<span ng-show="!producto.PrimeraCompraMicrosoft && !producto.DescuentoNivel">
								{{ producto.PrecioUnitario * producto.Cantidad | currency }} {{ pedido.MonedaPago }} 
							</span>
							<span ng-show="(producto.DescuentoNivel || producto.Descuento) && !producto.PrimeraCompraMicrosoft">
								<del style="font-size:11px;"> {{ producto.PrecioUnitarioReal * producto.Cantidad | currency }} {{ pedido.MonedaPago }} </del>
								<b style="color:#68953B;"> {{ producto.DescuentoNivel || producto.Descuento }}% Descuento</b>
								<p> {{ (producto.PrecioUnitario  * producto.Cantidad).toFixed(2) | currency }}	{{ pedido.MonedaPago }} </p>
              </span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 ">
						<div class="form-group">
							<label labelfor="aQuitarProducto"></label>
							<h4>
								<a id="aQuitarProducto" title="Eliminar" ng-click="QuitarProducto(producto);">
									<span class="glyphicon glyphicon-trash" style="cursor:pointer"></span>
								</a>
							</h4>
						</div>
					</div>
				</div>
			</li>
			<hr>
		</ul>

		<div class="form-group row">
			<div class="col-xs-0 col-sm-0 col-md-9 col-lg-9">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<div class="">
					<button id="btnSiguiente" type="button" ng-click="next();" class="btn btn-primary btn-block" ng-if="!( Distribuidor.IdFormaPagoPredilecta == undefined || Distribuidor.IdFormaPagoPredilecta == null || CreditoValido == 0 || error === true )">
            Siguiente
          </button>
				</div>
			</div>
		</div>

	</div>

</div>