<div class="container"  >
  <div clas="row">
    <a href="#/Productos">Regresar</a>
  </div>

  <div class="form-group row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 style="float:left;">Selecciona una suscripción.</h2>
    </div>
  </div>

  <!--<div class="form-group row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <b>Nota *</b> Esta información es solo un aproximado y puede no ser la mas actual.
    </div>
  </div>-->



  <table class="table table-hover table-responsive border-left-right-cero">
    <th><b>SKU</b></th>
    <th><b>Serial </b></th>
    <th><b>Contrato </b></th>
    <th><b> </b></th>
    
      <tr ng-repeat="suscripcion in suscripciones" class="repeat-animation">
      <td class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <div class="form-group">
          <b><h4>{{suscripcion.SKU}}</h4></b>
        </div>

      </td>
      <td class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <div class="form-group">
          <b><h4>{{suscripcion.Serial}}</h4></b>
        </div>

      </td>
      <td class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <div class="form-group">
          <b><h4>{{suscripcion.Contrato}}</h4></b>
        </div>

      </td>
      <td class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        <div class="form-group">
            <button ng-click="actualizarBase(suscripcion.IdPedidoDetalleBase)" type="button" class="btn btn-primary btn-block" style="height: 30px; min-width:40px; margin-top:4px">
                Seleccionar
              </button>
        </div>

      </td>
    </tr>
  </table>


</div>