<div class="container" ng-swipe-right="" ng-swipe-left="">

    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h2 style="float:left;">Mis clientes <i class="fa fa-question-circle tourButton" style="float:right; font-size:12px; margin-top:10px; margin-left:10px;" ng-click="IniciarTourClients();"></i></h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <label for="Busqueda">&nbsp;</label>
                <div class="form-group has-feedback">
                    <input name="Busqueda" type="text" ng-model="EmpresaFilter" class="form-control" size="30" ng-change="filter()" placeholder="Busca un cliente..." />
                    <i class="form-control-feedback glyphicon glyphicon-search"></i>
                </div>
            
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
            <div class="pull-right" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 4 || SessionCookie.IdTipoAcceso === 10">
                <button  ng-click="NuevaEmpresa()" class="btn btn-primary newClient">Nuevo cliente&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="alert alert-info">
            <b>Nota importante *</b> <br>La deuda total tambien contempla la reserva de crédito para productos con esquema <b>bajo consumo</b> como lo son las consolas de <b>Micrososft Azure</b>.
            <br>Consulta el detalle del consumo de Microsoft Azure desde el <b><a ng-click="goToMonitor()">monitor de pedido por cliente</a></b>.
        </div>
    </div>
    
    <div class="form-group row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <label class="totalCredit" tooltip="Linea de crédito total con CompuSoluciones.">Crédito total:</label> {{CreditoDisponible | currency}} pesos.
            <br>
            <label tooltip="Esta cantidad corresponde a la deuda total con CompuSoluciones, no sólo la que hay dentro de Click Suscribe.">Deuda total:</label> {{ totalDebt() | currency}} pesos.
            <br>
            <label tooltip="Esta cantidad corresponde al crédito disponible con CompuSoluciones.">Crédito disponible:</label> {{ (CreditoDisponible - totalDebt()) | currency}} pesos.
        </div>
    </div>

    <div ng-show="!(Empresas.length > 0)">
        <h4>Da de alta a un nuevo cliente...</h4>
    </div>
    
    <div ng-show="Empresas.length > 0">

    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <table class="table table-hover table-responsive border-left-right-cero">

                <th style="cursor:pointer" ng-click="OrdenarPor('NombreEmpresa')"><b>&nbsp;Nombre <span class="fa fa-sort"></span></b></th>

                <tr ng-repeat="Empresa in filtered | filter:EmpresaFilter | orderBy:sortBy:reverse" class="repeat-animation">
                    <td>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <b><h3 style="color:#00549F;">{{Empresa.NombreEmpresa}}</h3></b>
                                    <b>RFC:</b> {{Empresa.RFC}}
                                    <br>
                                    <b>Activo desde el:</b> {{Empresa.FechaActivo | date:'d/MM/yyyy hh:mm a'}}
                                    <br>
                                    <b ng-show="Empresa.DominioMicrosoftUF != null">Dominio Microsoft:</b> {{Empresa.DominioMicrosoftUF}}
                                </div>
                            </div>
                                                                                                                                                                                                                                         
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                <div class="form-group" style="margin-top:13px;">
                                    <label labelfor="" title="Cantidad por pagar que fué vendida a este cliente.">Deuda por saldar</label>
                                    <br>
                                    {{ Empresa.clickDebt | currency}} pesos.
                                    <br><br>
                                </div>
                            </div>
                                
                                <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 pesosCredit" style="margin-top:13px;"></div>
                            
                            <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2" style="margin-top:13px;">
                                <br>
                                <button class="btn btn-danger btn-block" ng-click="Confirmar(Empresa.IdEmpresa)" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 4 || SessionCookie.IdTipoAcceso === 10">Eliminar  <span class="glyphicon glyphicon-trash"></span></button>
                                <br><br>
                                <div ng-show="Empresa.Mostrar">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <label>La empresa será eliminada, ¿Deseas continuar?</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                            <button class="btn btn-block btn-warning" ng-disabled="form.habilitar" ng-click="BajaEmpresa(Empresa)">Sí</button>
                                        </div>
                                        <div class="form-group col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                            <button class="btn btn-block btn-primary" ng-disabled="form.habilitar" ng-click="Confirmar(Empresa.IdEmpresa)">No</button>
                                        </div>
                                     </div>
                                </div>

                             </div>

                        </div>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>

    <b>Número total de clientes:</b> {{ Empresas.length }}.
    
    </div>
    <div ng-show="filtered.length === 0" style = "text-align:center"><h4>No se encontraron resultados.</h4></div>        
    <div style="margin: auto; text-align: center;" >
      <pagination class="pager" ng-model="currentPage" total-items="listaAux.length" max-size="maxSize" boundary-links="true"></pagination>
      </div>
  
</div>