<style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    input[type=number] { -moz-appearance:textfield; }
</style>
<div ng-app="myApp" ng-controller="ConfirmarSPController">
    <div class="container" ng-swipe-right="" ng-swipe-left="">
  
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 style="float:left;">Confirmación de peticiones especiales (SP)</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 style="float:left;">Valida y confirma la información de las peticiones especiales. </h4><br>
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="row cotainer" ng-repeat="orden in ordenes">
                <div style="background-color: rgba(220, 220, 220, 0.4); padding: 2em; margin-bottom: 1.4em;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                        <div class="text-center form-group">
                            <div style="color:#00549F; margin-left: 1em; padding-top: 1em;" >
                                <label>Pedido</label>
                                <h4>{{ orden.IdPedido }}</h4>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top: 1em;">
                        <ul style="list-style-type:none; padding:0%">
                            <li> <label>Distribuidor:</label> {{ orden.Distribuidor }} </li>
                            <li> <label>Usuario final:</label> {{ orden.UsuarioFinal }} </li>
                            <li> <label>CSN usuario final:</label> {{ orden.CSNUF ? orden.CSNUF : 'No registrado' }} </li>
                            <li> <label>Número de contrato:</label> {{ orden.NumeroContrato ? orden.NumeroContrato : 'Nuevo contrato' }} </li>
                            <li ng-if="orden.Promo"> <span style="font-size: 100%; padding-top: .3em;" class="label label-primary">Promoción: tipo de cambio protegido</span>
                        </ul>
                    </div>
                    <div  class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top: 1em;">
                        <ul style="list-style-type:none; padding:0%">
                          <li> <label>Tipo de cambio:</label> ${{ orden.TipoCambio }} Pesos </li>
                          <li> <label>Moneda:</label> {{ orden.Moneda }} </li>
                        </ul>
                        <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding-top: .6em; margin-left: 0; padding-left: 0;">Código descuento:</label>
                        <input style="max-width: 10em;" class="form-control col-xs-4 col-sm-4 col-md-4 col-lg-4" type="text" ng-model="CodigoDescuento">
                    </div>
                    <div  class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-md-2 col-lg-2" style="padding-top: 2.6em;">
                        <button  class="btn btn-success" ng-click="confirmarSP(orden.IdPedido, CodigoDescuento, orden.CSNUF)">
                            Confirmar
                        </button>
                    </div>
                </div>
                <div style="margin-top: 2em; text-align: center;">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><label>Producto</label></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><label>SKU</label></div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><label>Cantidad</label></div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><label>Precio unitario</label></div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><label>Descuento (%)</label></div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><label>SP (%)</label></div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><label>Precio con descuento</label></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><label>Subtotal</label></div>
                </div>
                <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div ng-repeat="detalle in orden.Detalles" style=" text-align: center;">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-top: .8em;"> {{ detalle.Producto }} </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top: .8em;"> {{ detalle.SKU }} </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: .8em;"> {{ detalle.Cantidad }} </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: .8em;"> {{ orden.Moneda === 'Pesos' ? (detalle.Precio * orden.TipoCambio) : detalle.Precio | currency: "$":2 }} </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: .2em;"> <input type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : (event.charCode === 46 || event.charCode >= 48) && event.charCode <= 57" class="form-control" ng-model="detalle.Descuento" ng-change="porcentajeDetalle(orden.Moneda, orden.TipoCambio, detalle.Precio, detalle.Descuento, detalle.DescuentoSP, detalle, detalle.Cantidad)"> </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: .2em;"> <input type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : (event.charCode === 46 || event.charCode >= 48) && event.charCode <= 57" class="form-control" ng-model="detalle.DescuentoSP" ng-change="porcentajeDetalle(orden.Moneda, orden.TipoCambio, detalle.Precio, detalle.Descuento, detalle.DescuentoSP, detalle, detalle.Cantidad)"></div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: .8em;"> {{ detalle.precioDescuento ? detalle.precioDescuento : 0 | currency: "$":2 }} </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-top: .8em;"> {{ detalle.subtotal ? detalle.subtotal : 0 | currency: "$":2 }}</div>
                    <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                </div>
            </div>
    
            <div ng-show="!ordenes.length" style = "text-align:center"><h4>No hay SPs por confirmar.</h4></div>        
            
        </div>
    </div>
</div>
