<div ng-app="myApp">
  <div class="container" ng-swipe-right="" ng-swipe-left="">

      <div class="row">
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h2 style="float:left;">Contactos</h2>
          </div>
      </div>

      <div class="form-group alert alert-info">
        <p>
            Los contactos se asignan como <b>contract manager</b> para ordenes de licencias Autodesk.
        </p>
      </div>
      
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top: 2em;">
              <div class="form-group has-feedback">
                  <input type="text" ng-disabled="!empresaSelect" ng-model="contactFilter" class="form-control" size="30" placeholder="Busca un contacto" />
                  <i class="form-control-feedback glyphicon glyphicon-search"></i>
              </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top: 1.4em;">
            <button type="button" class="btn btn-primary btn-modal" ng-click="openModalInsert();">Agregar contacto <span class="glyphicon glyphicon-plus" style="font-size: .8em;"></span></button>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float:right;">
            <label for="Cliente">Clientes:</label>
            <select id="IdEmpresaUsuarioFinal" name="IdEmpresaUsuarioFinal" class="form-control selectOption" ng-model="empresaSelect" ng-options="Empresa.IdEmpresa as Empresa.NombreEmpresa for Empresa in selectEmpresas" ng-change="getContacts();" >
                <option ng-selected="true" value="">Selecciona un cliente</option>
			      </select>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br></div>

          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show = "contacts.length">
              
              <table class="table" style="text-align: center;">
                  <tr>
                    <th style="text-align: center;">Nombre</th>
                    <th style="text-align: center;">Correo electrónico</th>
                    <th style="text-align: center;">Acciones</th>
                  </tr>
                  <tr ng-repeat="contact in contacts | filter:contactFilter">
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td> 
                      <a title="Editar contacto." ng-click="openModalEdit(contact);"><span class="glyphicon glyphicon-pencil" style="font-size: 1.2em; margin-right: 1.5em;"></span></a>
                      <a title="Eliminar contacto." ng-click="openModalDelete(contact);"><span class="glyphicon glyphicon-trash" style="font-size: 1.2em;"></span></a>
                    </td>
                  </tr>
              </table>
          </div>

          <div ng-show="!contacts.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style = "text-align:center"><h4>Sin resultados.</h4></div>  

      </div>
  </div>

  <div id="modalInsert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="divLoading" data-cargando>
            <div class=""><img src="images/ripple.svg" /></div>
        </div>  
        <div class="row modal-content">
            <div class="col-sm-12 col-md-12 col-lg-12 modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar contacto</h4>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 modal-body">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 form-group has-feedback">
                    <label for="Cliente">Cliente relacionado:</label>
                    <select id="IdEmpresaUsuarioFinal" name="IdEmpresaUsuarioFinal" class="form-control selectOption" ng-model="contactObject.finalUser" ng-options="Empresa as Empresa.NombreEmpresa for Empresa in selectEmpresas" >
                      <option ng-selected="true" value="">Selecciona un cliente</option>
			              </select>
                </div>
                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <label>Nombres:</label>
                  <Input type="text" ng-model="contactObject.firstName" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Nombres" size="255" ng-maxlength="45" required>
                </div>
                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <label>Apellidos:</label>
                  <Input type="text" ng-model="contactObject.lastName" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellidos" size="255" ng-maxlength="30">
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <label>Correo electrónico:</label>
                  <Input name="CorreoElectronico" type="email" ng-model="contactObject.email" class="form-control" placeholder="Correo electrónico" size="255" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 modal-footer">
                <button type="button" class="btn btn-default btn-modal" data-dismiss="modal">Regresar</button>
                <button type="button" class="btn btn-primary btn-modal" ng-click="insertContact(contactObject);">Continuar</button>
            </div>
        </div>
    </div>
  </div>

  <div id="modalEdit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="divLoading" data-cargando>
            <div class=""><img src="images/ripple.svg" /></div>
        </div>  
        <div class="row modal-content">
            <div class="col-sm-12 col-md-12 col-lg-12 modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar contacto</h4>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 modal-body">
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 form-group has-feedback">
                    <label for="Cliente">Cliente relacionado:</label>
                    <select id="IdEmpresaUsuarioFinal" name="IdEmpresaUsuarioFinal" class="form-control selectOption" ng-model="contactObjectEdit.finalUser" ng-options="Empresa as Empresa.NombreEmpresa for Empresa in selectEmpresas" >
                      <option ng-selected="true" value="">Selecciona un cliente</option>
			              </select>
                </div>
                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <label>Nombres:</label>
                  <Input type="text" ng-model="contactObjectEdit.firstName" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Nombres" size="255" ng-maxlength="45" required>
                </div>
                <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <label>Apellidos:</label>
                  <Input type="text" ng-model="contactObjectEdit.lastName" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellidos" size="255" ng-maxlength="30">
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <label>Correo electrónico:</label>
                  <Input name="CorreoElectronico" type="email" ng-model="contactObjectEdit.email" class="form-control" placeholder="Correo electrónico" size="255" ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 modal-footer">
                <button type="button" class="btn btn-default btn-modal" data-dismiss="modal">Regresar</button>
                <button type="button" class="btn btn-primary btn-modal" ng-click="editContact(contactObjectEdit);">Continuar</button>
            </div>
        </div>
    </div>
  </div>

  <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="divLoading" data-cargando>
            <div class=""><img src="images/ripple.svg" /></div>
        </div>  
        <div class="row modal-content">
            <div class="col-sm-12 col-md-12 col-lg-12 modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Eliminar información contacto</h4>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 modal-body">
                <div class="col-sm-12 col-md-12 col-lg-12 form-group has-feedback">
                    <label for="Cliente">¿Está seguro que desea eliminar la información de este contacto?</label>
                    <br>{{contactObjectDelete.name}} - {{contactObjectDelete.email}}
                </div>
                    
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 modal-footer">
                <button type="button" class="btn btn-default btn-modal" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-modal" ng-click="deleteContact();">Aceptar</button>
            </div>
        </div>
    </div>
  </div>
</div>