<style type="text/css">
    .list-group-item:hover{
      color: #337ab7;
      cursor: pointer;
    }
  </style>
  <div ng-app="myApp" ng-controller="ParticionPedidoController">
  <div class="container" ng-swipe-right="" ng-swipe-left="">
  
      <div class="row">
          <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h2 style="float:left;">Pedidos por particionar para su renovación </h2>
          </div>
      </div>
  
      <div class="row">
        <div style="float:right;">
            <span class="glyphicon glyphicon-search fa-2x"  style="float:right;"></span>
        </div>
        <div class="form-group col-xs-11 col-sm-11 col-md-6 col-lg-4" style="float:right;">
            <input class="form-control fa-lg" type="text" placeholder="Buscar por nombre de distribuidor"aria-label="Buscar" ng-model="busqueda" ng-keyup = "buscar(busqueda)">
        </div>
      </div>
      <div class="row">
        <table class="table table-hover table-responsive border-left-right-cero"   ng-show="SessionCookie.IdTipoAcceso==1 || SessionCookie.IdTipoAcceso==8 ">
            <tr style="background:#4A7BAB; color:white;">
              <th style="word-wrap:break-word; text-align:center; padding-top: 1.4em;" class="col-xs-12 col-sm-12 col-md-1 col-lg-1"><b>ID Pedido</b></th>
              <th style="word-wrap:break-word; text-align:center; padding-top: 1.4em;" class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><b>Distribuidor</b></th>
              <th style="word-wrap:break-word; text-align:center; padding-top: 1.4em;" class="col-xs-12 col-sm-12 col-md-3 col-lg-2"><b>Usuario final</b></th>
              <th style="word-wrap:break-word; text-align:center; padding-top: 1.4em;" class="col-xs-12 col-sm-12 col-md-1 col-lg-1"><b>Num. contrato</b></th>
              <th style="word-wrap:break-word; text-align:center; padding-top: 1.4em;" class="col-xs-12 col-sm-12 col-md-1 col-lg-2"><b>SKU</b></th>
              <th style="word-wrap:break-word; text-align:center;" class="col-xs-12 col-sm-12 col-md-1 col-lg-1"><b>Cantidad actual</b></th>
              <th style="word-wrap:break-word; text-align:center;" class="col-xs-12 col-sm-12 col-md-1 col-lg-1"><b>Cantidad proxima</b></th>
              <th style="word-wrap:break-word; text-align:center;" class="col-xs-12 col-sm-12 col-md-3 col-lg-2"><b></b></th>
              
            </tr> 
            <tr ng-repeat="item in filtered" class="repeat-animation">
              <td style="text-align: center;">{{item.IdERP}}</td>
              <td style="text-align: center;">{{item.RFC}}</td>
              <td style="text-align: center;">{{item.NombreEmpresa}}</td>
              <td style="text-align: center;">
                <input class="form-control fa-lg" type="text" ng-value="item.IdMicrosoftDist" ng-model="mpn" >
              </td>
              <td style="width: 20%">
                
                  <button style="margin: 0em 1em 0em 1em;" class="btn btn-warning " ng-click="verificarMPN(mpn)">
									  Verificar
                  </button>
                  <button class="btn btn-success " ng-click="actializarMPN({{item.IdEmpresa}}, mpn)">
									  Actualizar
                  </button>
                
              </td>
  
            </tr>
          </table>
          <div ng-show="filtered.length === 0" style = "text-align:center"><h4>No se encontraron resultados.</h4></div>        
          <div style="margin: auto; text-align: center;" >
            <pagination class="pager" ng-model="currentPage" total-items="listaDist.length" max-size="maxSize" boundary-links="true"></pagination>
            </div>
        
      </div>
  </div> 
  </div>