<div class="container">

  <div class=row>
    <div class=" col-xs-12 col-md-2">
      <select name="Versiones" class="form-control" ng-model="value" ng-change="GetDetalle(value)">
        <option value="">{{versiones[0].Version}}</option>  
        <option ng-repeat="version in versiones" value="{{version.IdVersion}}" ng-show="version.IdVersion!=versiones[0].IdVersion">
          {{version.Version}}</option>
      </select>
      <hr />
      <div>
        <ul>
          <li ng-repeat="detalle in detalleVersion">
            <a ng-click="scrollTo(detalle.Titulo)">{{detalle.Titulo}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-10">
      <h2 style="margin-top: -2px;">{{Titulo}}</h2>
      <div ng-repeat="detalle in detalleVersion">
        <h3 id="{{detalle.Titulo}}">{{detalle.Titulo}}</h3>
        <div ng-bind-html="detalle.Descripcion"></div>
        <img ng-if="detalle.GIF" src="{{detalle.GIF}}" alt="{{detalle.GIF}}">
      </div>
    </div>
  </div>
</div>