<div class="container login" ng-swipe-right="" ng-swipe-left="">
	
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h2 style="float:left;">Mis productos<i class="fa fa-question-circle tourButton" style="cursor:help; float:right; font-size:12px; margin-left:10px; margin-top:10px;" ng-click="IniciarTourMisProductos();"></i></h2>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-12 col-md-4">
			<label for="Empresa">Mostrar productos de</label>
			<select name="Empresa" ng-model="IdEmpresa" class="form-control" ng-change="refrescarMisProductos()">
      	<option ng-selected="true" value="1">Microsoft</option>
        <option value="2">Autodesk</option>
      </select>
		</div>

		<div class="form-group col-xs-12 col-md-4">
			<label for="Calcular">Calcular precios</label>
			<div class="input-group">
				<input type="number" min="0" class="form-control txtPercent" placeholder="Ingrese el porcentaje de utilidad deseada" ng-model="porcentaje" ng-change="calcularPrecioVenta();" />
				<span class="input-group-btn">
					<button class="btn btn-default btnReset" style="background: #68953B;" type="button" title="Restaurar" ng-click="init();">
						<span class="glyphicon glyphicon-erase white"></span>
					</button>
					<button class="btn btn-default btnSaveAll" style="background: #00549F;" type="button" ng-model="btnGuardar" title="Guardar Todo" ng-disabled="btnGuardar" ng-click="guardarTodo();">
						<span class="glyphicon glyphicon-floppy-disk white"></span>
					</button>
				</span>
			</div>
		</div>

		<div class="col-xs-12 col-md-4 searchOption">
			<label for="Busqueda">Busqueda</label>
			<div class="form-group has-feedback">
				<input type="text" ng-model="filter" ng-change="search()" class="form-control" size="30" placeholder="Busca productos..." />
				<i class="form-control-feedback glyphicon glyphicon-search"></i>
			</div>
		</div>

	</div>

	<div class="alert alert-danger">
		<strong>Nota importante *</strong> Al presionar el botón "Guardar todo", se actualizarán también los productos que ya tienen
		un precio guardado, asi como los productos no visibles a causa del filtro.. En caso de no querer afectar precios guardados
		anteriormente o los productos no visibles por el filtro, se recomienda guardar individualmente.<br> **El calculo se realiza
		conforme el precio y tipo de cambio del proveedor.**
	</div>

	<div class="alert alert-warning">
		<b>Nota*</b> Al activar un producto en "Vender producto", será visible para el usuario final. Si tu cliente cuenta con
		una suscripción activa de un producto y desactivas el check "Vender producto" se seguirá renovando dicho pedido hasta que
		se cancele su suscripción.
	</div>

	<table class="table table-hover table-responsive">

		<th style="cursor:pointer" ng-click="OrdenarPor('Nombre')"><b> &nbsp;Nombre <span class="fa fa-sort"></span></b></th>

		<tr ng-repeat="Producto in paginatedProducts[currentPage]" class="repeat-animation">
			<td class="row">
				<div class="col-xs-12 col-md-6">
					<b>{{Producto.Nombre}}</b> ({{Producto.TipoProducto}})
					<!-- <input id="NombrePropio" name="NombrePropio" type="text" ng-model="Producto.NombrePropio" class="form-control" step="1" placeholder="Nombre producto (opcional)" /><br>
					<input id="Descripcion" name="Descripcion" type="text" ng-model="Producto.Descripcion" class="form-control" step="1" placeholder="Descripción del producto (opcional)" /> -->
					<br>
					<b>Id Artículo:</b> {{Producto.IdERP}}
					<br>
					<b>Precio CompuSoluciones:</b> {{Producto.PrecioNormal | currency}} {{Producto.MonedaPrecio}}
				</div>

				<div class="col-xs-12 col-md-2">
					<input id="Precio" name="Precio" type="number" ng-model="Producto.Precio" class="form-control" step="1" placeholder="Precio de venta" />
				</div>

				<div class="radio col-xs-6 col-md-2">
					<label style="margin-right: 8px"><input type="radio" name="Moneda{{Producto.IdProducto}}" value="Dólares" ng-model="Producto.Moneda" required>Dólares</label>
					<label><input type="radio" name="Moneda{{Producto.IdProducto}}" value="Pesos" ng-model="Producto.Moneda"required>Pesos</label>
				</div>

				<div class="checkbox col-xs-12 col-md-1" ng-class="{disabled:!Producto.Precio}">
					<label><input id="Activo" type="checkbox" ng-checked="Producto.Activo" ng-disabled="!Producto.Moneda || !Producto.Precio" ng-true-value="1" ng-false-value="0" ng-model="Producto.Activo" ng-click="Actualizar(Producto);">Vender</label>
				</div>

				<div class="col-xs-12 col-md-1" style="padding-left: 30px">
					<h4>
						<a id="aActualizar" type="submit" title="Guardar" ng-click="Actualizar(Producto);"><span class="fa fa-floppy-o" style="cursor:pointer"></span></a>
					</h4>
				</div>

			</td>
		</tr>
	</table>
	<div style="display: flex; justify-content: center;">
		<div ng-repeat="i in getNumberOfPages track by $index" class="btn-group" role="toolbar">
			<button ng-click="setCurrentPage($index)" class="btn" ng-class="{ 'btn-secondary': (currentPage === $index), 'btn-default': (currentPage !== $index) }" type="button">{{ $index + 1 }}</button>
		</div>
	</div>
	<br>
	<div class="form-group row">
		<div class="pull-left">
			<div class="col-xs-12">
				Número de productos: {{ Productos.length }}
			</div>
		</div>
	</div>

</div>