</script>
<div class="container" ng-swipe-right="" ng-swipe-left="">
    <div class="row">

        <div id="avisoModal" class="modal fade in" tabindex="-1" role="dialog" style="padding-right: 17px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header red">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title white">Aviso importate de Microsoft</h4>
                    </div>
                    <div class="modal-body">
                        <p style="text-align: center">Se detecto que no has firmado el contrato de Partner. Por disposición del Fabricante se debe firmar el Contrato de Partner de Microsoft para poder seguir consumiendo sus productos.
                            En caso de no firmar, no se podrá hacer ningún movimiento en las licencias actuales ni comprar nuevas.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" ng-click="cerrarModal()" data-dismiss="modal">Enterado</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h2 style="float:left;">Suscripciones <i class="fa fa-question-circle tourButton" style="float:right; font-size:12px; margin-left:10px; margin-top:10px;"
                    ng-click="IniciarTourProducts();"></i></h2>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label for="IdFabricante">Filtrar por:</label>
            <select name="IdFabricante" class="form-control filterOption" ng-model="BuscarProductos.IdFabricante" ng-options="Fabricante.IdFabricante as Fabricante.Nombre for Fabricante in selectFabricantes"
                ng-change="BuscarProducto(true);">
                <option ng-selected="true" value="">Todos los fabricantes</option>
            </select>
        </div>

        <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label for="IdTipoProducto">&nbsp;</label> 
            <select name="IdTipoProducto" class="form-control typeOptions" ng-model="BuscarProductos.IdTipoProducto" ng-change="BuscarProducto(true);">
                <option ng-repeat="Tipo in selectTiposProductos" title="{{Tipo.Descripcion}}" value="{{Tipo.IdTipoProducto}}">{{Tipo.Tipo}}</option>
                <option ng-selected="true" value="">Todos los tipos</option>
            </select>
        </div>

    </div>

    <div id="TopPage"></div>

    <br><br><br>
    
    <div ng-show="!(Productos.length > 0)">
        <h4>{{Mensaje}}</h4>
    </div>

    <div ng-if="Productos.length > 0">

        <div>Precios más IVA.</div>
        <br>
        <br>

        <table class="table table-hover table-responsive border-left-right-cero">
            <th style="cursor:pointer" ng-click="OrdenarPor('Nombre')">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <b>&nbsp; Nombre <span class="fa fa-sort"></span></b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="pull-right">
                            <b>Página {{Pagina + 1}}</b>
                        </div>
                    </div>
                </div>

            </th>
            <tr ng-repeat="Producto in Productos | filter:ProductoFilter | orderBy:sortBy:reverse" class="repeat-animation">
                <td>

                    <div class="hidden-xs hidden-sm">
                        <br>
                    </div>

                    <div class="row">

                        <div class="form-group col-xs-0 col-sm-0 col-md-2 col-lg-2">
                            <div class="text-center center-block">
                                <img ng-src="{{Producto.Imagen}}" style="width:150px;" width="150">
                            </div>
                        </div>

                        <div class="form-group col-xs-0 col-sm-0 col-md-6 col-lg-6">
                                    
                            <div>
                                <h3><b>{{Producto.Nombre}}</b></h3>
                            </div>
                            <label for="">Descripción:</label> <br> {{Producto.Descripcion}}
                            <br>
                            <br>
                            <label for="">Fabricante del producto:</label> {{Producto.Fabricante}}
                            <br>
                            <label for="">Tipo de producto:</label> {{Producto.Tipo}}
                            <br>
                            <label for="">Esquema de renovación:</label> {{Producto.EsquemaRenovacion}}
                            <br>
                            <label for="">Artículo Id:</label> {{Producto.IdERP}}
                            <br>
                            <label for="">Última actualización del producto:</label> {{Producto.FechaActualizado | date:'d/MM/yyyy
                            hh:mm a'}}
                            <br><br>
                                
                            <h4><b>Precio del periodo</b></h4>

                            <div ng-show="Producto.IdTipoProducto == 2">
                                <label for="">Duración del periodo: </label> {{Producto.FechaInicioSuscripcion | date:'d/MM/yyyy'}}
                                <b> - </b> {{Producto.FechaFinSuscripcion | date:'d/MM/yyyy'}}
                            </div>

                            <label for="" title="" ng-hide='Producto.IdFabricante === 5 && Product.IdTipoProducto !== 4'>
                            <div ng-show="Producto.IdTipoProducto == 1">Precio por servicio:</div>
                            <div ng-show="Producto.IdTipoProducto == 2">Precio unitario:</div>
                            <div ng-show="Producto.IdTipoProducto == 3">Precio de contratación:</div>
                            </label>
                            <span ng-show="Producto.PorcentajeDescuento == 0 && Producto.IdFabricante !== 5 && Producto.Esquema != ANUAL && Producto.Esquema != ANUAL_MENSUAL">
                                {{Producto.PrecioNormal | currency: "$" : 2}} {{Producto.MonedaPrecio}}
                            </span>
                            <span ng-show="Producto.PorcentajeDescuento == 0 && Producto.IdFabricante !== 5 && Producto.Esquema != MENSUAL && Producto.PrecioNormalAnual && Producto.Esquema != ANUAL_MENSUAL">
                                {{Producto.PrecioNormalAnual | currency: "$" : 2}} {{Producto.MonedaPrecio}}
                            </span>
                            <span ng-show="Producto.PorcentajeDescuento == 0 && Producto.IdFabricante !== 5 && Producto.Esquema != MENSUAL && Producto.Esquema != ANUAL && Producto.PrecioNormalAnual">
                                {{Producto.PrecioNormalAnual | currency: "$" : 2}} {{Producto.MonedaPrecio}} al mes por 12 meses
                            </span>
                            <span ng-show="Producto.IdFabricante === 5 && Producto.IdTipoProducto === 4">
                                {{Producto.PrecioNormal | currency: "$" : 2}} {{Producto.MonedaPrecio}}
                            </span>
                            <span ng-show="Producto.PorcentajeDescuento > 0 && Producto.IdFabricante !== 5">
                                <del style="font-size:11px">{{Producto.PrecioNormal | currency: "$" : 2}} {{Producto.MonedaPrecio}}</del>
                                {{Producto.PrecioDescuento | currency: "$" : 2}} {{Producto.MonedaPrecio}}
                                <b style="color:#68953B;">{{Producto.PorcentajeDescuento}}% Desc.</b>
                            </span>

                            <div ng-show="Producto.tiers">
                                <label for="" title="nivel">Precios por nivel:</label>
                                <ul>
                                    <li ng-repeat="tier in Producto.tiers">
                                        <span ng-show="tier.upperLimit!==0">De {{tier.lowerLimit}} a {{tier.upperLimit}} {{tier.propertyName}}: {{tier.price | currency: "$" : 2}} {{Producto.MonedaPrecio}}</span>
                                        <span ng-show="tier.upperLimit===0"> Más de {{tier.lowerLimit}}: {{tier.previousTierPrice | currency: "$" : 2}} + {{tier.price | currency: "$" : 2}} por cada 1000 empleados adicionales</span>
                                    </li>
                                </ul>
                            </div>

                           
                            <br>
                        </div>
                        <div class="form-group col-xs-0 col-sm-0 col-md-4 col-lg-4" style="margin:-7px; margin-bottom:10px  position: absolute top: 300px;">
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="Producto.IdFabricante === 10">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <button ng-click="RequestDataAwsProduct(Producto)" type="button" class="btn btn-primary">Me interesa</button>
                                        </div>
                                    </div>
                            </div>
                        </div>


                        <div class="form-group col-xs-0 col-sm-0 col-md-4 col-lg-4" style="margin:-7px; margin-bottom:10px  position: absolute top: 300px;">
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="Producto.IdFabricante === 9">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <button ng-click="RequestDataVmwareProduct(Producto)" type="button" class="btn btn-primary">Me interesa</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-0 col-sm-0 col-md-4 col-lg-4 softBlueColor" style="margin:-7px; margin-bottom:10px;" ng-hide="Producto.IdFabricante === 9 || Producto.IdFabricante === 10 ">

                            <div class="row"  >
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div>
                                        <h4><b>Configura tus productos.</b></h4>
                                    </div> <br>

                                    <form name="frmCantidad" id="frmCantidad">
                                        
                                        <div class="form-group">
                                            <div ng-if="Producto.IdFabricante !== 6 ">
                                            <label for="Cantidad" >*{{Producto.IdFabricante === 5 && Producto.IdTipoProducto !== 4 && Producto.IdProductoFabricanteExtra === 'Aperio' ? "¿Cuántos empleados hay en la nómina?" : "¿Cuántos quieres?"}}</label>
                                            <sapan ng-if="Producto.CantidadMinima === 1 && Producto.CantidadMaxima === 1"> (Licencia única)</sapan>
                                            <sapan ng-if="Producto.CantidadMinima != Producto.CantidadMaxima"> Disponible de {{Producto.CantidadMinima}} a {{Producto.CantidadMaxima}} </sapan>

                                            <div class="input-group">
                                                <span class="input-group-addon green white">
                                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                                </span>
                                                <input id="Cantidad" name="Cantidad" type="number" ng-model="Producto.Cantidad" class="form-control" placeholder="Número de licencias"
                                                    max="{{Producto.CantidadMaxima}}" min="{{Producto.CantidadMinima}}" size="5"
                                                    maxlength="5" title="Número de licencias"
                                                    required/>
                                            </div>
                                           </div>
                                            <br>

                                            <p style="color:red" ng-show="frmCantidad.Cantidad.$error.maxlength">Máximo 5 dígitos</p>
                                            <p style="color:red" ng-show="frmCantidad.Cantidad.$error.min">Mínimo {{Producto.CantidadMinima}}</p>
                                            <p style="color:red" ng-show="frmCantidad.Cantidad.$error.max">Máximo {{Producto.CantidadMaxima}}</p>
                                            </form>

                                            <label for="IdEmpresaUsuarioFinal">* ¿Para quiénes son?</label> 
                                            <a href="#/Empresa" class="form-group" title="Nuevo cliente" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 4 || SessionCookie.IdTipoAcceso === 10" style="background-blend-mode: initial">
                                                <strong>(Añadir cliente usuario
                                            final) &nbsp;</strong><span class="glyphicon glyphicon-plus"> </span>
                                            </a>

                                            <div class="input-group">
                                                <span class="input-group-addon green white">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <select id="IdEmpresaUsuarioFinal" name="IdEmpresaUsuarioFinal" class="form-control selectOption ufs" ng-model="Producto.IdEmpresaUsuarioFinal"
                                                    ng-options="Empresa.IdEmpresa as Empresa.NombreEmpresa + ', crédito disponible: ' + (Empresa.CreditoDisponible | currency) + ' pesos.' for Empresa in selectEmpresas"
                                                    ng-change="revisarProducto(Producto);" title="Selecciona a un cliente (usuario final) para tu producto"
                                                    required>
                                                    <option ng-selected="true" value="">Selecciona un cliente...</option>
                                                </select>
                                            </div>

                                            <div style="margin-top: .5em; margin-left: .2em;" ng-if="Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 2" > 
                                                <label > CSN del cliente:</label>
                                                <div class="row"> 
                                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <input class="form-control col-xs-7 col-sm-7 col-md-7 col-lg-7" style="max-width: 80%;" type="text" pattern="[A-Za-z0-9]*" ng-model="Producto.csnUF" > 
                                                    <a class="col-xs-1 col-sm-1 col-md-1 col-lg-1"  style="margin-top: .6em; margin-left: 1em;" ng-click="updateUfCSN(Producto.IdEmpresaUsuarioFinal, Producto.csnUF, Producto)"><span class="glyphicon glyphicon-floppy-disk"  tooltip="Validar y guardar"  style="font-size: 1.6em"></span></a> 
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-info" style="color:{{Producto.color}};margin-top: .5em; padding-left: 0;"><b>{{Producto.mensajeCSN}}</b></div>
                                                </div>
                                                </div>
                                            </div>

                                            <label style="color:red" for="DominioMicrosoft" ng-show="Producto.IdFabricante === 1 && usuariosSinDominio[Producto.IdEmpresaUsuarioFinal] === false">*No cuentas con un Dominio de Microsoft para este producto.</label>&nbsp;                                            
                                            <div ng-if="Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 2">
                                                <label for="contrato" >* Contrato</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon green white">
                                                <span class="glyphicon glyphicon-file"></span>
                                            </span>
                                            <select id="contrato" name="contrato" class="form-control selectOption ufs" ng-model="Producto.IdPedidoContrato" ng-options="contrato.IdPedido as contrato.NumeroContrato for contrato in Producto.contratos"
                                                ng-change="contractSetted(Producto)" ng-required="contrato.NumeroContrato !== ''", ng-disabled="Producto.Especializacion === 'Planes Premium'">
                                                <option ng-disabled="" ng-selected="true" ng-value="0">Nuevo contrato...</option>
                                            </select>
                                        </div>
                                    </div>    
                                    <form name="frmPlazo" id="frmPlazo">
                                        
                                        <div class="form-group">
                                            <div ng-if="Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 11" >
                                                <label for="Plazo" >* Plazo </label>
                                                <sapan> Disponible de 1 a 60 meses</sapan>
                                            </div>

                                            <div ng-if="Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 11" class="input-group">
                                                <span class="input-group-addon green white">
                                                <span class="glyphicon  glyphicon-hourglass"></span>
                                                </span>
                                                <input id="Cantidad" name="Cantidad" type="number" ng-model="Producto.Plazo" class="form-control" placeholder="Elige el plazo en meses deseado..."
                                                    max="60" min="{{Producto.CantidadMinima}}" size="5"
                                                    maxlength="2" title="Número de meses"
                                                    required/>
                                            </div>
                                           </div>
                                            <p style="color:red" ng-show="frmPlazo.Cantidad.$error.maxlength">Máximo 2 dígitos</p>
                                            <p style="color:red" ng-show="frmPlazo.Cantidad.$error.min">Mínimo 1</p>
                                            <p style="color:red" ng-show="frmPlazo.Cantidad.$error.max">Máximo 60</p>            
                                            <div ng-hide="Producto.IdFabricante !== 1 || Producto.IdTipoProducto === 6 || Producto.IdTipoProducto === 3 || !Producto.FlagNC || Producto.AnualMicrosoft " >
                                                <label for="IdEmpresaUsuarioFinal">* Tipo de renovación</label> (Mensual/Anual/Anual con facturación mensual) 
                                                <div class="input-group" style="width:100%;" >
                                                        <span class="input-group-addon green white">
                                                            <span class="glyphicon glyphicon-hourglass"></span>
                                                        </span>
                                                    <select id="esquemaModelo" name="esquemaModelo" class="form-control selectOption ufs" ng-model="Producto.Esquema"
                                                        ng-options="esquema.id as esquema.esquema for esquema in EsquemaRenovacion"
                                                        ng-change="CambiarFechaRenovacion(Producto); generateCotermMSViability(Producto);" title="Selecciona un tipo de renovación para tu producto" ng-required="Producto.IdFabricante === 1 && Producto.IdTipoProducto !== 6 && Producto.IdTipoProducto !== 3">
                                                        <option ng-selected="true" value="" disabled>Selecciona un tipo de renovación...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-hide="Producto.IdFabricante !== 1 || Producto.IdTipoProducto === 6 || Producto.IdTipoProducto === 3 || Producto.FlagNC  || Producto.AnualMicrosoft" >
                                                <label for="IdEmpresaUsuarioFinal">* Tipo de renovación</label> (Mensual/Anual) 
                                                <div class="input-group" style="width:100%;" >
                                                        <span class="input-group-addon green white">
                                                            <span class="glyphicon glyphicon-hourglass"></span>
                                                        </span>
                                                    <select id="esquemaModelo" name="esquemaModelo" class="form-control selectOption ufs" ng-model="Producto.Esquema"
                                                        ng-options="esquema.id as esquema.esquema for esquema in EsquemaRenovacionLegacy"
                                                        ng-change="CambiarFechaRenovacion(Producto); generateCotermMSViability(Producto);" title="Selecciona un tipo de renovación para tu producto" ng-required="Producto.IdFabricante === 1 && Producto.IdTipoProducto !== 6 && Producto.IdTipoProducto !== 3">
                                                        <option ng-selected="true" value="" disabled>Selecciona un tipo de renovación...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-hide="Producto.IdFabricante !== 1 || Producto.IdTipoProducto === 6 || Producto.IdTipoProducto === 3 || !Producto.AnualMicrosoft " >
                                                <label for="IdEmpresaUsuarioFinal">* Tipo de renovación</label> (Anual con facturacion mensual/Anual) 
                                                <div class="input-group" style="width:100%;" >
                                                        <span class="input-group-addon green white">
                                                            <span class="glyphicon glyphicon-hourglass"></span>
                                                        </span>
                                                    <select id="esquemaModelo" name="esquemaModelo" class="form-control selectOption ufs" ng-model="Producto.Esquema"
                                                        ng-options="esquema.id as esquema.esquema for esquema in EsquemaRenovacionAnual"
                                                        ng-change="CambiarFechaRenovacion(Producto); generateCotermMSViability(Producto);" title="Selecciona un tipo de renovación para tu producto" ng-required="Producto.IdFabricante === 1 && Producto.IdTipoProducto !== 6 && Producto.IdTipoProducto !== 3">
                                                        <option ng-selected="true" value="" disabled>Selecciona un tipo de renovación...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div>
                                                <div class="checkbox"  ng-hide="Producto.IdFabricante !== 1 || Producto.IdTipoProducto !== 2 || !Producto.Esquema || !cotermMSByEschema || !Producto.FlagNC || Producto.AddSeatMS">
                                                    <label><input id="periodoCompleto" type="checkbox" ng-checked="Producto.periodoCompleto" ng-true-value="1" ng-false-value="0" ng-model="Producto.periodoCompleto" ng-click="" ng-disabled="!cotermMSByEschema"> Periodo completo</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="checkbox"  ng-hide="Producto.IdFabricante !== 1 || Producto.IdTipoProducto !== 2 || !Producto.Esquema || !Producto.FlagNC || !Producto.AddSeatMS">
                                                    <label><input id="periodoAddSeat" type="checkbox" ng-checked="Producto.periodoAddSeat" ng-true-value="1" ng-false-value="0" ng-model="Producto.periodoAddSeat"> Adicionar a partida activa</label>
                                                </div>
                                            </div>
                                            <div ng-hide="Producto.IdFabricante !== 1 || Producto.IdTipoProducto !== 2 || !cotermMSByEschema || (Producto.periodoCompleto && !Producto.AddSeatMS) || !Producto.FlagNC || (Producto.periodoAddSeat && Producto.AddSeatMS) " >
                                                <label>* Selecciona una fecha de co-termino disponible</label>
                                                <div class="input-group" style="width:100%;" >
                                                        <span class="input-group-addon green white">
                                                            <span class="glyphicon glyphicon-hourglass"></span>
                                                        </span>
                                                    <select id="coterm" name="coterm" class="form-control selectOption ufs" ng-model="Producto.cotermMS"
                                                        ng-options="cotermMS.FechaFin for cotermMS in cotermMSByEschema"
                                                        ng-change="CambiarFechaRenovacion(Producto);" title="Selecciona una fecha de co-termino disponible" ng-required="Producto.IdFabricante === 1 && Producto.IdTipoProducto !== 6 && Producto.IdTipoProducto !== 3 && !Producto.periodoCompleto">
                                                        <option ng-selected="true" value="" disabled>Selecciona una fecha disponible...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-group" ng-if="Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 2 && Producto.TieneContrato && Producto.IdAccionAutodesk === 2">
                                                <span class="input-group-addon green white">
                                                        <span class="glyphicon glyphicon-file"></span>
                                                </span>
                                                <select id="contrato" name="contrato" class="form-control selectOption ufs" ng-model="Producto.IdPedidoContrato" ng-options="contrato.IdPedido as contrato.NumeroContrato for contrato in Producto.contratos"
                                                    ng-change="contractSetted(Producto)" ng-required="contrato.NumeroContrato !== ''">
                                                    </select>
                                            </div>
                                            <div ng-if="(Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 2  && !Producto.IdPedidoContrato && Producto.IdAccionAutodesk === 1) 
                                            ||  Producto.IdFabricante === 6 || (Producto.IdFabricante === 5  && Producto.IdProductoFabricanteExtra !== 'Aperio') || (Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 11)" >
                                                <label for="contacto" >* Contacto</label>
                                            </div>
                                            <div class="input-group" ng-if="(Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 2 && !Producto.IdPedidoContrato && Producto.IdAccionAutodesk === 1) 
                                            ||  Producto.IdFabricante === 6 || (Producto.IdFabricante === 5  && Producto.IdProductoFabricanteExtra !== 'Aperio') || Producto.IdEmpresaUsuarioFinal && Producto.IdFabricante === 11">
                                                <span class="input-group-addon green white">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </span>
                                                <select id="contacto" name="IdEmpresaUsuarioFinal" class="form-control selectOption ufs" ng-model="Producto.IdUsuarioContacto"
                                                    ng-options="usuario.IdUsuario as usuario.Nombre + ' ('+ usuario.CorreoElectronico +')' for usuario in Producto.usuariosContacto"
                                                    ng-required="!Producto.IdPedidoContrato" ng-change="asientosPremium(Producto)">
                                                    <option ng-selected="true" value="">Selecciona un contacto...</option>
                                                </select>  
                                            </div>   
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-info" style="margin-top: .5em; padding-left: 0;"><b>{{Producto.mensajePlanPremium}}</b></div>                             
                                            <div ng-show="Producto.MostrarMensajeP" style="color:red;">

                                                <label>* No cuentas con suscripciones para este producto.</label>&nbsp;
                                                <br>
                                            </div>

                                            <div ng-show="Producto.Mostrar">
                                                <label for="IdEmpresaUsuarioFinal">* Elige un producto</label> &nbsp;

                                                <div class="input-group">
                                                    <span class="input-group-addon green white">
                                                        <span class="fa fa-puzzle-piece"></span>
                                                    </span>
                                                    <select id="IdProductoPadre" name="IdProductoPadre" class="form-control selectOption" ng-model="Producto.IdProductoPadre"
                                                        ng-options="Producto.ResultadoFabricante1 as Producto.Nombre for Producto in selectProductos"
                                                        ng-required="Producto.Required">
                                                        <option ng-selected="true" value="">Selecciona una suscripción...</option>
                                                    </select>
                                                </div>

                                                <br>
                                            </div>
                                        </div>

                                        <div style="float:right!important;">
                                            <label for="" title="Cantidad por precio">Total:</label>
                                            <b>
                                                {{estimateTotal(Producto, Producto.Cantidad) | currency }} {{Producto.MonedaPrecio}}
                                            </b>
                                        </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <button type="button" ng-show="0" ng-click="AgregarGuardados(Producto.IdProducto)" class="btn btn-link btn-block favoriteOption"><span class="glyphicon glyphicon-star"></span> Agregar a favoritos</span></button>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="((terminos) && (Producto.IdFabricante === 1) && SessionCookie.IdTipoAcceso !== 10)">
                                            <p >* Primero debes de aceptar términos y condiciones</p>  
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="((terminos) && (Producto.IdFabricante === 1) && SessionCookie.IdTipoAcceso === 10)">
                                            <div class="alert alert-danger" role="alert">
                                                <p><b class="alert-heading"> Microsoft Customer Agreement</b></p>
                                                <p> Solicite al distribuidor acepte este contrato para continuar con el uso de la plataforma.
                    El distribuidor puede aceptar el contrato desde el <b>catálogo de productos</b> al tratar de hacer una compra con Microsoft para este usuario final desde su sesión en clicksuscribe. </p>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 10">
                                            <button  ng-click="updateEnterprise(Producto)" ng-show="Producto.IdFabricante === 1 && usuariosSinDominio[Producto.IdEmpresaUsuarioFinal] === false" class="btn btn-primary updateDomain" style="float: center;">Asignar Dominio Microsoft</button>
                                        <button class="btn btn-success addOption" ng-click="previousISVValidate(Producto)" ng-disabled="!frmCantidad.$valid && Producto.IdFabricante !== 1 || Producto.IdFabricante === 1 && usuariosSinDominio[Producto.IdEmpresaUsuarioFinal] === false" style="float: center;" ng-hide="(((terminos) && (Producto.IdFabricante === 1)) || Producto.planPremiumNo)">Agregar al carrito</md-button>
                                                <button ng-disabled="!datosCompletosCustomer"  class="btn btn-danger addOption" style="float: center;" data-toggle="modal" data-target="#terminosModal" ng-show="((terminos) && (Producto.IdFabricante === 1) && SessionCookie.IdTipoAcceso !== 10)">Aceptar términos</md-button>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 10">
                                                <button class="btn btn-primary addOption" style="float: right;" data-toggle="modal" data-target="#formModal" ng-show="((terminos) && (Producto.IdFabricante === 1) && (!datosCompletosCustomer))">Completar datos</md-button>
                                        </div>
                                        </form>

                            </div>

                </div>

            </td>
        </tr>
    </table>

    <form id="formModal" name="formModal" class="modal fade in" tabindex="-1" role="dialog"  >
        <div>
            <div class="modal-dialog" role="document">
                <div class="modal-content" >
                    <div class="modal-header">
                        <label>Contacto principal</label>
                        <br/>
                        Actualiza o completa tus datos para poder aceptar los términos
                    </div>
                    <div class="modal-body" >
                        <div class="row"  >
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div>
                                    <label>Nombre *</label>
                                    <input name="Nombre" type="text" ng-model="finalUser.Nombre" class="form-control"  placeholder="" size="255" ng-maxlength="50"
                                    required  pattern="[a-z|A-Z|' ']{1,30}"
                                    title="Ingresa un nombre propio"  />
                                    <b style="color:red;" ng-show="formModal.Nombre.$invalid && !formModal.Nombre.$pristine" class="help-block" class="help-block">El formato es incorrecto, revise el nombre</b>
                         
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                                <div class="pull-rigth">
                                    <label>Apellidos *</label>
                                    <input name="Apellidos" type="text" ng-model="finalUser.Apellidos" class="form-control" placeholder="" size="255" ng-maxlength="80"
                                    required  pattern="[a-z|A-Z|' ']{1,30}"
                                    title="Ingresa apellidos" />
                                    <b style="color:red" ng-show="formModal.Apellidos.$invalid && !formModal.Apellidos.$pristine" class="help-block" class="help-block">El formato es incorrecto, revise los apellidos</b>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                
                                <div class="pull-rigth">
                                    <label>Correo electrónico *</label>
                                    <input name="CorreoElectronico" type="email" ng-model="finalUser.CorreoElectronico" class="form-control" placeholder="" size="255"
                                    ng-maxlength="255" />
                                    <b style="color:red" ng-show="formModal.CorreoElectronico.$invalid && !formModal.CorreoElectronico.$pristine" class="help-block">El formato es incorrecto, revise el correo</b>
                                </div>
                            </div>
                            <div  class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                                <div class="pull-rigth">
                                    <label>Número de celular </label>
                                </div>
                                <div >
                                    <div >
                                        <div class="pull-rigth">
                                            <input name="Telefono" type="text" ng-model="finalUser.Telefono" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" placeholder="" size="255" ng-maxlength="255" required/>
                                            <b style="color:red" ng-show="formModal.Telefono.$invalid && !formModal.Telefono.$pristine" class="help-block">Ingrese un número válido </b>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div  class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="cerrarModal('formModal')" data-dismiss="modal">Cerrar </button>
                        <button   ng-disabled="finalUser.Nombre==null||finalUser.Nombre==''||finalUser.Apellidos==null||finalUser.Apellidos==''||finalUser.CorreoElectronico==''||finalUser.CorreoElectronico==null||finalUser.Telefono==null||finalUser.Telefono==''" type="button" class="btn btn-success" ng-click="updateFinalUserData();cerrarModal('formModal')" data-dismiss="modal">Actualizar Información </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="terminosModal" class="modal fade in" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Términos y condiciones</h4>
                </div>
                <div class="modal-body">
                    <p>Por disposición de Microsoft se debe aceptar el <b>Microsoft Customer Agreement</b> para poder seguir consumiendo sus productos.
                        En caso de no aceptar los términos, no se podrá hacer ningún movimiento en las licencias actuales ni comprar nuevas.
                    </br></br>
                    <a ng-click="getCustomerAgreement()" >
                        *Consultar Contrato del Cliente de Microsoft
                    </a>
                    </p>
                    <p>
                        <a href="{{downloadURI}}" ng-if="microsoftURI" target="_blank">Descargar</a>
                    </p>
                    <p>
                        <a href="{{displayUri}}" ng-if="microsoftURI" target="_blank">Ver</a>
                    </p>
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="images/loading.gif" style="width:45px;height:45px" ng-show="loading" />
                    </div>
                    <div  class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="AceptarTerminos();" data-dismiss="modal">Aceptar términos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="text-center">

            <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
            </div>

            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <div ng-click="PaginadoInicio()" ng-show="Pagina > 0">
                    <b><div class="paginator"><img src="images/backArrow.png"></div></b>
                </div>
            </div>

            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <div ng-click="PaginadoAtras()" ng-show="Pagina > 0">
                    <b><div class="paginator"><img src="images/leftArrow.png"></div></b>
                </div>
            </div>

            <div class="col-xs-4 col-sm-1 col-md-1 col-lg-1">
                <b>Página {{Pagina + 1}}</b>
            </div>

            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <div ng-click="PaginadoSiguiente()" ng-show="Productos.length  !== 0">
                   <div class="paginator"><img src="images/rightArrow.png"></div>
                </div>
            </div>

            <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
            </div>


        </div>
    </div>

    </div>

</form>

</div>