<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div align="center">
                <h1>{{ result.Message }}</h1><br>
                <h1>Ingresa con tu usuario y contraseña</h1><br>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                <button id="IniciarSesion" type="submit" ng-click="iniciarSesion()" class="btn btn-primary btn-block" style="background:{{ currentDistribuidor.PrimaryColor }} !important">Iniciar sesión</button>
           </div>
        </div>
    </div>
</div>