<div  class="container"  >
    <form>
        <h1>Términos, Condiciones y Políticas</h1><br>
          <ul class="nav nav-tabs ">
              <li class="nav-item" >
              <a class="nav-link" ng-click="politics('tycCLICK')" >ClickSuscribe</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" ng-click="politics('tycMS')" >Microsoft</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" ng-click="politics('tycAD')" >Autodesk</a>
              </li>
              <li class="nav-item" >
                <a ng-click="politics('cancel')" >Cancelaciones</a>
              </li>
              <li class="nav-item" >
                  <a ng-click="politics('entrega')" >Entrega</a>
                </li>
          </ul>
        <br>
        <div class="tab-content form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <div class="form-group row" >
            <div id="pdf" class="form-group row" ></div>
          </div>
        </div>
    </form>
</div>