<div  class="container"  >
    <form>
        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-2 col-md-2 col-lg-2" >
                <nav class="navbar navbar-default" >
                    <div class="navbar-header" style="width: 100%;">
                        <a class="navbar-brand" id="ms" ng-click="politics('tycMS')" style="color: white;  width: 100%;">TyC Microsoft</a><br>
                        <a class="navbar-brand" ng-click="politics('tycAD')" style="color: white; background-color: #e00034; width: 100%;">TyC Autodesk</a><br>
                        <a class="navbar-brand " id="cancel" ng-click="politics('cancel')" style="color: white; background-color: #db9635; width: 100%;">Cancelaciones</a><br>
                    </div>
                </nav>
            </div>
            <h1 ng-show="title">Selecciona una opción para visualizar la política</h1>
            <div class="form-group col-xs-12 col-sm-10 col-md-10 col-lg-10" ng-show="container">
                <div class="form-group row" >
                    <div id="pdf" class="form-group row" ></div>
                </div>
            </div>
        </div>
    </form>
</div>