<div class="container">
    <h2>Información General</h2>
    <form name="frm" ng-swipe-right="EmpresaCancel()">
    <hr>

    <div class="form-group row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <label>Nombre *</label>
                        <input name="Nombre" type="text" ng-model="Usuario.Nombre" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Nombre" size="255" ng-maxlength="45" required="" ng-disabled="Usuario.ModificaContrasena == 0"/>
                        <b style="color:red" ng-show="frm.Nombre.$invalid && !frm.Nombre.$pristine" class="help-block">El nombre es requerido.</b>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <label>Apellido Paterno </label>
                        <input name="ApellidoPaterno" type="text" ng-model="Usuario.ApellidoPaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellido paterno" size="255" ng-maxlength="30" ng-disabled="Usuario.ModificaContrasena == 0"/>
                        <b style="color:red" ng-show="frm.ApellidoPaterno.$invalid && !frm.ApellidoPaterno.$pristine" class="help-block">Ha excedido el número de caracteres permitidos.</b>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <label>Apellido Materno </label>
                        <input name="ApellidoMaterno" type="text" ng-model="Usuario.ApellidoMaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellido materno" size="255" ng-maxlength="30" ng-disabled="Usuario.ModificaContrasena == 0"/>
                        <b style="color:red" ng-show="frm.ApellidoMaterno.$invalid && !frm.ApellidoMaterno.$pristine" class="help-block">Ha excedido el número de caracteres permitidos.</b>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <label>Correo Electrónico *</label>
                        <input name="CorreoElectronico" type="text" ng-model="Usuario.CorreoElectronico" class="form-control" ng-disabled="true"/>
                        <b style="color:red" ng-show="frm.CorreoElectronico.$invalid && !frm.CorreoElectronico.$pristine" class="help-block">El correo electrónico es requerido.</b>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <label>Número de celular </label>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="pull-rigth">
                        <input name="Lada" ui-mask="+99" ui-mask-placeholder type="text" ng-model="Usuario.Lada"  class="form-control" placeholder="" size="255" ng-maxlength="255" ng-disabled="Usuario.ModificaContrasena == 0"/>
                    </div>
                </div> 
                
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="pull-rigth">
                        <input name="Telefono" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" type="text" ng-model="Usuario.Telefono" class="form-control" placeholder="" size="255" ng-maxlength="255" ng-disabled="Usuario.ModificaContrasena == 0"/>
                    </div>
                </div> 
                <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div> 
            </div>
            

            <div class="form-group row" ng-show ="Usuario.ModificaContrasena == 0 && Usuario.TipoAccesoDistribuidor != 1">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <label>Tipo Acceso* </label>
                        <select name="IdTipoAcceso" class="form-control" ng-model="Usuario.IdTipoAcceso" 
                            ng-options="TiposAccesos.IdTipoAcceso as TiposAccesos.Tipo for TiposAccesos in selectTiposAccesos">
                        </select>
                    </div>
                    
                </div>
                <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
            </div>

            <div class="form-gruop row" ng-show ="Usuario.ModificaContrasena == 0 && Usuario.TipoAccesoDistribuidor == 2">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <a ng-click="UsuarioDelete()">Eliminar&nbsp;<span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <div class="form-group row" ng-show ="Usuario.ModificaContrasena == 1">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-rigth">
                        <label>Por seguridad, capture su contraseña actual * </label>
                        <input name="Contrasena" type="password" ng-model="Usuario.Contrasena" class="form-control" placeholder="Contraseña Actual" size="255" ng-maxlength="255" ng-required="Usuario.ModificaContrasena == 1" />
                        <b style="color:red" ng-show="frm.Contrasena.$invalid && !frm.Contrasena.$pristine" class="help-block">La contraseña actual es requerida.</b>
                    </div>
                </div>
            </div><br>
            <div ng-show ="Usuario.ModificaContrasena == 1 && Usuario.MuestraCamposContrasenas == 0">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-rigth">
                            <a ng-click="Usuario.MuestraCamposContrasenas = 1"><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Modificar Contraseña</a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show ="Usuario.MuestraCamposContrasenas == 1">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-rigth">
                            <div>
                                <a ng-click="Usuario.MuestraCamposContrasenas = 0"><span class="glyphicon glyphicon-triangle-top">&nbsp;</span>No Modificar Contraseña</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <div ng-show ="Usuario.MuestraCamposContrasenas == 1">
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       <div class="pull-rigth">
                            <label>Nueva Contraseña </label>
                            <input name="ContrasenaNueva" type="password"  ng-model="Usuario.ContrasenaNueva" class="form-control" placeholder="Nueva Contraseña" size="255" ng-maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-rigth">
                            <label>Confirmar Contraseña </label>
                            <input name="ContrasenaConfirmar" type="password" ng-model="Usuario.ContrasenaConfirmar" class="form-control" placeholder="Confirmar Contraseña" size="255" ng-maxlength="50" ng-blur="ValidaContrasena()" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-rigth">
                            <ul>
                                <li><strong>Sugerencia para contraseña:</strong><br><br>
                                <ul>
                                    <li>Mínimo 8 caracteres</li>
                                    <li>Mínimo una letra</li>
                                    <li>Mínimo un dígito y/o caracter especial</li>
                                </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>

    </div>

    <div class="form-group row" ng-show="Usuario.ModificaContrasena == 1">
        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
            <div class="form-group">
                <button type="submit" style="{{secondaryColor}} !important" ng-click="UsuarioUpdate()" ng-disabled="false" class="btn btn-primary btn-block">Aceptar</button>
            </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
            <div class="form-group">
                <button type="button" style="{{secondaryColor}} !important" ng-click="UsuarioCancel()" class="btn btn-warning btn-block">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="form-group row" ng-show="Usuario.ModificaContrasena == 0">
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
        <div class="form-group">
            <button type="submit" style="{{secondaryColor}} !important" ng-click="UsuarioUpdate()" ng-disabled="false" class="btn btn-primary btn-block">Aceptar</button>
        </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
            <div class="form-group">
                <button type="button" style="{{secondaryColor}} !important" ng-click="UsuarioCancel()" class="btn btn-warning btn-block">Cancelar</button>
            </div>
        </div>
    </div>
</div>