<div class="container">
    <h2>Colaborador</h2>
    <form name="frm" ng-swipe-right="UsuarioCancel()">
        <hr>
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Nombre * </label> 
                    <input name="Nombre" type="text" ng-model="Usuario.Nombre" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Nombre" size="255" ng-maxlength="45" required=""/>
                    <div ng-show="frm.$submitted || frm.Nombre.$touched">
                        <b style="color:red" ng-show="frm.Nombre.$error.required || frm.Nombre.$error.pattern" class="help-block">Escriba un nombre válido.</b>
                    </div>
                </div>
                
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
        
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Apellido Paterno </label>
                    <input name="ApellidoPaterno" type="text" ng-model="Usuario.ApellidoPaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellido Paterno" size="255" ng-maxlength="30" ng-required="Usuario.IdTipoAcceso == 4 || Usuario.IdTipoAcceso == 2" />
                    <div ng-show="frm.$submitted || frm.ApellidoPaterno.$touched">
                            <b style="color:red" ng-show="frm.ApellidoPaterno.$error.required && ((Usuario.IdTipoAcceso == 2 && Session.IdTipoAcceso == 1) || (Usuario.IdTipoAcceso == 4 && Session.IdTipoAcceso == 2))" class="help-block">Revisa el número de caracteres (max: 30), los números no son permitidos</b>
                    </div>
                </div>
                
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
        
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Apellido Materno </label>
                    <input name="ApellidoMaterno" type="text" ng-model="Usuario.ApellidoMaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="Apellido Materno" size="255" ng-maxlength="30" />
                    <b style="color:red" ng-show="frm.ApellidoMaterno.$invalid && !frm.ApellidoMaterno.$pristine" class="help-block">Revisa el número de caracteres (max: 30), los números no son permitidos</b>
                </div>  
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
        
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Correo Electrónico* </label>
                    <input name="CorreoElectronico" type="email" ng-model="Usuario.CorreoElectronico" class="form-control" placeholder="Correo Electrónico" size="255" ng-maxlength="50" required="" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" />
                    <div ng-show="frm.$submitted || frm.CorreoElectronico.$touched">
                        <b style="color:red" ng-show="frm.CorreoElectronico.$error.required || frm.CorreoElectronico.$error.pattern" class="help-block">Capture un correo electrónico válido.</b>
                    </div>
                </div>
                
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-rigth">
                    <label>Número de celular* </label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                <div class="pull-rigth">
                    <input name="Lada" ui-mask="+99" ui-mask-placeholder type="text" ng-model="Usuario.Lada"  class="form-control" placeholder="" size="255" ng-maxlength="255" />
                </div>
            </div>    
            <div class="col-xs-9 col-sm-9 col-md-3 col-lg-3">
                <div class="pull-rigth">
                    <input name="Telefono" type="text" ng-model="Usuario.Telefono" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" placeholder="" size="255" ng-maxlength="255" required=""/>
                    <div ng-show="frm.$submitted || frm.Telefono.$touched">
                        <b style="color:red" ng-show="frm.Telefono.$error.required" class="help-block">Ingrese un número o valide que sea correcto.</b>
                    </div>
                </div>
            </div> 
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div> 
        </div>
        
        <div class="form-group row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Tipo Acceso* </label>
                    <select name="IdTipoAcceso" class="form-control" ng-model="Usuario.IdTipoAcceso" required=""
                        ng-options="TiposAccesos.IdTipoAcceso as TiposAccesos.Tipo for TiposAccesos in selectTiposAccesos">
                    <option value="" ng-selected="true">Selecciona un tipo de acceso...</option>
                    </select>
                    <div ng-show="frm.$submitted || frm.IdTipoAcceso.$touched">
                        <b style="color:red" ng-show="frm.IdTipoAcceso.$error.required" class="help-block">El tipo de acceso es requerido.</b>
                    </div>
                </div>
                
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
        
        <div class="form-group row" ng-if="(Usuario.IdTipoAcceso == 2 && Session.IdTipoAcceso == 1) || (Usuario.IdTipoAcceso == 4 && Session.IdTipoAcceso == 2) || (Usuario.IdTipoAcceso == 4 && Session.IdTipoAcceso == 10)">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Empresa* </label>
                    <select name="IdEmpresa" class="form-control" ng-model="Usuario.IdEmpresa" required=""
                        ng-options="Empresas.IdEmpresa as Empresas.NombreEmpresa for Empresas in selectEmpresas">
                        <option value="" ng-selected="true">Selecciona una empresa...</option>
                    </select>
                    <div ng-show="frm.$submitted || frm.IdEmpresa.$touched">
                        <b style="color:red" ng-show="((Usuario.IdTipoAcceso == 2 && Session.IdTipoAcceso == 1) || (Usuario.IdTipoAcceso == 4 && Session.IdTipoAcceso == 2) || (Usuario.IdTipoAcceso == 4 && Session.IdTipoAcceso == 10)) && frm.IdEmpresa.$error.required" class="help-block">La empresa es requerida.</b>
                    </div>
                </div>
                
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>

        <br>
        <div class="row" ng-if="Session.IdTipoAcceso != 1 && Session.IdTipoAcceso != 4">
            <div class="col-md-8 col-xs-12 col-lg-8" style="padding: none;">
                <div class="alert alert-warning">
                    <b>Nota *</b> Si se desea agregar un usuario como contacto (Autodesk) es necesario hacerlo con tipo de acceso "Administrador (Usuario final)" y posteriormente elegir la empresa de la cual será contacto. <br>
                </div>
                <div class="alert alert-warning">
                    <b>Aviso:</b> No se podrán hacer compras en las primeras 48 horas posteriores a la creación del dominio, ya que la cuenta se revisará por parte del Fabricante Microsoft. <br>
                </div>
            </div>
        </div>
        <br>
        
        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="images/loading.gif" style="width:45px;height:45px" ng-show="loading" />
            </div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                <div class="form-group">
                    <button type="submit" ng-click="UsuarioCreate()"  class="btn btn-primary btn-block" style="background:{{currentDistribuidor.PrimaryColor}} !important">Aceptar</button>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                <div class="form-group">
                    <button type="button" ng-click="UsuarioCancel()" class="btn btn-warning btn-block" style="{{secondaryColor}} !important">Cancelar</button>
                </div>
            </div>
        </div>
    </form>

</div>