<div class="container">
    
    <form name="frm">
    
        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="text-left">
                    <h3>Nueva contraseña</h3>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="text-left">
        
                    <!--<p ng-show="frm.Correo.$error.maxlength">Tamaño del texto excedido</p>
                    <p ng-show="frm.Correo.$error.required">Escribe un correo</p>-->
                    <div class="form-group has-feedback">
                        <input id="NvaContrasena" name="Contrasena" type="password" ng-model="Usuario.NvaContrasena" class="form-control" placeholder="Nueva contraseña" size="255" ng-maxlength="255" required="" />
                        <i class="form-control-feedback glyphicon glyphicon-lock"></i>
                    </div>

                    <div class="form-group has-feedback">
                        <input id="CnfrmContrasena" name="Contrasena" type="password" ng-model="Usuario.ConfContrasena" class="form-control" placeholder="Confirmar contraseña" size="255" ng-maxlength="255" required="" />
                        <i class="form-control-feedback glyphicon glyphicon-lock"></i>
                    </div>
        
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
            <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="text-left">
        
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
        
        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <button type="submit" ng-click="CambiarContrasena();" class="btn btn-primary btn-block">Confirmar</button>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
    </form>

</div>