<div class="container">
    
    <form name="frm">
    
        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="text-left">
                    <h3>¡Restablecer contraseña!</h3>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="text-left">
        
                    <!--<p ng-show="frm.Correo.$error.maxlength">Tamaño del texto excedido</p>
                    <p ng-show="frm.Correo.$error.required">Escribe un correo</p>-->
        
                    <div class="form-group has-feedback">
                        <input id="emailForPassReset" name="Correo" type="email" ng-model="Usuario.CorreoElectronico" class="form-control" placeholder="Correo electrónico" size="255" ng-maxlength="255" required="" />
                        <i class="form-control-feedback glyphicon glyphicon-user"></i>
                    </div>
        
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
            <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="text-left">
                    <div class="form-group has-feedback">
                        {{Usuario.Respuesta}}
                    </div>
        
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
        
        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="#/Login">Regresar</a>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
        <div class="form-group row">
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <button ng-model="confirmaRestablecer" type="submit" ng-click="RestablecerContrasena();" class="btn btn-primary btn-block">Confirmar</button>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        </div>
        
    </form>

</div>