<div class="container" >
    <div class="col-md-12 col-md-offset-4">.
        
        <h2>Solicitar soporte</h2>
        <br>
        <form name="frm" ng-swipe-right="">                
            <hr>
            
            <div class="form-group row">
                
                <div class="form-group col-xs-12 col-sm-4 col-md-6 col-lg-6 ">
                    <div class="pull-rigth">
                        <label></label>
                        <input name="Titulo" type="text" ng-model="Soporte.Titulo" class="form-control" placeholder="Título *" size="255" ng-maxlength="255"
                        required="" />
                    </div>
                </div>

            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <select name="IdFabricante" placeholder="Descripción *" class="form-control filterOption" ng-model="Soporte.IdFabricante" ng-options="Fabricante.IdFabricante as Fabricante.Nombre for Fabricante in selectFabricantes"
                        ng-change=";">
                        <option value="">Fabricante</option> 
                    </select>
                </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <select name="IdCategoria"  class="form-control filterOption" ng-model="Soporte.IdCategoria" ng-options="+(Fabricante.IdCategoriasReportes) as Categoria.Categorias for Categoria in selectCategorias">
                    <option value="">Categoría</option>    
                    </select>
                </div>
                </div>

            <div class="form-group row">
                <div class="form-group col-xs-12 col-sm-4 col-md-6 col-lg-6">

                    <div class="pull-rigth">
                        <label></label>
                        <textarea name="Descripcion" type="text" ng-model="Soporte.Descripcion" class="form-control" placeholder="Descripción *" size="255" ng-maxlength="255"
                        required="" />
                    </div>

                </div>
    
            </div>


            <br>

            <div class="form-group row  col-md-offset-2" >
                <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                    <div class="form-group">                
                        <button type="submit" ng-click="SolicitarSoporte()" class="btn btn-primary btn-block">Enviar</button>                    
                    </div>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                    <div class="form-group">
                        <button type="button" ng-click="Cancelar()" ng-disabled="Empresa.Formulario" class="btn btn-warning btn-block">Cancelar</button>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
            </div>

        </form>
    </div>
</div>