<div class="container">
  <h2>Editar soporte</h2>
  <p>Describe la solución a la duda o problema.</p>
  <form name="frm" ng-swipe-right="">
    <hr>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label>Título *</label>
        <input name="Titulo" type="text" ng-model="Soporte.Titulo" class="form-control" placeholder="" size="255" ng-maxlength="255"
          required="" disabled />
        <b style="color:red" ng-show="frm.Titulo.$invalid && !frm.Titulo.$pristine" class="help-block">El Título es requerido ó ha sobrepasado el limite de caracteres.</b>
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label>Estatus *</label>
        <select name="idSoporte" ng-model="Soporte.IdEstatus" class="form-control" required="" ng-change="">
          <option ng-selected="true" value="">Selecciona uno ..</option>
          <option ng-repeat="option in combo" value="{{option.IdEstatusSoporte}}">{{option.Descripcion}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label>Descripción *</label>
        <textarea name="Descripcion" type="text" ng-model="Soporte.Descripcion" class="form-control" placeholder="" size="255" ng-maxlength="255"
          required="" disabled/>
        <b style="color:red" ng-show="frm.Descripcion.$invalid && !frm.Descripcion.$pristine" class="help-block">La Descripción es requerida ó ha sobrepasado el limite de caracteres..</b>
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label>Solución *</label>
        <textarea name="Descripcion" type="text" ng-model="Soporte.DescripcionSolucion" class="form-control" placeholder="" size="255"
          ng-maxlength="255" required="" />
        <b style="color:red" ng-show="frm.Descripcion.$invalid && !frm.Descripcion.$pristine" class="help-block">La Descripción es requerida ó ha sobrepasado el limite de caracteres..</b>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-offset-6 col-sm-3">
        <button type="submit" ng-click="ActualizarSoporte()" class="btn btn-primary btn-block">Enviar</button>
      </div>
      <div class="form-group col-xs-12 col-sm-3">
        <button type="button" ng-click="Cancelar()" ng-disabled="Empresa.Formulario" class="btn btn-warning btn-block">Cancelar</button>
      </div>
    </div>
  </form>
</div>