<div class="container">
	<h2>Mi sitio</h2>
	<form name="frm" ng-swipe-right="UsuarioCancel()">
		<hr>
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth" style="margin-bottom: 15px">
					<label>Subdominio próximamente *</label> {{miSitio.Subdominio}}.clicksuscribe.com
					<input name="Subdominio" type="text" ng-model="miSitio.Subdominio" class="form-control" placeholder="Subdominio" />
					<b style="color:red" ng-show="frm.Subdominio.$invalid && !frm.Subdominio.$pristine" class="help-block">Escribe un subdominio
						válido.</b>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth" style="margin-bottom: 15px">
					<label>Distintivo para menú *</label> <a href="{{miSitio.UrlLogo}}" ng-show="miSitio.UrlLogo != null" target="_blanc"
					 ng-model="miSitio.UrlLogo">descargar</a>
					<br> Formato: jpg, png, jpeg, bmp, gif. ancho: 365px, alto: 124px
					<input type="file" id="fileUploadImagen" nv-file-select="miSitio.UrlLogo" ng-model="miSitio.UrlLogo" uploader="uploader" class="form-control-file"/>
					<img ng-show="miSitio.UrlLogo != null" src="{{miSitio.UrlLogo}}" ng-model="miSitio.UrlLogo" style="max-width:365px" />
				</div>
			</div>
		</div>
		
		<div class="form-group row" >
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="pull-rigth" style="margin-bottom: 15px">
						<label>Selecciona tu ícono de distribuidor *</label> <a href="{{miSitio.Icon}}" ng-show="miSitio.Icon != null" target="_blanc"
						 ng-model="miSitio.Icon">descargar</a>
						<br> Formato: jpg, png, jpeg, bmp, gif ó ico. ancho: 50px, alto: 50px
						<input type="file" id="fileUploadIcon" nv-file-select="miSitio.Icon" ng-model="miSitio.Icon" uploader="uploaderIcon" class="form-control-file" />
						<img ng-show="miSitio.Icon != null" src="{{miSitio.Icon}}" ng-model="miSitio.Icon" style="max-width:200px" />
					</div>
				</div>
			</div>

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth" style="margin-bottom: 15px">
					<label>
						Primary
						<input type="color" id="primaryColorPicker" ng-model="miSitio.PrimaryColor" />
						<input id="primaryColorInput" ng-model="miSitio.PrimaryColor"/>
					</label>
				</div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
		</div>

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth" style="margin-bottom: 15px">
					<label>
						Secondary
						<input type="color" id="secondaryColorPicker" ng-model="miSitio.SecondaryColor" />
						<input id="secondaryColorInput" ng-model="miSitio.SecondaryColor" />
					</label>
				</div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
		</div>

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<label>
					* Nombre en Pestaña del Navegador
					<input type="text"  class="form-control" name="PestanaNavegador" id="pestanaNavegador" placeholder="Mi Empresa" 
					style="width:200px" ng-model="miSitio.PestanaNavegador">
				</label>
			</div>
		</div>

		<!-- <div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<label>
					Selecciona URL de inicio
					<input type="url" name="inicio" id="inicioUrl" placeholder="http://myUrl.com/inicio" 
					style="width:200Px" ng-model="miSitio.UrlInicio">
				</label>
			</div>
		</div> -->
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<label>
					URL de Aviso de Privacidad
					<input type="url" name="AvisoPrivacidad" id="avisoPrivacidad" class="form-control"
					placeholder="http://myUrl.com" style="width:200Px" ng-model="miSitio.UrlAvisoPrivacidad">
				</label>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<label>
					Url de Contacto
					<input type="url" name="Contacto" id="contacto" placeholder="http://myUrl.com" style="width:200Px" class="form-control"
					ng-model="miSitio.UrlContacto">
				</label>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth" style="margin-bottom: 15px">
					<label>Términos y Condiciones</label> <a href="{{miSitio.TerminosYCondiciones}}" ng-show="miSitio.TerminosYCondiciones != null" target="_blanc"
					 ng-model="miSitio.TerminosYCondiciones">descargar</a>
					<br> Formato: PDF
					<input type="file" id="uploadTerminosCondiciones" nv-file-select="miSitio.TerminosYCondiciones" ng-model="miSitio.TerminosYCondiciones" uploader="uploadPDF" class="form-control-file"/>
					<img ng-show="miSitio.TerminosYCondiciones != null" src="{{miSitio.TerminosYCondiciones}}" ng-model="miSitio.TerminosYCondiciones" style="max-width:365px" />
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth" style="margin-bottom: 15px">
					<label><input id="SubdominioActivo" type="checkbox" ng-checked="miSitio.SubdominioActivo" ng-true-value="1" ng-false-value="0"
						 ng-model="miSitio.SubdominioActivo"> Activar mi sitio para mis clientes.</label>
				</div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
		</div>

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth style="margin-bottom: 15px">
					<a href="https://s3.amazonaws.com/marketplace.compusoluciones.com/TuClick.pdf" target="_blanc">Términos y condiciones</a>
				</div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
		</div>

		<div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pull-rigth" style="margin-bottom: 15px">
					<label><b>Acepto expresamente el citado contrato, los términos y condiciones, manifestando bajo protesta de decir verdad
							que cuento con la capacidad suficiente para contratar y obligarme en términos de los mismos. Acuso de recibo el presente
							mensaje de datos, siendo de mi conocimiento que la información contenida en este, se mantendrá integra y será accesible
							a mi ulterior consulta.</b></label>
					<br>
					<label><input id="Activo" type="checkbox" ng-checked="miSitio.SubdominioAceptoTerminos" ng-true-value="1" ng-false-value="0"
						 ng-model="miSitio.SubdominioAceptoTerminos"> Sí acepto.</label>
				</div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
		</div>

		<div class="form-group row">
			<div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
				<div class="form-group">
					<button type="submit" ng-click="Guardar();" class="btn btn-primary btn-block">Guardar cambios</button>
				</div>
			</div>
		</div>
	</form>

</div>