<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2>Crédito</h2>
      <form name="frm" ng-swipe-right="EmpresaCancel()">
        <hr />
        <br />

        <div class="form-group row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="form-group">
              <label for="Credito"
                >Crédito de {{Empresa.IdERP}}, {{ Empresa.NombreEmpresa }} en
                pesos MXN.</label
              >
              <input
                name="Credito"
                type="number"
                class="form-control"
                ng-model="Empresa.Credito"
                max="999999999"
                min="000000000"
                ng-maxlength="9"
                size="9"
                ng-required=""
                required=""
                ng-disabled="SessionCookie.IdTipoAcceso !== 1"
              />
              <br />

              <p style="color: red;" ng-show="frm.Credito.$error.required">
                Escribe una cantidad
              </p>
              <p style="color: red;" ng-show="frm.Credito.$error.maxlength">
                Tamaño excedido
              </p>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">
            <div class="form-group">
              <button
                ng-disabled="SessionCookie.IdTipoAcceso !== 1"
                type="submit"
                ng-click="EmpresaUpdate()"
                ng-disabled="!frm.$valid"
                class="btn btn-primary btn-block"
              >
                Aceptar
              </button>
            </div>
          </div>
          <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">
            <div class="form-group">
              <button
                type="button"
                ng-click="EmpresaCancel()"
                class="btn btn-warning btn-block"
              >
                Cancelar
              </button>
            </div>
          </div>
          <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h2>Azure</h2>
      <form name="frm" ng-swipe-right="EmpresaCancel()">
        <hr />
        <br />
        <div class="form-group row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="form-group">
              <div class="pull-rigth">
                <label for="Credito" ng-if="EmpresaBudget > 0"
                >Crédito en Azure - {{EmpresaBudget}} pesos MXN.</label
              ><br>
                <label>Tipo de anticipo </label>
                <select name="TipoAnticipo" class="form-control" ng-model="Empresa.TipoAnticipo">
                  <option
                    selected
					          value=""
                    ng-disabled="true"
                    ng-selected="true"
                    >Selecciona un tipo Anticipo</option
                  >
                  <option value="2" >Crédito</option>
                  <option value=4>Transferencia</option>
				</select>
				<br>
				<input
                name="Anticipo"
                type="number"
                class="form-control"
                ng-model="Empresa.Anticipo"
                max="999999999"
                min="000000000"
                ng-maxlength="9"
                size="9"
                ng-required=""
                required=""
               
              />
              </div>
            </div>
          </div>
		</div>
		
		<div class="form-group row">
			<div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">
			  <div class="form-group">
				<button
				  ng-disabled="SessionCookie.IdTipoAcceso !== 1"
				  type="submit"
				  ng-click="EmpresaUpdateBudget()"
				  ng-disabled="!frm.$valid"
				  class="btn btn-primary btn-block"
				>
				  Aceptar
				</button>
			  </div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">
			  <div class="form-group">
				<button
				  type="button"
				  ng-click="EmpresaCancel()"
				  class="btn btn-warning btn-block"
				>
				  Cancelar
				</button>
			  </div>
			</div>
			<div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
		  </div>
      </form>
    </div>
  </div>
</div>
