<form ng-submit="BuscarEmpresas(Empresa.Busqueda);">

    <div class="container" ng-swipe-right="" ng-swipe-left="">
        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h2>Nuestros distribuidores</h2> 
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="input-group"> 
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Busca un distribuidor..." ng-model="Empresa.Busqueda" size="255">
                        <i class="form-control-feedback glyphicon glyphicon-search"></i>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default kingBlueColor white" type="submit"> Buscar </button>
                    </span>
                </div>
            </div>
        </div>

        <br>

        <div ng-show="(Empresas == null)">
            <h4>Busca un distribuidor...</h4>
        </div>

        <div ng-show="(Empresas.length > 0)">

            <div class="form-group row" ng-show="TablaVisible">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <table class="table table-hover table-responsive border-left-right-cero">

                        <th style="cursor:pointer" ng-click="OrdenarPor('NombreEmpresa')"><b>&nbsp;Nombre <span class="fa fa-sort"></span></b></th>

                        <tr ng-repeat="Empresa in Empresas | filter:EmpresasFilter | orderBy:sortBy:reverse" class="repeat-animation">
                            <td>
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                        <div class="form-group">
                                            
                                            <h4><b>{{Empresa.NombreEmpresa}}</b></h4>
                                            <h4>ERP: {{Empresa.IdERP}} | RFC: {{Empresa.RFC}}</h4>
                                            <h5>Crédito: {{Empresa.Credito | currency: "$" : 2 }} MXN</h5>
                                            
                                            <div>
                                                <div class="checkbox">
                                                    <label><input id="CartaConfirmacion1" type="checkbox" ng-checked="Empresa.CartaConfirmacion1" ng-true-value="1" ng-false-value="0" ng-model="Empresa.CartaConfirmacion1" ng-click="ActualizarConfirmacionCarta(Empresa)" ng-disabled="SessionCookie.IdTipoAcceso !== 1"> Carta de tarjeta bancaria recibida electrónicamente</label>
                                                </div>
    
                                                <div class="checkbox">
                                                    <label><input id="CartaConfirmacion2" type="checkbox" ng-checked="Empresa.CartaConfirmacion2" ng-true-value="1" ng-false-value="0" ng-model="Empresa.CartaConfirmacion2" ng-click="ActualizarConfirmacionCarta(Empresa)" ng-disabled="SessionCookie.IdTipoAcceso !== 1"> Carta de tarjeta bancaria recibida físicamente</label>
                                                </div>
                                            </div>
                                            <!---Actulización de agente IBM-->
                                            <div class="container">

                                                <div ng-show="Empresas.length > 0">
                                            
                                                   <div class="row" ng-show="1">   </div>
                                               
                                                    <div class="table-responsive ">
                                                
                                                      <table class="table table-hover border-left-right-cero">
                                                        <thead>
                                                            <tr style=" vertical-align: middle; font-size:14px; color:white; background-color:  #00549F;">
                                                                <th>Marca</th>
                                                                <th>Nivel del Distribuidor para descuentos</th>
                                                                <th>Agente   </th>
                                                                <th>  <span class="fa fa-floppy-o" ng-show="Empresa.cambiaAgente" title="Guardar Agentes" ng-click="ActualizarAgentes(Empresa)"; ActualizarRP(Empresa)"                  
                                                                style="cursor:pointer; color: white; font-size:24px; margin-left: -10px"></span> </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                         
                                                            <tr>
                                                                    <td style="vertical-align: middle">
                                                                        <input id="MarcaAutodesk" name=MarcaAutodesk type="text"  class="form-control" value="Autodesk" 
                                                                            placeholder="Autodesk" maxlength="9" title="Marca Autodesk "  ng-disabled="true"  >
                                                                    </td>
                                                                   
                                                                    <td style="vertical-align: middle">
                                                                        <select name="IdNivelDistribuidor" class="form-control" ng-model="Empresa.IdNivelDistribuidor" 
                                                                            ng-disabled="SessionCookie.IdTipoAcceso !== 1"
                                                                            ng-options="Niveles.IdNivelDistribuidor as Niveles.Nivel for Niveles in selectNivelesDistribuidor"
                                                                            ng-change="ActualizarIdNivelDistribuidor(Empresa);" >
                                                                        </select>
                                                                    </td>
                                                                  
                                                                    <td  style="vertical-align: middle; border-right-style : none" >
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" style="border-radius: 0;"> <span class="fa fa-user" style="border-radius: 0;" ></span></span> 
                                                                            <select name="IdAgenteAutodesk" class="form-control" ng-model="Empresa.IdAgenteAutodesk" 
                                                                            ng-options="Agentes.IdAgente as (Agentes.Nombre + ' ' + Agentes.Apellido + ' - ' + Agentes.Agente) for Agentes in selectAgentesDistribuidor "
                                                                            ng-change="ActualizarIdAgenteDistribuidorFabricantes(Empresa,2,1);"  title="Agente Autodesk" >
                                                                            </select>
                                                                        </div>
                                                                        <br>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon" style="border-radius: 0;"> <span class="fa fa-user" style="border-radius: 0;" ></span></span> 
                                                                            <select name="IdAgenteAutodeskRenovacion" class="form-control" ng-model="Empresa.IdAgenteAutodeskRenovacion" 
                                                                            ng-options="Agentes.IdAgente as (Agentes.Nombre + ' ' + Agentes.Apellido + ' - ' + Agentes.Agente) for Agentes in selectAgentesDistribuidor "
                                                                            ng-change="ActualizarIdAgenteDistribuidorFabricantes(Empresa,2,2);" title="Agente Autodesk Renovación" >
                                                                        </select>
                                                                        </div>
                                                                    </td>
                                                                    
                                                                    <td  style="vertical-align: middle; border-left-style : none" >
                                                                    </td>
                                                            </tr>
                                               
                                                           <tr>
                                                                <td style="vertical-align: middle">
                                                                    <input id="MarcaMicrosoft" name=MarcaMicrosoft type="text"  class="form-control" value="Microsoft"   placeholder="Microsoft" maxlength="9" title="Marca Microsoft "  ng-disabled="true"  >
                                                                </td>
                                                               
                                                                <td style="vertical-align: middle">
                                                                    <select name="IdNivelDistribuidorMicrosoft" class="form-control" ng-model="Empresa.IdNivelDistribuidorMicrosoft" 
                                                                    ng-options="Niveles.IdNivelDistribuidor as Niveles.Nivel for Niveles in selectNivelesDistribuidor "
                                                                    ng-change="ActualizarIdNivelDistribuidorMicrosoft(Empresa);">
                                                                    </select>
                                                                </td>
                                                               
                                                                <td style="vertical-align: middle ; border-right-style : none" >
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" style="border-radius: 0;"> <span class="fa fa-user" style="border-radius: 0;" ></span></span> 
                                                                        <select name="IdAgenteMicrosoft" class="form-control" ng-model="Empresa.IdAgenteMicrosoft" 
                                                                        ng-options="Agentes.IdAgente as (Agentes.Nombre + ' ' + Agentes.Apellido + ' - ' + Agentes.Agente) for Agentes in selectAgentesDistribuidor "
                                                                        ng-change="ActualizarIdAgenteDistribuidorFabricantes(Empresa,1,0);"  title="Agente Microsoft" >
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                               
                                                                <td  style="vertical-align: middle; border-left-style : none" >
                                                                </td>
                                                           </tr>
                                            
                                                            <tr>
                                                                <td style="vertical-align: middle">
                                                                    <input id="MarcaAmazon" name=MarcaAmazon type="text"  class="form-control" value="Amazon" 
                                                                    placeholder="Amazon" maxlength="9" title="Marca Amazon "  ng-disabled="true"  >
                                                                </td>
                                                               
                                                                <td style="vertical-align: middle">
                                                                    <select name="IdNivelDistribuidorAmazon" class="form-control"   ng-model="selection3" ng-init="selection3 ='NoDescuento'"  ng-disabled="true"  >
                                                                    <option value="NoDescuento">No hay niveles de descuento</option>
                                                                    <option value="Autodesk">Autodesk</option>
                                                                    <option value="AutodeskRenovacion">Autodesk Renovación</option>
                                                                    <option value="Microsoft">Microsoft</option>
                                                                    <option value="Amazon">Amazon</option>
                                                                    <option value="IBM">IBM</option>
                                                                    </select>
                                                                </td>
                                                               
                                                                <td style="vertical-align: middle ; border-right-style : none" >
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" style="border-radius: 0;"> <span class="fa fa-user" style="border-radius: 0;" ></span></span> 
                                                                        <select name="IdAgenteAmazon" class="form-control" ng-model="Empresa.IdAgenteAmazon" 
                                                                        ng-options="Agentes.IdAgente as (Agentes.Nombre + ' ' + Agentes.Apellido + ' - ' + Agentes.Agente) for Agentes in selectAgentesDistribuidor "
                                                                        ng-change="ActualizarIdAgenteDistribuidorFabricantes(Empresa,10,0);"  title="Agente Amazon" > 
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                              
                                                                <td  style="vertical-align: middle; border-left-style : none" >
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="vertical-align: middle">
                                                                <input id="MarcaIBM" name=MarcaIBM type="text"  class="form-control" value="IBM" 
                                                                placeholder="IBM" maxlength="9" title="Marca IBM "  ng-disabled="true"  >
                                                                </td>
                                     
                                                                <td style="vertical-align: middle">
                                                                    <select name="IdNivelDistribuidorIBM" class="form-control" ng-model="Empresa.IdNivelDistribuidorIBM" 
                                                                    ng-options="Niveles.IdNivelDistribuidor as Niveles.Nivel for Niveles in selectNivelesDistribuidor "
                                                                    ng-change="ActualizarIdNivelDistribuidorIBM(Empresa);">
                                                                    </select>
                                                                 </td>
                                                                                                
                                                                <td style="vertical-align: middle ; border-right-style : none" >
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon" style="border-radius: 0;"> <span class="fa fa-user" style="border-radius: 0;" ></span></span> 
                                                                        <select name="IdAgenteIBM" class="form-control" ng-model="Empresa.IdAgenteIBM" 
                                                                        ng-options="Agentes.IdAgente as (Agentes.Nombre + ' ' + Agentes.Apellido + ' - ' + Agentes.Agente) for Agentes in selectAgentesDistribuidor "
                                                                        ng-change="ActualizarIdAgenteDistribuidorFabricantes(Empresa,11,0);" title="Agente IBM" >
                                                                        </select>
                                                                    </div>
                                                                </td>
      
                                                                <td  style="vertical-align: middle; border-left-style : none" >
                                                                </td>
                                             
                                                            </tr>

                                                        </tbody>
                                                
                                                      </table>
                                                
                                                    </div>
 
                                                  </div>
                                            </div> <!---Fin Actulización de agente IBM-->                                        

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;">
                                                <h5>Fecha de activación: {{Empresa.FechaActivo | date:'d/MM/yyyy' }}</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <div class="pull-right">
                                                <h4>
                                                    <a title="Administrar RPs" href="#/ConfigurarRPs/{{Empresa.IdEmpresa}}"><span class="glyphicon glyphicon-list-alt" ng-show="true"></span></a>                                                    &nbsp;&nbsp;
                                                    <a title="Importar usuarios finales" href="#/Empresas/Importar/{{Empresa.IdEmpresa}}"><span class="glyphicon glyphicon-cloud-download" ng-show="true"></span></a>                                                    &nbsp;&nbsp;
                                                    <a title="Editar crédito" href="#/Credito/{{Empresa.IdEmpresa}}"><span class="glyphicon glyphicon-edit"></span></a>                                                    &nbsp;&nbsp;
                                                    <a title="Eliminar del click suscribe"  ng-click="BajaEmpresa($index, Empresa.IdEmpresa)" ng-hide="SessionCookie.IdTipoAcceso !== 1"><span class="glyphicon glyphicon-trash"></span></a>                                                
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>

            <div class="form-group row" ng-show="TablaVisible">
                <div class="pull-left">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        Empresas totales: {{ Empresas.length }}
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>