<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <h2>Administrador de proyectos</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
      <label for="Busqueda">&nbsp;</label> 
      <div class="has-feedback">
        <input name="Busqueda" type="text" ng-model="EmpresaFilter" class="form-control" size="30" placeholder="Busca un cliente..." />
        <i class="form-control-feedback glyphicon glyphicon-search"></i>
      </div>
    </div>
  </div>
  <div ng-show="!(Empresas.length > 0)">
    <br>
    <h4>El distribuidor no tiene clientes...</h4>
  </div>

    <div class="table-responsive">

      <table class="table table-hover border-left-right-cero">
        <thead>
          <tr style="font-size:14px">
            <th>
              Nombre
            </th>
            <th>
              Nivel
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="Empresa in Empresas | filter : EmpresaFilter" class="repeat-animation">
            <td>
              <h3 style="color:#00549F;">{{Empresa.NombreEmpresa}}</h3>
              <h5><b>RFC: </b>{{Empresa.RFC}}<b style="margin-left: 16px">Fecha activo: </b>{{Empresa.FechaActivo | date:'dd/MM/yyyy'}}</h5>
            </td>
            <td style="vertical-align: middle">
              <select name="Empresa" class="form-control" ng-model="value" ng-change="asignarNivelTuClick(Empresa, value)">
                 <option value="">{{Empresa.NombreNivel}}</option> 
                <option ng-repeat="Nivel in Niveles" value="{{Nivel.IdNivelEmpresaUsuarioFinal}}"ng-show="{{Empresa.IdNivelDis !== Nivel.IdNivelEmpresaUsuarioFinal}}">{{Nivel.Nivel}}</option>
              </select>
            </td>
            <td style="vertical-align: middle">
              <span class="fa fa-times" ng-show="SessionCookie.IdTipoAcceso === 2 && Empresa.NombreNivel" title="Quitar nivel" ng-click="removerNivel(Empresa.IdEmpresasXEmpresa);" style="cursor:pointer; color: #337ab7; font-size:24px;margin-left: -10px"></span>
            </td>
          </tr>
        </tbody>

      </table>

    </div>
    <b>Número total de clientes:</b> {{ Empresas.length }}.

  </div>

</div>