<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h2>Administrador de proyectos</h2>
      </div>
     
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <label class="totalCredit" title="Crédito total asignado para su uso en click suscribe. Puedo repartir esta cantidad entre mis clientes.">Crédito total azure budget:</label> {{CreditoDisponible | currency}} pesos.
            <br>
            <label class="asignCredit" title="Crédito total repartido entre mis clientes.">Crédito total asignado:</label> {{CreditoRepartidoPorcentajeTotal}} % - {{CreditoRepartidoTotal | currency}} pesos .
            <br>
            <label class="giveCredit" title="Crédito disponible que aun puedo repartir entre mis clientes.">Crédito por repartir: </label> {{PorcentajeAzureBudget}} % - {{CreditoPorRepartirTotal | currency}} pesos.
            
        </div>
    

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
        <label for="Busqueda">&nbsp;</label>
        <div class="has-feedback">
          <input name="Busqueda" type="text" ng-model="EmpresaFilter" class="form-control" size="30" placeholder="Busca un cliente..."
          />
          <i class="form-control-feedback glyphicon glyphicon-search"></i>
        </div>
      </div>
    </div>
    <div ng-show="!(Empresas.length > 0)">
      <br>
      <h4>El distribuidor no tiene clientes...</h4>
    </div>
  
    <div ng-show="Empresas.length > 0">
  
      <div class="row" ng-show="0">
        <div class="col-xs-12 col-sm-12 col-md-offset-8 col-md-4 col-lg-4" style="display:flex; align-items:center; margin-bottom:16px">
          <div class="form-group">
            <label labelfor="Cantidad" title="Tipo de cambio protegido.">Cambiar tipo de cambio para todos: </label>
            <div class="input-group">
              <span class="input-group-addon" style="border-radius: 0;">$</span>
              <input id="Cantidad" name="Cantidad" type="text" ng-model="RPTodos" class="form-control" value="0" step="1000" placeholder="Tipo de cambio protegido."
              />
            </div>
            <div ng-show="MostrarMensajeError">
              <p style="color:red">Ingresa una cantidad valida.</p>
            </div>
          </div>
          <span class="fa fa-floppy-o" style="cursor:pointer; color: #337ab7; font-size:24px; margin-left:5px; padding-right:8px; padding-top:8px"
            title="Guardar" ng-click="ActualizarTodos();" ng-show="!frmCantidad.Cantidad.$error.max"></span>
        </div>
      </div>
  
      <div class="table-responsive ">
  
        <table class="table table-hover border-left-right-cero">
          <thead>
            <tr style="font-size:14px">
              <th>Nombre</th>
              <th colspan="3">Azure</th>
              <th colspan="3">Descuento promo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="Empresa in Empresas | filter : EmpresaFilter" class="repeat-animation">
              <td style="max-width: 310px;">
                <h3 style="color:#00549F;">{{Empresa.NombreEmpresa}}</h3>
                <h5>
                  <b>RFC: </b>{{Empresa.RFC}}
                  <b style="margin-left: 16px">Fecha activo: </b>{{Empresa.FechaActivo | date:'dd/MM/yyyy'}}</h5>
              </td>
              <td>
                
               
                    <div class="form-group" style="margin-top:13px;">
                        <label labelfor="" title="Cantidad por pagar que fué vendida a este cliente.">Cantidad </label>
                        <br>
                        {{ (CreditoDisponible * Empresa.PorcentajeAzureBudget) / 100 | currency}} pesos .                                  
                    </div>
                  </td>
                <td>
                  <div class="pesosCredit" style="margin-top:13px;">
                  <div class="form-group">
                      <label labelfor="Cantidad" title="Cantidad que se otorga de crédito a este cliente.">Crédito asignado en porcentaje </label>
                      <div class="input-group">
                          <span class="input-group-addon">%</span>
                          <input  id="Cantidad" name="Cantidad" type="number" pattern="[0-9.]*" ng-model="Empresa.PorcentajeAzureBudget" class="form-control" 
                                  value="0" min="0" step="1" placeholder="Porcentaje asignado" ng-change="actualizarCantidades(Empresa)"
                                  min="0" size="3" maxlength="3" ng-disabled="!Validacion"/>
                      </div>
                      
                      <br>

                      <p style="color:red" ng-show="Empresa.WarningCredito">Sin crédito suficiente para la renovación</p>
                      <p style="color:red" ng-show="Empresa.maxlength">No puedes pasar de 100 % asignado</p>
                      <p style="color:red" ng-show="frmCantidad.Cantidad.$error.max">Crédito total {{CreditoDisponible | currency}}</p>
                      
                  </div>
                  </div>
              
              </td>
              <td style="vertical-align:middle">
            

                <button ng-disabled="!Validacion" ng-if = "!Empresa.maxlength" class="btn btn-successSave btn-block" ng-click="ActualizarCredito(Empresa)" ng-show="SessionCookie.IdTipoAcceso === 1 || SessionCookie.IdTipoAcceso === 2 || SessionCookie.IdTipoAcceso === 3 || SessionCookie.IdTipoAcceso === 4">Guardar</button>

            
            </td>
                
              
              <td style="vertical-align:middle">
                <div class="input-group" >
                  <span class="input-group-addon" style="border-radius: 0;">$</span> 
                  <input id="Cantidad" name="Cantidad" type="text" ng-model="Empresa.DescuentoPromo" class="form-control" value="0" step="1000"
                    placeholder="Descuento promo." maxlength="1" ng-disabled="SessionCookie.IdTipoAcceso !== 1" />
                </div>
                <div ng-show="Empresa.MostrarMensajeError">
                  <p style="color:red">Ingresa una cantidad valida.</p>
                </div>
              </td>            
              <td style="vertical-align:middle">
                <div>
                <span class="fa fa-floppy-o"  ng-show="SessionCookie.IdTipoAcceso === 1" title="Guardar promo" ng-click="UpdatePromo(Empresa);"
                  style="cursor:pointer; color: #337ab7; font-size:24px; margin-left: -10px"></span>
                </div>
              </td>
              <td style="vertical-align:middle">
                <div>
                <span class="fa fa-times" ng-show="SessionCookie.IdTipoAcceso === 1 && Empresa.DescuentoPromo" title="Quitar promo" ng-click="removerPromo(Empresa);"
                  style="cursor:pointer; color: #337ab7; font-size:24px;margin-left: -10px"></span>
                </div>
              </td>
            </tr>
          </tbody>
  
        </table>
  
      </div>
      <b>Número total de clientes:</b> {{ Empresas.length }}.
  
    </div>
  
  </div>