<div class="container">

    <h2>Importar usuarios finales. </h2>
    <br>

    <form name="frm" ng-swipe-right="EmpresaCancel()">
        <hr>
        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-4 col-md-8 col-lg-8">
                <div class="pull-rigth">
                    <h3>Distribuidor: {{Empresa.NombreEmpresa}}</h3>
                    <br>
                    <button class="btn btn-primary newClient" ng-click="Regresar()">Regresar </button>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="Busqueda">&nbsp;</label>
                <div class="form-group has-feedback">
                    <input name="Busqueda" type="text" ng-model="EmpresaFilter" class="form-control" size="30" placeholder="Busca un cliente..."
                    />
                    <i class="form-control-feedback glyphicon glyphicon-search"></i>
                </div>

            </div>
        </div>



        <table class="table table-hover table-responsive border-left-right-cero">
            <tr ng-repeat="uf in EmpresasM | filter:EmpresaFilter" class="repeat-animation">
                <td>
                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <h4><b>{{uf.displayName}}</b></h4>
                            <label for="">Microsoft ID: {{uf.customerContextId}}</label>
                            <br>
                            <label for="">Dominio: {{uf.defaultDomainName}}</label>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 pull-right">
                            <div class="pull-right">
                                <button class="btn btn-primary newClient" ng-click="ImportarEmpresa(IdEmpresaDistribuidor,uf.customerContextId,uf.defaultDomainName,uf.displayName)">Importar </button>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>