<div class="container">

    <h2>Importar usuarios finales. </h2>
    <br>

    <form name="frm" ng-swipe-right="EmpresaCancel()">
        <hr>
        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-4 col-md-8 col-lg-8">
                <div class="pull-rigth">
                    <h3>Distribuidor: {{Empresa.NombreEmpresa}}</h3>
                    <br>
                    <button class="btn btn-primary newClient" ng-click="Regresar()">Regresar </button>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <label for="Busqueda">&nbsp;</label>
                <div class="form-group has-feedback">
                    <input name="Busqueda" type="text" ng-model="EmpresaFilter" class="form-control" ng-change="filter()" size="30" placeholder="Busca un cliente..."
                    />
                    <i class="form-control-feedback glyphicon glyphicon-search"></i>
                </div>

            </div>
        </div>



        <table class="table table-hover table-responsive border-left-right-cero">
            <tr ng-repeat="item in filtered| filter:EmpresaFilter" class="repeat-animation">
                <td>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <h4><b>{{item.companyProfile.companyName}}</b></h4>
                            <label for="">Microsoft ID: {{item.id}}</label>
                            <br>
                            <label for="">Dominio: {{item.companyProfile.domain}}</label>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 pull-right">
                            <div class="pull-right">
                                <button class="btn btn-primary newClient" ng-click="ImportarEmpresa(IdEmpresaDistribuidor,item.id,item.companyProfile.domain,item.companyProfile.companyName)"  ng-disabled="SessionCookie.IdTipoAcceso !== 1">Importar </button>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
        <div ng-show="filtered.length === 0" style = "text-align:center"><h4>No se encontraron resultados.</h4></div>        
        <div ng-hide="filtered.length === 0" style="margin: auto; text-align: center;" >
          <pagination class="pager" ng-model="currentPage" total-items="listaAux.length" max-size="maxSize" boundary-links="true"></pagination>
        </div>
    </form>
</div>