<div class="container">
    
        <h2>Asignar Dominio Microsoft</h2>
        <br>
        <p>**En caso de que su cliente ya tenga una cuenta de Microsoft, envié esta <a href="https://portal.office.com/partner/partnersignup.aspx?type=ResellerRelationship&id=9e09e971-5b2c-47d3-acec-be60c2665bae&csp=1&msppid=0" target="_blank">liga</a> para que pueda adquirir los productos de CSP, una vez aceptada la invitación ponte en contacto con el equipo de soporte CompuSoluciones para proporcionarles su RFC y correo del administrador para realizar la importación de sus suscripciones.</p>
        <br>
        <form name="frm" ng-swipe-right="">
            <label>Empresa</label>
            
            <hr>
            
            <div class="form-group row">
                
                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="pull-rigth">
                        <label for="">Nombre de la Empresa:</label> 
                        <br>
                        <label>{{Empresa.NombreEmpresa}}</label>
                    </div>
                </div>
    
                <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="pull-rigth">
                        <label>Dominio Microsoft</label>        
                        <div class="input-group">                                                                        
                        <input name="DominioMicrosoft" type="text" ng-model="Empresa.DominioMicrosoft" ng-pattern="/^[a-zA-Z0-9]*$/" ng-change="change()"
                        class="form-control" ng-model-onblur ng-model-options="{ updateOn: 'blur' }" placeholder="" size="255" ng-maxlength="255" />
                            <span class="input-group-addon">.onmicrosoft.com</span>                            
                        </div>                        
                        <b style="color:red" ng-show="frm.DominioMicrosoft.$invalid && !frm.DominioMicrosoft.$pristine" class="help-block">{{Empresa.MensajeDominio}}</b>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-xs-12 col-sm-4 col-md-2 col-lg-2">
    
                    <div class="pull-rigth">
                            <label for="">RFC:</label> 
                            <br>
                            <label>{{Empresa.RFC}}</label>
                    </div>
    
                </div>
            </div>
            <br/>
            <br>
    
            <div class="form-group row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <!--<img src="images/loading.gif" style="width:45px;height:45px" ng-show="loading" />-->
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                    <div class="form-group">
                        <!--ng-disabled="frm.$invalid ||  Empresa.Formulario"-->
                        <button type="submit" ng-click="change()" class="btn btn-primary btn-block">Aceptar</button>                        
                    </div>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                    <div class="form-group">
                        <button type="button" ng-click="EmpresaCancel()" ng-disabled="Empresa.Formulario" class="btn btn-warning btn-block">Cancelar</button>
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
            </div>
    
        </form>
    
    </div>