<div class="container">
    
    <h2>Cliente Nuevo</h2>
    <br>
    <p>**En caso de que su cliente ya tenga una cuenta de Microsoft, envié esta <a href="https://portal.office.com/partner/partnersignup.aspx?type=ResellerRelationship&id=9e09e971-5b2c-47d3-acec-be60c2665bae&csp=1&msppid=0" target="_blank">liga</a> para que pueda adquirir los productos de CSP, una vez aceptada la invitación ponte en contacto con el equipo de soporte CompuSoluciones para proporcionarles su RFC y correo del administrador para realizar la importación de sus suscripciones.</p>
    <br>
    <form name="frm" ng-swipe-right="">
        <label>Empresa</label>
        
        <hr>
        
        <div class="form-group row">
            
            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Nombre de la Empresa *</label>
                    <input name="NombreEmpresa" type="text" ng-model="Empresa.NombreEmpresa" class="form-control" placeholder="" 
                    required="" />
                    <b style="color:red" ng-show="frm.NombreEmpresa.$invalid && !frm.NombreEmpresa.$pristine" class="help-block">El nombre de empresa es requerido.</b>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Dominio Microsoft (Obligatorio para compras con Microsoft).</label>
                    <div class="input-group">                                            
                        <input name="DominioMicrosoft" type="text" ng-model="Empresa.DominioMicrosoft"  ng-change="change()"
                        class="form-control" ng-model-onblur ng-model-options="{ updateOn: 'blur' }" placeholder="" size="255" ng-maxlength="255" />

                        <span class="input-group-addon">.onmicrosoft.com</span>        
                    </div>
                    
                    <b style="color:red" ng-show="frm.DominioMicrosoft.$invalid && !frm.DominioMicrosoft.$pristine" class="help-block">{{Empresa.MensajeDominio}}</b>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <div class="pull-rigth">
                    <label>Dirección *</label>
                    <input name="Direccion1" type="text" ng-model="Empresa.Direccion" class="form-control" placeholder="" size="255" ng-maxlength="255"
                    required="" />
                    <b style="color:red" ng-show="frm.Direccion1.$invalid && !frm.Direccion1.$pristine" class="help-block">La dirección es requerida.</b>
                </div>

            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-2 col-lg-2">

                <div class="pull-rigth">
                    <label>Tipo RFC *</label>
                     <select name="TipoRFC" ng-model="Empresa.TipoRFC" class="form-control" required="" ng-change="ComboRFC()">
                        <option ng-selected="true" value="">Selecciona uno ..</option>
                        <option ng-repeat="option in Combo.TipoRFC" value="{{option.Nombre}}">{{option.Nombre}}</option>
                    </select>
                   
                </div>

            </div>
            <div class="form-group col-xs-12 col-sm-4 col-md-2 col-lg-2">

                <div class="pull-rigth">
                    <label>RFC *</label>
                    <input name="RFC" type="text" ng-model="Empresa.RFC" class="form-control" placeholder="" size="255" ng-maxlength="255" ng-model-onblur ng-model-options="{ updateOn: 'blur' }" required="" ng-change="ValidarRFC()" 
                    />
                    <!--<b style="color:red" ng-show="valido" class="help-block">{{mensajerfc}}</b>-->
                    <b style="color:red" ng-show="frm.RFC.$invalid && !frm.RFC.$pristine" class="help-block">{{mensajerfc}}</b>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <div class="pull-rigth">
                    <label>Ciudad *</label>
                    <input name="Ciudad" type="text" ng-model="Empresa.Ciudad" class="form-control" placeholder="" size="255" ng-maxlength="255"
                    required="" />
                    <b style="color:red" ng-show="frm.Ciudad.$invalid && !frm.Ciudad.$pristine" class="help-block">La Ciudad es requerida.</b>
                </div>

            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="pull-rigth">
                    <label>Estado o provincia *</label>
                    <select name="Estado" ng-model="Empresa.Estado" class="form-control" required="">
                        <option ng-selected="true" value="">Selecciona uno ..</option>
                        <option ng-repeat="option in Combo.EstadoOptions" value="{{option.Nombre}}">{{option.Nombre}}</option>
                    </select>
                    <b style="color:red" ng-show="frm.Estado.$invalid && !frm.Estado.$pristine" class="help-block">Selecciona un estado.</b>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2">

                <div class="pull-rigth">
                    <label>Código postal *</label>
                    <input name="Postal" type="text" ng-model="Empresa.CodigoPostal" class="form-control" placeholder="" size="5" ng-maxlength="5" ng-minlength="5"
                    ng-pattern="/^\d+$/" required="" />
                    <b style="color:red" ng-show="frm.Postal.$invalid && !frm.Postal.$pristine" class="help-block">Ingresa un código postal válido.</b>
                </div>

            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
                
                        <label>Industria*</label>
                        <select name="IdIndustria"  class="form-control filterOption" ng-mouseover=""  ng-model="Empresa.IdIndustria" ng-options="+(Industria.IdIndustria) as Industria.Industria for Industria in selectIndustrias"
                        ng-change="">
                        <option value="">Selecciona uno ..
                                <span ng-show="true" class="animate-show">
                                        <a>
                                            
                                            {{selectIndustrias.Descripcion}}
                                        </a>
                                    </span>
                        </option>    
                        </select>

            </div>
        </div>
        
        <br/>
        <label>Contacto principal</label>
        <hr>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">

                <div class="pull-rigth">
                    <label>Nombre *</label>
                    <input name="Nombre" type="text" ng-model="Empresa.Nombre" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="" size="255" ng-maxlength="50"
                    required="" />
                    <b style="color:red" ng-show="frm.Nombre.$invalid && !frm.Nombre.$pristine" class="help-block">Ingresa un nombre.</b>
                </div>

            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Apellidos *</label>
                    <input name="Apellidos" type="text" ng-model="Empresa.ApellidoPaterno" class="form-control" ng-pattern="/[a-zA-Z]$/" placeholder="" size="255" ng-maxlength="80"
                    required="" />
                    <b style="color:red" ng-show="frm.Apellidos.$invalid && !frm.Apellidos.$pristine" class="help-block">Ingresa los apellidos.</b>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">

                <div class="pull-rigth">
                    <label>Correo electrónico *</label>
                    <input name="CorreoElectronico" type="mail" ng-model="Empresa.CorreoElectronico" class="form-control" placeholder="" size="255"
                    ng-maxlength="255"   required="" />
                    <b style="color:red" ng-show="frm.CorreoElectronico.$invalid && !frm.CorreoElectronico.$pristine" class="help-block">Ingresa un correo válido.</b>
                </div>
                <!--ng-pattern="/^[a-z]+[a-z0-9._-]+@[a-z]+\.[a-z.]{2,5}$/+\.[a-z.]{2,5}$/"-->
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="pull-rigth">
                    <label>Número de celular </label>
                </div>
                <div class="form-group row">
                    <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="pull-rigth">
                            <input name="Lada" ui-mask="+99" ui-mask-placeholder type="text" ng-model="Empresa.Lada"  class="form-control" placeholder="" size="255" ng-maxlength="255" />
                        </div>
                    </div>
                    <div class="form-group col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="pull-rigth">
                            <input name="Telefono" type="text" ng-model="Empresa.Telefono" ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" placeholder="" size="255" ng-maxlength="255" />
                            <b style="color:red" ng-show="frm.Telefono.$invalid && !frm.Telefono.$pristine" class="help-block">Ingresa un teléfono válido.</b>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>

        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!--<img src="images/loading.gif" style="width:45px;height:45px" ng-show="loading" />-->
            </div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                <div class="form-group">
                    <!--ng-disabled="frm.$invalid ||  Empresa.Formulario"-->
                    <button type="submit" ng-click="EmpresaCreate()" class="btn btn-primary btn-block" ng-if="aceptarButton">Aceptar</button>
                    <br/><b style="color:red">{{AlertaDominio}}</b>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
                <div class="form-group">
                    <button type="button" ng-click="EmpresaCancel()" ng-disabled="Empresa.Formulario" class="btn btn-warning btn-block">Cancelar</button>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8"></div>
        </div>

    </form>

</div>