<div class="container" ng-swipe-right="" ng-swipe-left="">

  <div class="row">
    <div class="col-sm-12 vcenter">
      <div class="d-flex justify-content-center align-middle">
        <h1 style="border-bottom: 1px solid #68953b; padding-bottom: 17px">Cofirmando compra, por favor espera unos
          instantes.</h1>
        <h3>Por favor no salgas de éste sitio mientras terminamos de validar tu compra.</h3>
        <img class="logoFooter" src="images/preloaderOpenpay.gif"
        height="200" width="200">
      </div>
    </div>
  </div>

</div>