<div class="container">
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Conecta con CompuSoluciones</h1>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Para consultas, dudas o simplemente ponerte en contacto con nuestros profesionales, da click
                <a target="_blank" href="http://www.compusoluciones.com/contacto/">aquí</a>
            </p>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Guadalajara</h3>
            Av. Mariano Otero 1105<br> Col. Rinconada del Bosque 44530<br> Teléfono: +52 (33) 5000-7777<br>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Ciudad de México</h3>
            Pennsylvania 4<br> Col. Nápoles 03810<br> Teléfono: +52 (55) 5000-7777<br>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Monterrey</h3>
            Av. Paseo María Elena 1101<br> Col. Ampliación Valle del Mirador 64750<br> Teléfono: +52 (81) 5000-7777<br>
        </div>
    </div>
</div>
