<form>

    <div class="container" ng-swipe-right="" ng-swipe-left="">

        <div class="form-group row">

            <div class="form-group col-xs-12 col-sm-12 col-md-8 col-lg-8">
                
                <h2>Reportes y estadisticas</h2>
                
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                
                <select name="IdReporte" class="form-control" ng-model="reporteSel" 
                        ng-options="Reportes.IdReporte as Reportes.NombreReporte for Reportes in reportesSel"
                        ng-change="GenerarReporte();">    
                        <option value="" ng-selected="true">Selecciona un reporte...</option>
                </select>
                
            </div>

        </div>

        <br>

        <div>
            
            <h4>Selecciona un reporte para exportar a Excel...</h4>
            Nota: Esta función solo está disponible para Google Chrome y Firefox.
            
            <h3><a ng-click="goToPage('power-bi')" ng-show="perfil.IdTipoAcceso === 1 || perfil.IdTipoAcceso === 8">Gráficas del sitio.</a></h3>

        </div>

    </div>

</form>