<div class="container">
  <h2>Alta facturación</h2>
  <p>Completar informacion necesaria para facturación.</p>
  <form name="frm" ng-swipe-right="">
    <hr>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label>Certificado *</label>
        <input name="CSD_B64" type="file" class="form-control" id="CSD_B64" required="" />
        <b style="color:red" ng-show="frm.CSD_B64.$invalid && !frm.CSD_B64.$pristine" class="help-block">El certificado es invalido.</b>
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label>Llave *</label>
        <input name="key_B64" type="file" class="form-control" id="key_B64" required="" />
        <b style="color:red" ng-show="frm.key_B64.$invalid && !frm.key_B64.$pristine" class="help-block">La llave certificado es invalido.</b>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label>RFC *</label>
        <input name="rfc" type="text" ng-model="InfoFactura.rfc" class="form-control" placeholder="" size="255" ng-maxlength="255"
          required="" />
        <b style="color:red" ng-show="frm.rfc.$invalid && !frm.rfc.$pristine" class="help-block">El rfc es requerido ó ha sobrepasado el limite de caracteres.</b>
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label>Contraseña de certificado *</label>
        <input name="contrasenaCSD" type="password" ng-model="InfoFactura.contrasenaCSD" class="form-control" placeholder="" size="255"
          ng-maxlength="255" required="" />
        <b style="color:red" ng-show="frm.contrasenaCSD.$invalid && !frm.contrasenaCSD.$pristine" class="help-block">La contraseña es requerido ó ha sobrepasado el limite de caracteres.</b>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-offset-9 col-sm-3">
        <button type="submit" ng-click="DarDeAlta()" class="btn btn-primary btn-block">Guardar</button>
      </div>
      <!--<div class="form-group col-xs-12 col-sm-3">
        <button type="button" ng-click="Cancelar()" class="btn btn-warning btn-block">Cancelar</button>
      </div>-->
    </div>
  </form>
</div>