<div class="container" ng-swipe-right="" ng-swipe-left="">
  <div class="row form-group">
    <div class="col col-xs-12 col-md-6">
        <label>RFC</label>
        <input disabled name="rfc" type="text" ng-model="factura.receptor.rfc" class="form-control" />
    </div>
      <div class="col col-xs-12 col-md-6">
        <label>Nombre empresa</label>
        <input disabled name="nombre" type="text" ng-model="factura.receptor.nombre" class="form-control" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col col-xs-12 col-md-4">
        <label>Tipo de cambio</label>
        <input name="tipoCambio" type="number" ng-disabled="factura.receptor.IdEstatusFactura != 1" ng-model="tipoCambio" ng-blur="changeTipoDeCambio()" ng-change="editTipoDeCambio()" class="form-control" />
    </div>
    <div class="col col-xs-12 col-md-4">
        <label>Moneda de pago</label>
        <select name="monedaPago" ng-disabled="factura.receptor.IdEstatusFactura != 1" class="form-control" ng-model="monedaPago" ng-options="o as o for o in catMonedaPago" ng-change="changeMonedaPago()" required=""></select>
    </div>
    <div class="form-group col-xs-12 col-md-4">
      <label>Forma de pago *</label>
      <select name="formaDePago" ng-disabled="factura.receptor.IdEstatusFactura != 1" class="form-control" ng-model="formaDePagoActual" ng-options="o as o.nombre for o in formaDePago" ng-change="changeFormaPago()" required=""></select>
    </div>
  </div>
  <h3>Conceptos</h3>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Descripción</th>
        <th>Valor unitario</th>
        <th>Importe</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="concepto in factura.conceptos" class="repeat-animation">
        <td>
          <input name="cantidad" type="number" ng-model="concepto.cantidad" ng-change="calculaPrecios()" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        </td>
        <td>
          <input name="descripcion" type="text" ng-model="concepto.descripcion" class="form-control">
        </td>
        <td>
          <input name="precio" type="number" ng-model="concepto.precio" ng-change="calculaPrecios()" class="form-control" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 46 || event.charCode === 45">
        </td>
        <td>
          <input disabled name="total" type="text" ng-model="concepto.total" class="form-control">
        </td>
        <td style="padding-top: 17px;" ng-show="factura.receptor.IdEstatusFactura == 1">
          <a style="font-size: 16px; padding-right: 10px" ng-click="editarConcepto(concepto.id)"><span class="glyphicon glyphicon-floppy-disk"></span></a>
          <a style="font-size: 16px" ng-click="borraConcepto(concepto.id)"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
      <tr class="repeat-animation" ng-show="factura.receptor.IdEstatusFactura == 1">
        <td>
          <input name="cantidad" type="number" ng-model="concepto.cantidad" ng-change="calculaConcepto()" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        </td>
        <td>
          <input name="descripcion" type="text" ng-model="concepto.descripcion" class="form-control">
        </td>
        <td>
          <input name="precio" type="number" ng-model="concepto.precio" ng-change="calculaConcepto()" class="form-control" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 46 || event.charCode === 45">
        </td>
        <td>
          <input disabled name="total" type="text" ng-model="concepto.total" class="form-control">
        </td>
        <td style="padding-top: 17px; padding-left: 20px; padding-right: 10px"><a style="font-size: 16px" ng-click="agregaConcepto()"><span class="glyphicon glyphicon-plus"></span></a></td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" ng-show="importeInvalido">
    <strong>Advertencia!</strong> Uno o mas de los importes tienen un valor de 0 o menor.
  </div>
  <div class="row">
    <div class="col col-xs-12 col-md-4">
      <div class="form-group">
        <label>Subtotal</label>
        <input disabled name="subtotal" type="text" ng-model="cobro.subtotal" class="form-control" />
      </div>
    </div>
    <div class="col col-xs-12 col-md-4">
      <div class="form-group">
        <label>IVA</label>
        <input disabled name="iva" type="text" ng-model="cobro.iva" class="form-control" />
      </div>
    </div>
    <div class="col col-xs-12 col-md-4">
      <div class="form-group">
        <label>Total</label>
        <input disabled name="total" type="text" ng-model="cobro.total" class="form-control" />
      </div>
    </div>
  </div>
  <br>
  <div class="form-group row" ng-show="factura.receptor.IdEstatusFactura == 2">
    <div class="col-xs-12  col-sm-3">
      <button ng-click="xml()" type="button" class="btn btn-primary btn-block">XML</button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button ng-click="pdf()" type="button"  class="btn btn-success btn-block">PDF</button>
    </div>
  </div>
  <div class="form-group row" ng-show="factura.receptor.IdEstatusFactura == 3">
    <div class="col-xs-12 col-sm-3">
        <label class="alert alert-danger">Este movimiento esta cancelado, puedes activarlo en el siguiente botón:</label>
        <button  type="button" ng-click="activarFactura()" class="btn btn-success btn-block">Cambiar Estatus a Pendiente por Facturar</button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-3">
      <button ng-show="factura.receptor.IdEstatusFactura == 1" type="button" ng-click="timbrarFactura()" class="btn btn-primary btn-block">Facturar</button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button ng-show="factura.receptor.IdEstatusFactura == 1" type="button" ng-click="cancelarFactura()" class="btn btn-danger btn-block">Eliminar movimiento</button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button type="button" ng-click="regresar()" class="btn btn-warning btn-block">Regresar</button>
    </div>
  </div>
</div>